.demand-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 705px;
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
    border: #f0f0f3 solid 1px;
}
.demand-item-like {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 24px;
    height: 24px;
}
.demand-item-title-box {
    margin-right: 159px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.demand-item-title {
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 600;
    font-size: 34px;
    line-height: 50px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}
.demand-item-middle-box {
    margin-top: 30px;
    width: 100%;
    display: flex;
}
.demand-item-middle-item {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.demand-item-brand-box {
    display: flex;
    align-items: center;
}
.demand-item-brand-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.demand-item-brand {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.demand-item-service-box {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.demand-item-service-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.demand-item-service {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.demand-item-demands-box {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.demand-item-demands-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.demand-item-demands {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.demand-item-price-box {
    display: flex;
    align-items: center;
}
.demand-item-price-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.demand-item-price {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.demand-item-total-price-box {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.demand-item-total-price-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.demand-item-total-price {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.demand-item-time-box {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.demand-item-time-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.demand-item-time {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.demand-item-bidder-box {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.demand-item-bidder-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.demand-item-bidder {
    margin-left: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    gap: -5px;
}
.demand-item-bidder-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: #fff solid 1px;
}
.demand-item-bidder-avatar-more {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: #fff solid 1px;
    background-color: #FFD8BF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FA541C;
    font-family: var(--primary-robotofont);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.demand-item-tag-box {
    width: 100%;
    flex-shrink: 1;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.demand-item-tag {
    padding: 4px 8px;
    border-radius: 16px;
    height: 32px;
    border: #d9d9d9 solid 1px;
}
.demand-item-tag-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.demand-item-empty-box {
    flex: 1;
    flex-shrink: 1;
}
.demand-item-button-box {
    margin-top: 30px;
    flex-shrink: 0;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.85);
    font-family: var(--primary-robotofont);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.demand-item-button-box-highlight {
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 0.85);
}