<div class="brand-page-list" id="D">
  <p>D</p>
  <div class="brand-page-list-line"></div>
  <div class="brand-page-list-box">
    <!-- @include ./brand-all-item.html -->
    <!-- @include ./brand-all-item.html -->
    <!-- @include ./brand-all-item.html -->
    <!-- @include ./brand-all-item.html -->
    <!-- @include ./brand-all-item.html -->
    <!-- @include ./brand-all-item.html -->
    <!-- @include ./brand-all-item.html -->
    <!-- @include ./brand-all-item.html -->
    <!-- @include ./brand-all-item.html -->
    <!-- @include ./brand-all-item.html -->
    <!-- @include ./brand-all-item.html -->
    <!-- @include ./brand-all-item.html -->
  </div>
</div>
