<div class="post-item figma-hot-post-item figma-hot-post-item-red">
                            <img class="post-item-icon" src="image/figma-hot-post-cover-red.jpg" />
                            <img class="icon-aixin" data-like="0" src="image/Vector_nor.png" alt="收藏按钮"
                                aria-label="收藏" aria-pressed="false" />
                            <div class="post-item-content">
                                <a href="post-detail.html?name=post-name" class="item-title-box">
                                    <p class="item-title">The article has a long title, and the title of the article is
                                        concise and attractive</p>
                                </a>
                                <div class="post-item-user-box">
                                    <img class="post-item-user-avatar" src="image/figma-hot-post-avatar-red.png" />
                                    <p class="post-item-user-name">Buckridge, M</p>
                                </div>
                                <div class="item-desc-box">
                                    <p class="item-desc">zhaiyao：lusto voluptatibus odit. Fugacupiditate at est deserunt
                                        quiapossimus.Et vel nulla laboriosam sintassumenda hic voluptas velit. Aut
                                        autenim repellendus </p>
                                </div>
                                <div class="item-brand-box">
                                    <p class="item-brand-text">Brand：</p>
                                    <p class="item-brand">Quora</p>
                                </div>
                                <div class="post-item-kind-box">
                                    <p class="post-item-kind-text">Kind：</p>
                                    <a class="item-tag"
                                        href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                                        target="_self">
                                        <span class="item-tag-text">Resolution : 4K</span>
                                    </a>
                                    <a class="item-tag"
                                        href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                                        target="_self">
                                        <span class="item-tag-text">Installation : Fixed</span>
                                    </a>
                                    <a class="item-tag"
                                        href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                                        target="_self">
                                        <span class="item-tag-text">Device : Universal</span>
                                    </a>
                                    <a class="item-tag"
                                        href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                                        target="_self">
                                        <span class="item-tag-text">Waterproof : Fully Waterproof</span>
                                    </a>
                                </div>
                            </div>
                        </div>
