<div class="comment-item figma-comment-item">
                    <div class="comment-item-user-box">
                        <img class="comment-item-user-avatar" src="image/figma-comment-avatar-alt.png" />
                        <div class="comment-item-user-name-box">
                            <p class="comment-item-user-name">Han Solo</p>
                            <p class="comment-item-user-time">1 day ago</p>
                        </div>
                    </div>
                    <div class="comment-item-desc-box">
                        <p class="comment-item-desc">We supply a series of design principles</p>
                    </div>
                    <!-- @include ./components/rating-score-only.html {"width":"100%","score":"5.0"} -->
                    <div class="post-item-kind-box">
                        <a class="item-tag" href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                            target="_self">
                            <span class="item-tag-text">Industry label</span>
                        </a>
                        <a class="item-tag" href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                            target="_self">
                            <span class="item-tag-text">Position label</span>
                        </a>
                        <a class="item-tag" href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                            target="_self">
                            <span class="item-tag-text">IT</span>
                        </a>
                    </div>
                </div>
