<div class="demand-item figma-popular-demand-item">
                            <!-- @include ./components/item-like-button.html {"like_class":"icon-aixin","like":"1","like_icon":"image/Vector_sel.png","like_alt":"收藏按钮","aria_label":"收藏","aria_pressed":"true"} -->
                            <a href="demand-detail.html?name=demand-name" target="_self" class="item-title-box">
                                <p class="item-title">Experienced Art Director Needed for Website Creation</p>
                            </a>
                            <div class="demand-item-content">
                                <div class="demand-item-middle-box">
                                    <div class="demand-item-row-box">
                                        <div class="item-brand-box demand-item-coloumn-box">
                                            <p class="item-brand-text">Brand: </p>
                                            <p class="item-brand" style="color: #FF1EAD;">GitLab</p>
                                        </div>
                                        <div
                                            class="item-service-box demand-item-coloumn-box demand-item-price-range-box">
                                            <p class="item-service-text" style="display: inline-block;">Price range:
                                            </p>
                                            <p class="item-service">$192.00</p>
                                        </div>
                                    </div>
                                    <div class="demand-item-row-box">
                                        <div class="item-service-box demand-item-coloumn-box">
                                            <p class="item-service-text">Service: </p>
                                            <p class="item-service">Social Accounts</p>
                                        </div>
                                        <div class="item-service-box demand-item-coloumn-box">
                                            <p class="item-service-text" style="display: inline-block;">Total price:
                                            </p>
                                            <p class="item-service">$1926.00</p>
                                        </div>
                                    </div>
                                    <div class="demand-item-row-box">
                                        <div class="item-service-box demand-item-coloumn-box">
                                            <p class="item-service-text" style="display: inline-block;">Dedmands: </p>
                                            <p class="item-service">14</p>
                                        </div>
                                        <div class="item-service-box demand-item-coloumn-box">
                                            <!-- <img class="item-service-icon" src="image/date-range.png"
                                                style="display: inline-block;" /> -->
                                            <p class="item-service-text">Bidding time: </p>
                                            <p class="item-service">2025/5/28 ~ 2025/5/28</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="demand-item-bidder-box">
                                    <span class="demand-item-bidder-text">Bidder：</span>
                                    <img class="demand-item-bidder-avatar" src="image/figma-demand-avatar-01.png" />
                                    <img class="demand-item-bidder-avatar" src="image/figma-demand-avatar-02.jpg" />
                                    <img class="demand-item-bidder-avatar" src="image/figma-demand-avatar-03.png" />
                                    <img class="demand-item-bidder-avatar" src="image/figma-demand-avatar-04.png" />
                                    <img class="demand-item-bidder-avatar" src="image/figma-demand-avatar-05.png" />
                                    <img class="demand-item-bidder-avatar" src="image/figma-demand-avatar-06.jpg" />
                                    <img class="demand-item-bidder-avatar" src="image/figma-demand-avatar-07.png" />
                                    <img class="demand-item-bidder-avatar" src="image/figma-demand-avatar-08.png" />
                                    <img class="demand-item-bidder-avatar" src="image/figma-demand-avatar-09.png" />
                                    <img class="demand-item-bidder-avatar" src="image/figma-demand-avatar-10.jpg" />
                                    <div class="demand-item-bidder-avatar-more">+2</div>
                                </div>
                                <div class="item-tag-box">
                                    <a class="item-tag"
                                        href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                                        target="_self">
                                        <span class="item-tag-text">Waterproof : Fully Waterproof</span>
                                    </a>
                                    <a class="item-tag"
                                        href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                                        target="_self">
                                        <span class="item-tag-text">Resolution : 4K</span>
                                    </a>
                                    <a class="item-tag"
                                        href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                                        target="_self">
                                        <span class="item-tag-text">Installation : Fixed</span>
                                    </a>
                                    <a class="item-tag"
                                        href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                                        target="_self">
                                        <span class="item-tag-text">Device : Universal</span>
                                    </a>
                                    <a class="item-tag"
                                        href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                                        target="_self">
                                        <span class="item-tag-text">Waterproof : Fully Waterproof</span>
                                    </a>
                                    <a class="item-tag"
                                        href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                                        target="_self">
                                        <span class="item-tag-text">Use : Decor</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item-button-box demand-button disabled">
                                BID NOW</div>
                        </div>
