<div class="comment-item figma-comment-item">
                    <div class="comment-item-user-box">
                        <img class="comment-item-user-avatar" src="image/figma-comment-avatar.jpg" />
                        <div class="comment-item-user-name-box">
                            <p class="comment-item-user-name">Han Solo</p>
                            <p class="comment-item-user-time">1 day ago</p>
                        </div>
                    </div>
                    <div class="comment-item-desc-box">
                        <p class="comment-item-desc">We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure), to help people create their produc and <span class="comment-item-desc-more">see more</span></p>
                    </div>
                    <div class="item-star-box">
                        <div class="star-bg">
                            <div class="stars-outer">
                                <div class="stars-inner" style="width: 100%;"></div>
                            </div>
                        </div>
                        <p class="item-star-score">5.0</p>
                    </div>
                    <div class="post-item-kind-box">
                        <a class="item-tag" href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                            target="_self">
                            <span class="item-tag-text">Industry label</span>
                        </a>
                        <a class="item-tag" href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                            target="_self">
                            <span class="item-tag-text">Position label</span>
                        </a>
                        <a class="item-tag" href="attribute-all.html?type=demand&name=demand-name&value=demand-value"
                            target="_self">
                            <span class="item-tag-text">IT</span>
                        </a>
                    </div>
                </div>
