<div class="store-item figma-best-store-item">
                            <img class="icon-aixin" data-like="0" src="image/Vector_nor.png" alt="收藏按钮"
                                aria-label="收藏" aria-pressed="false" />
                            <div class="store-item-user-box">
                                <img class="store-item-icon" src="image/figma-best-store-avatar.png" />
                                <div class="store-item-name-box">
                                    <a href="store-detail.html?name=store-name" target="_self" class="item-title-box">
                                        <p class="item-title">Store name</p>
                                    </a>
                                    <div class="item-desc-box">
                                        <p class="item-desc">Connecting Ideas, Empowering Futures</p>
                                    </div>
                                </div>
                            </div>
                            <div class="store-item-content">
                                <div class="item-star-box">
                                    <div class="star-bg">
                                        <div class="stars-outer">
                                            <div class="stars-inner" style="width: 83%;"></div>
                                        </div>
                                    </div>
                                    <p class="item-star-score">4.3</p>
                                    <p class="item-star-recommend">(200)</p>
                                </div>
                                <div class="store-item-detail-box">
                                    <p class="store-item-detail">Beatae voluptas ducimus. Suscipit minus voluptas
                                        aspernatur sit nulla rerum deserunt. Facilis aut</p>
                                </div>
                                <div class="store-item-brand-service-box">
                                    <div class="item-brand-box">
                                        <p class="item-brand-text">Brand：</p>
                                        <p class="item-brand" style="color: #FF1B20;">Quora</p>
                                    </div>
                                    <div class="item-service-box">
                                        <p class="item-service-text">Service：</p>
                                        <p class="item-service">Cloud Service</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-tag-box">
                                <a class="item-tag" href="tag-all.html?type=store&name=store-name" target="_self">
                                    <span class="item-tag-text">ChangeUser</span>
                                </a>
                                <a class="item-tag" href="tag-all.html?type=store&name=store-name" target="_self">
                                    <span class="item-tag-text">ChangeUser</span>
                                </a>
                                <a class="item-tag" href="tag-all.html?type=store&name=store-name" target="_self">
                                    <span class="item-tag-text">ChangeUser</span>
                                </a>
                            </div>
                        </div>
