<div class="signin-bg" id="signin" style="display: none;">
        <div class="signin-container signin-container-login">
            <div class="signin-content signin-content-login" id="signin-login" style="display: none;">
                <p class="signin-title">Sign In to FASTRESP</p>
                <form class="signin-form" id="signin-login-form">
                    <p class="signin-form-title">Login</p>
                    <input type="text" placeholder="Email or phone number" class="signin-form-input" />
                    <p class="signin-form-error-tip" id="signin-login-accout-tip"></p>
                    <p class="signin-form-title">Password</p>
                    <input type="password" placeholder="Enter password"
                        class="signin-form-input signin-form-password-input" />
                    <p class="signin-form-error-tip" id="signin-login-password-tip"></p>
                    <div class="signin-login-form-tool-box">
                        <div class="remember-wrapper">
                            <input type="checkbox" id="remember1" name="hobbies" value="">
                            <label for="remember1" class="remember-label">
                                <span>Remember me</span>
                            </label>
                        </div>
                        <p class="signin-login-form-resetpwd">Reset Password</p>
                    </div>
                    <button type="submit" class="signin-form-button">
                        Sign in
                    </button>
                </form>
                <div class="signin-empty-box"></div>
                <div class="signin-line-box">
                    <div class="signin-line"></div>
                    <p class="signin-line-text">or</p>
                    <div class="signin-line"></div>
                </div>
                <div class="login-google-box">
                    <img class="login-google-icon" src="image/google.png" />
                    <p class="login-google">Sign In with Google</p>
                </div>
                <div class="login-apple-box">
                    <img class="login-apple-icon" src="image/apple.png" />
                    <p class="login-apple">Sign In with Apple</p>
                </div>
                <div class="signin-otherway-box" id="signin-login-regist">
                    <p class="signin-otherway-text">Not a member yet?</p>
                    <p class="signin-otherway">Join now</p>
                </div>
            </div>

            <div class="signin-content signin-content-regist" id="signin-regist" style="display: none;">
                <p class="signin-title">Join FASTRESP</p>
                <div class="login-google-box">
                    <img class="login-google-icon" src="image/google.png" />
                    <p class="login-google">Sign in with Google</p>
                </div>
                <div class="login-apple-box">
                    <img class="login-apple-icon" src="image/apple.png" />
                    <p class="login-apple">Sign in with Apple</p>
                </div>
                <div class="signin-empty-box"></div>
                <div class="signin-line-box">
                    <div class="signin-line"></div>
                    <p class="signin-line-text">Or</p>
                    <div class="signin-line"></div>
                </div>
                <form id="signin-form" class="signin-regist-form">
                    <div class="signin-regist-form-name-box">
                        <div class="signin-regist-form-name-item">
                            <p class="signin-form-title">First name</p>
                            <input type="text" id="firstname" placeholder="First name" class="signin-form-input" />
                            <p class="signin-form-error-tip" id="signin-regist-firstname-tip"></p>
                        </div>
                        <div class="signin-regist-form-name-item">
                            <p class="signin-form-title">Last name</p>
                            <input type="text" id="lastname" placeholder="Last name" class="signin-form-input" />
                            <p class="signin-form-error-tip" id="signin-regist-lastname-tip"></p>
                        </div>
                    </div>
                    <p class="signin-form-title">Account</p>
                    <input type="text" placeholder="Email or phone number"
                        class="signin-form-input regist-account-input" />
                    <p class="signin-form-error-tip" id="signin-regist-account-tip"></p>
                    <p class="signin-form-title">Password</p>
                    <input type="password" placeholder="Password" class="signin-form-input regist-account-password" />
                    <p class="signin-form-error-tip" id="signin-regist-password-tip"></p>
                    <div class="filter-custom-select" data-value="" data-type="countryList">
                        <div class="filter-custom-select-trigger">
                            <span class="filter-custom-select-text placeholder">Select country</span>
                            <div class="filter-select-arrow">
                                <i class="iconfont icon-arrow_up"></i>
                            </div>
                        </div>
                        <div class="filter-dropdown-panel">
                            <div class="filter-dropdown-content">

                            </div>
                        </div>
                    </div>
                    <div class="signin-regist-form-tool-box">
                        <div class="agree-wrapper">
                            <input type="checkbox" id="agree1" name="hobbies" value="">
                            <label for="agree1" class="agree-label">
                                <span>Send me emails with tips on how to find talent
                                    that fits my needs.</span>
                            </label>
                        </div>
                        <div class="agree-wrapper">
                            <input type="checkbox" id="agree2" name="hobbies" value="">
                            <label for="agree2" class="agree-label">
                                <span>Yes, I understand and agree to the Fastresp
                                    Terms of Service, including the User Agreement and Privacy Policy.</span>
                            </label>
                        </div>
                    </div>
                    <div class="registere-btn">
                        Create my account
                    </div>
                </form>
                <div class="signin-otherway-box" id="signin-regist-login">
                    <p class="signin-otherway-text">Already registered to FastResp?</p>
                    <p class="signin-otherway">Sign in</p>
                </div>
            </div>

            <div class="signin-content" id="signin-2fa" style="display: none;">
                <p class="signin-title">Two-Step Verification</p>
                <form class="signin-form" id="signin-2fa-form">
                    <p class="signin-form-title">Code</p>
                    <div class="signin-from-2fa-item">
                        <input type="text" placeholder="Enter 2FA Code" class="signin-form-input" />
                        <p class="signin-form-time">2s</p>
                    </div>
                    <p class="signin-form-error-tip" id="signin-2fa-code-tip"></p>
                    <div class="signin-login-form-tool-box" id="signin-form-tool-box-reset2fa">
                        <div class="signin-empty-box"></div>
                        <p class="signin-login-form-resetpwd">Reset 2FA Code</p>
                    </div>
                    <button type="submit" class="signin-form-button">
                        Verify & Login
                    </button>
                </form>
                <div class="signin-empty-box"></div>
                <div class="signin-line-box">
                    <div class="signin-line"></div>
                    <p class="signin-line-text">Or</p>
                    <div class="signin-line"></div>
                </div>
                <div class="login-google-box">
                    <img class="login-google-icon" src="image/google.png" />
                    <p class="login-google">Sign in with Google</p>
                </div>
                <div class="login-apple-box">
                    <img class="login-apple-icon" src="image/apple.png" />
                    <p class="login-apple">Sign in with Apple</p>
                </div>
                <div class="signin-otherway-box" id="signin-2fa-regist">
                    <p class="signin-otherway-text">Not a member yet?</p>
                    <p class="signin-otherway">Join now</p>
                </div>
            </div>

            <div class="signin-content" id="signin-reset-2fa" style="display: none;">
                <p class="signin-title">Reset 2FA Code</p>
                <form class="signin-form" id="signin-reset-2fa-form">
                    <p class="signin-form-tip">We have sent a 2FA reset email to ******@yahoo.com</p>
                    <p class="signin-form-title">Code</p>
                    <div class="signin-from-2fa-item">
                        <input type="text" placeholder="Enter 2FA Code" class="signin-form-input" />
                        <p class="signin-form-time">30s</p>
                    </div>
                    <p class="signin-form-error-tip" id="signin-reset2fa-code-tip"></p>
                    <button type="submit" class="signin-form-button">
                        Verify & Login
                    </button>
                </form>
                <div class="signin-empty-box"></div>
                <div class="signin-line-box">
                    <div class="signin-line"></div>
                    <p class="signin-line-text">Or</p>
                    <div class="signin-line"></div>
                </div>
                <div class="login-google-box">
                    <img class="login-google-icon" src="image/google.png" />
                    <p class="login-google">Sign in with Google</p>
                </div>
                <div class="login-apple-box">
                    <img class="login-apple-icon" src="image/apple.png" />
                    <p class="login-apple">Sign in with Apple</p>
                </div>
                <div class="signin-otherway-box" id="signin-reset2fa-regist">
                    <p class="signin-otherway-text">Not a member yet?</p>
                    <p class="signin-otherway">Join now</p>
                </div>
            </div>

            <div class="signin-content" id="signin-resetpwd" style="display: none;">
                <p class="signin-title">Reset Password</p>
                <form class="signin-form" id="signin-resetpwd-form">
                    <p class="signin-form-title">Account</p>
                    <input type="text" placeholder="Email or phone number" class="signin-form-input" />
                    <p class="signin-form-error-tip" id="signin-resetpwd-account-tip"></p>
                    <p class="signin-form-title">Code</p>
                    <div class="signin-from-2fa-item">
                        <input type="text" placeholder="Enter Verification Code" class="signin-form-input" />
                        <p class="signin-form-time">30s</p>
                    </div>
                    <p class="signin-form-error-tip" id="signin-resetpwd-code-tip"></p>
                    <button type="submit" class="signin-form-button">
                        Verify
                    </button>
                </form>
                <div class="signin-empty-box"></div>
                <div class="signin-line-box">
                    <div class="signin-line"></div>
                    <p class="signin-line-text">Or</p>
                    <div class="signin-line"></div>
                </div>
                <div class="login-google-box">
                    <img class="login-google-icon" src="image/google.png" />
                    <p class="login-google">Sign in with Google</p>
                </div>
                <div class="login-apple-box">
                    <img class="login-apple-icon" src="image/apple.png" />
                    <p class="login-apple">Sign in with Apple</p>
                </div>
            </div>

            <div class="signin-close" id="signin-close">
                <img src="image/close.png" class="signin-close-icon" />
            </div>
            <div class="signin-back" id="signin-back">
                <img src="image/back.png" class="signin-back-icon" />
            </div>
        </div>
    </div>
