.page-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 2rem;
}
.page-content .list-container {
  margin-left: 0;
  width: calc(100% - 51.25rem);
}
.page-content .list-container .blog-header {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.page-content .list-container .blog-header .left-part-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.5rem;
}
.page-content .list-container .blog-header .left-part-wrapper .avatar-wrapper {
  padding-right: 1rem;
}
.page-content .list-container .blog-header .left-part-wrapper .avatar {
  width: 7.5rem;
  border-radius: 50%;
}
.page-content .list-container .blog-header .left-part-wrapper .blog-top-wrapper {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0;
  flex-wrap: wrap;
}
.page-content .list-container .blog-header .left-part-wrapper .blog-top-wrapper .blog-title {
  font-size: 2.5rem;
  font-weight: 500;
}
.page-content .list-container .blog-header .left-part-wrapper .blog-top-wrapper .blog-mark {
  flex-shrink: 0;
  padding: 0.5rem 1rem;
  border-radius: 0 0 1rem 0;
  font-weight: 600;
  color: white;
  font-family: var(--primary-popfont);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
}
.page-content .list-container .blog-header .left-part-wrapper .blog-top-wrapper .blog-statistics-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.page-content .list-container .blog-header .left-part-wrapper .blog-top-wrapper .blog-statistics-item .label {
  color: #6D6D6D;
}
.page-content .list-container .blog-header .right-part-wrapper {
  margin-top: -1rem;
}
.page-content .list-container .blog-header .right-part-wrapper .follow-btn {
  width: 12.5rem;
  height: 4.75rem;
  border-radius: 6.25rem;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}
.page-content .list-container .blog-des {
  font-size: 1.75rem;
  padding: 1rem 0 2rem 0;
}
.page-content .list-container .post-area-title {
  font-size: 2.5rem;
  font-weight: 500;
}
.page-content .list-container .post-item-icon {
  border-radius: 1.25rem;
}
.page-content .list-container .post-item-content {
  flex: 1;
  width: calc(100% - 27.5rem);
  gap: 0.5rem;
  padding-right: 1rem;
}
.page-content .list-container .post-item-icon {
  width: 27.5rem;
  height: 19rem;
  min-width: 27.5rem;
}
.page-content .list-container .item-desc {
  line-height: 1.5;
  font-size: 1.75rem;
}
.page-content .list-container .post-item {
  border-radius: 1.5rem;
  position: relative;
  /* 状态标签 */
}
.page-content .list-container .post-item .status-badge {
  position: absolute;
  top: 2.5rem;
  right: -3.5rem;
  width: 15rem;
  height: 3.25rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
.page-content .list-container .post-item .status-badge p {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2rem;
  color: #ffffff;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.page-content .list-container .item-title {
  font-size: 2.5rem;
  padding-right: 6rem;
}
.page-content .list-container .post-item-kind-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.page-content .list-container .post-item-kind-wrapper .view-all {
  width: auto;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 1.75rem;
  color: var(--primary-color);
}
.page-content .list-container .item-statistics-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.75rem;
}
.page-content .list-container .item-statistics-box .star-wrapper {
  transform: scale(0.8);
}
.page-content .list-container .item-statistics-box .talk-wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.page-content .list-container .item-statistics-box .item-statistics-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1.5rem;
}
.page-content .list-container .item-statistics-box .item-statistics-wrapper .statistics-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.page-content .list-container .item-statistics-box .item-statistics-wrapper .statistics-item .label {
  color: #6D6D6D;
}
.page-content .other-info-wrapper {
  width: 51.25rem;
  padding: 1rem;
  box-sizing: border-box;
}
.page-content .other-info-wrapper .store-info-wrapper {
  width: 100%;
  border: 0.125rem solid rgba(250, 84, 28, 0.5);
  padding: 0 2rem;
  box-sizing: border-box;
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
  /* 状态标签 */
}
.page-content .other-info-wrapper .store-info-wrapper .status-badge {
  position: absolute;
  top: 2.5rem;
  right: -3.5rem;
  width: 15rem;
  height: 3.25rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
.page-content .other-info-wrapper .store-info-wrapper .status-badge p {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2rem;
  color: #ffffff;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.page-content .other-info-wrapper .store-info-wrapper .avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}
.page-content .other-info-wrapper .store-info-wrapper .avatar-wrapper .avatar-icon {
  width: 7.5rem;
  border-radius: 50%;
}
.page-content .other-info-wrapper .store-info-wrapper .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FA541C;
  font-weight: 500;
  font-size: 2.5rem;
  padding-bottom: 1.25rem;
}
.page-content .other-info-wrapper .store-info-wrapper .des {
  font-size: 1.75rem;
  line-height: 1.5;
  text-align: justify;
  padding-bottom: 1.25rem;
}
.page-content .other-info-wrapper .store-info-wrapper .industry-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  color: #FD8E2D;
  font-size: 1.75rem;
  padding-bottom: 1.25rem;
}
.page-content .other-info-wrapper .store-info-wrapper .other-industry-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  color: #00C27C;
  font-size: 1.75rem;
  padding-bottom: 1.5rem;
}
.page-content .other-info-wrapper .store-info-wrapper .star-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.page-content .other-info-wrapper .store-info-wrapper .tags-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 2rem;
}
.page-content .other-info-wrapper .store-info-wrapper .tags-wrapper .tag-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border: 0.125rem solid #D9D9D9;
  font-size: 1.75rem;
  border-radius: 2.5rem;
}
.page-content .other-info-wrapper .introduction-wrapper {
  padding-top: 2rem;
}
.page-content .other-info-wrapper .introduction-wrapper .title {
  font-weight: 500;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
.page-content .other-info-wrapper .introduction-wrapper .des {
  font-size: 1.75rem;
  line-height: 1.5;
  padding-bottom: 2rem;
}
.page-content .other-info-wrapper .introduction-wrapper .time {
  font-size: 1.75rem;
  padding-bottom: 2rem;
}
.page-content .other-info-wrapper .hot-post-wrapper {
  padding-top: 1rem;
}
.page-content .other-info-wrapper .hot-post-wrapper .search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  padding-bottom: 1.25rem;
}
.page-content .other-info-wrapper .hot-post-wrapper .search-wrapper .search-input {
  width: calc(100% - 11.375rem);
  height: 4.625rem;
  line-height: 4.625rem;
  outline: none;
  padding: 0 1rem;
  border: 1px solid #C5C5C5;
  border-radius: 0.5rem;
}
.page-content .other-info-wrapper .hot-post-wrapper .search-wrapper .search-btn {
  width: 9.375rem;
  height: 4.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.75rem;
  border-radius: 0.5rem;
}
.page-content .other-info-wrapper .hot-post-wrapper .title {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 1.25rem;
}
.page-content .other-info-wrapper .hot-post-wrapper .post-list .post-item {
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.page-content .other-info-wrapper .hot-post-wrapper .post-list .post-item a {
  color: #000;
}
.page-content .other-info-wrapper .categories-wrapper {
  padding-top: 1rem;
}
.page-content .other-info-wrapper .categories-wrapper .title {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 1.25rem;
}
.page-content .other-info-wrapper .categories-wrapper .ul-list {
  list-style: none;
}
.page-content .other-info-wrapper .categories-wrapper .ul-list .ul-li {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.page-content .other-info-wrapper .categories-wrapper .ul-list .dl-list {
  list-style: none;
  padding-left: 2rem;
}
.page-content .other-info-wrapper .categories-wrapper .ul-list .dl-list .dl-li {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.page-content .other-info-wrapper .tags-wrapper {
  padding-top: 1rem;
}
.page-content .other-info-wrapper .tags-wrapper .title {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 1.25rem;
}
.page-content .other-info-wrapper .tags-wrapper .tags-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 2rem;
}
.page-content .other-info-wrapper .tags-wrapper .tags-list .tag-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border: 0.125rem solid #D9D9D9;
  font-size: 1.75rem;
  border-radius: 2.5rem;
}
.page-content .other-info-wrapper .latest-comments-wrapper {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.page-content .other-info-wrapper .latest-comments-wrapper .title {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 1.25rem;
}
.page-content .other-info-wrapper .latest-comments-wrapper .item {
  margin-top: 1rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.125rem solid #D9D9D9;
}
.page-content .other-info-wrapper .latest-comments-wrapper .text {
  font-size: 1.75rem;
}
.page-content .other-info-wrapper .latest-comments-wrapper .time {
  font-size: 1.75rem;
}
@media screen and (max-width: 1260px) {
  .page-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .page-content .list-container {
    margin-left: 0;
    width: 100%;
  }
  .page-content .list-container .blog-header {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 1rem;
  }
  .page-content .list-container .blog-header .left-part-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 1.5rem;
  }
  .page-content .list-container .blog-header .left-part-wrapper .avatar-wrapper {
    padding-right: 1rem;
  }
  .page-content .list-container .blog-header .left-part-wrapper .avatar {
    width: 7.5rem;
    border-radius: 50%;
  }
  .page-content .list-container .blog-header .left-part-wrapper .blog-top-wrapper {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0;
  }
  .page-content .list-container .blog-header .left-part-wrapper .blog-top-wrapper .blog-title {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .page-content .list-container .blog-header .left-part-wrapper .blog-top-wrapper .blog-mark {
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    border-radius: 0 0 1rem 0;
    font-weight: 600;
    color: white;
    font-family: var(--primary-popfont);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5rem;
  }
  .page-content .list-container .blog-header .left-part-wrapper .blog-top-wrapper .blog-statistics-item {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }
  .page-content .list-container .blog-header .left-part-wrapper .blog-top-wrapper .blog-statistics-item .label {
    color: #6D6D6D;
  }
  .page-content .list-container .blog-header .right-part-wrapper {
    margin-top: -1rem;
  }
  .page-content .list-container .blog-header .right-part-wrapper .follow-btn {
    width: 12.5rem;
    height: 4.75rem;
    border-radius: 6.25rem;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
  }
  .page-content .list-container .post-item {
    min-height: 17.5rem;
  }
  .page-content .list-container .post-item-content {
    width: calc(100% - 17.5rem);
    padding-left: 1rem;
  }
  .page-content .list-container .post-item-icon {
    width: 17.5rem;
    height: 17.5rem;
    min-width: 17.5rem;
  }
  .page-content .list-container .post-item-kind-wrapper .view-all {
    display: none;
  }
  .page-content .list-container .post-item-kind-box {
    flex-wrap: wrap;
  }
  .page-content .list-container .item-statistics-box {
    justify-content: flex-start;
  }
  .page-content .list-container .statistics-item {
    display: none !important;
  }
  .page-content .other-info-wrapper {
    width: 100%;
  }
}
