@media screen and (max-width: 768px) {
    .page-link-box {
        width: auto;
        margin-right: 0;

        .page-link {
            white-space: nowrap;
        }
    }

    .page-header-desc-right-box {
        width: calc(100% - 11.5rem);
        flex: 1;
    }
}