.brand-section-title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-section-title-wrapper .view-more-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
}
.brand-section-title-wrapper .view-more-wrapper .view-more-arrow {
  width: 2rem;
}
.faq-header-title {
  color: #000;
}
@media screen and (max-width: 768px) {
  .page-link-box {
    width: auto;
    margin-right: 0;
  }
  .page-link-box .page-link {
    white-space: nowrap;
  }
  .page-header-desc-right-box {
    width: calc(100% - 11.5rem);
    flex: 1;
  }
  .brand-section-title-wrapper {
    padding-bottom: 1rem;
  }
  .view-more-arrow {
    display: none;
  }
}
