.page-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-detail-left-box {
    width: calc(100% - 430px);
    gap: 30px;
}

.item-detail-left-box .item-tag-box {
    display: flex;
    flex-wrap: wrap;
    max-height: unset;
}

.item-detail-right-box {
    width: 410px;
    margin-left: 20px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .item-detail-left-box {
        width: 100%;
    }

    .item-detail-left-title {
        width: 100%;
        gap: 16px;
    }

    .item-detail-right-box {
        display: none;
    }
}

.item-detail-left-group {
    width: 100%;
}

.item-detail-left-title {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-family: var(--primary-popfont);
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-detail-infomation-title {
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .item-detail-left-title {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 6px;
    }

    .item-detail-infomation-title {
        font-size: 12px;
        line-height: 22px;
    }
}

.item-detail-screenshot {
    position: relative;
    width: 100%;
}

.item-detail-screenshot-content {
    overflow-x: auto;
    /* pointer-events: none; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 46px;
}

.item-detail-screenshot-content::-webkit-scrollbar {
    display: none;
}

.item-detail-screenshot-item-icon {
    width: 200px;
    height: 128px;
    border-radius: 16px;
    cursor: pointer;
}

.item-detail-screenshot-right-box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    background-color: #f0f3f3;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
}

.item-detail-screenshot-arrow {
    font-family: var(--primary-popfont);
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.item-detail-screenshot-left-box {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    background-color: #f0f3f3;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
}

.item-detail-screenshot-left-box.active,
.item-detail-screenshot-right-box.active {
    background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .item-detail-screenshot-content {
        gap: 16px;
        padding: 0 10px;
    }

    .item-detail-screenshot-left-box,
    .item-detail-screenshot-right-box {
        display: none;
    }
}

.item-detail-description {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .item-detail-description {
        font-size: 12px;
        line-height: 18px;
    }
}

.item-detail-rules-box {
    gap: 10px;
}

.item-detail-rules-title {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-rules-content {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    --webkit-line-clamp: 1;
    overflow: hidden;
    max-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.item-detail-rules-content.toggle {
    max-height: unset;
    --webkit-line-clamp: unset;
    overflow: visible;
    text-overflow: wrap;
    word-break: break-word;
    word-wrap: break-word;
}

.item-detail-rules-more-button {
    padding: 2px 8px;
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    cursor: pointer;
    justify-content: center;
    border: #d9d9d9 1px solid;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.016);
}

.item-detail-faq-section {
    padding: 0;
    margin-bottom: 10px;
    border-radius: 10px;
}

.item-detail-faq-section:last-child {
    margin-bottom: 0;
}

.item-detail-faq-box {
    width: 100%;
}

.item-detail-faq-title-box {
    width: 100%;
    background-color: #fafafa;
    padding: 12px 16px;
    cursor: pointer;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.item-detail-faq-title {
    width: calc(100% - 20px);
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.85);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-faq-title-arrow {
    width: 12px;
    height: 12px;
    transition: transform 0.2s ease-in-out;
}

.item-detail-faq-content {
    width: 100%;
    padding: 16px 16px;
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    text-overflow: wrap;
    word-break: break-word;
    word-wrap: break-word;
}

.item-detail-faq-title-box.toggle {
    border-bottom: #f0f3f3 1px solid;
}

@media screen and (max-width: 768px) {
    .item-detail-rules-box {
        gap: 2px;
    }

    .item-detail-rules-title {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-rules-content {
        font-size: 12px;
        line-height: 18px;
        max-height: 18px;
    }

    .item-detail-rules-more-button {
        padding: 0 8px;
        font-size: 12px;
        line-height: 22px;
    }

    .item-detail-faq-title-box {
        padding: 6px 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .item-detail-faq-title {
        font-size: 12px;
        line-height: 18px;
        font-family: var(--primary-robotofont);
    }

    .item-detail-faq-content {
        padding: 6px 10px;
        font-size: 12px;
        line-height: 18px;
    }
}

.item-detail-store-box {
    width: 100%;
    gap: 20px;
}

.item-detail-store-image-box {
    width: 120px;
    height: 120px;
    position: relative;
}

.item-detail-store-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.item-detail-store-online {
    position: absolute;
    right: 17px;
    bottom: 7.5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--gray-color);
    border: #fff solid 2px;
}

.item-detail-store-online.active {
    background-color: #06C70C;
}

@media screen and (max-width: 768px) {
    .item-detail-store-box {
        gap: 10px;
    }

    .item-detail-store-image-box {
        width: 70px;
        height: 70px;
    }

    .item-detail-store-online {
        right: 6px;
        bottom: 3.2px;
        width: 12px;
        height: 12px;
    }
}

.item-detail-store-right-box {
    width: calc(100% - 140px);
    gap: 7px;
}

.item-detail-store-box .item-title-box {
    gap: 10px;
}

.item-detail-store-right-middle-box {
    width: 100%;
    gap: 20px;
}

.item-detail-store-right-middle-item {
    gap: 4px;
    flex-shrink: 1;
}

.item-detail-store-right-middle-icon {
    width: 24px;
    height: 24px;
}

.item-detail-store-right-middle-text {
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 1;
}

.item-detail-store-right-middle-text.price {
    flex-shrink: 0;
}

.item-detail-store-right-bottom-box {
    width: 100%;
    gap: 40px;
}

.item-detail-store-right-bottom-sale-text {
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--gray-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 1;
}

.item-detail-store-right-bottom-sale-text.number {
    color: #000000;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .item-detail-store-right-box {
        width: calc(100% - 80px);
        gap: 4px;
    }

    .item-detail-store-box .item-title-box {
        gap: 4px;
    }

    .item-detail-store-right-middle-box {
        gap: 10px;
    }

    .item-detail-store-right-middle-item {
        gap: 2px;
    }

    .item-detail-store-right-middle-icon {
        width: 16px;
        height: 16px;
    }

    .item-detail-store-right-middle-text {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-store-right-bottom-box {
        gap: 8px;
    }

    .item-detail-store-right-bottom-sale-text {
        font-size: 12px;
        line-height: 18px;
    }
}

.item-detail-pager {
    width: calc(100% + 420px);
}

.item-detail-pager .best-items-pager {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media screen and (max-width: 768px) {
    .item-detail-pager {
        width: 100%;
    }

    .item-detail-pager .best-items-pager {
        gap: 10px;
    }
}

@media screen and (min-width: 1441px) {
    .item-detail-pager .best-items-item {
        width: calc((100% - 90px) / 4);
    }
}

@media screen and (max-width: 1440px) {
    .item-detail-pager .best-items-item {
        width: calc((100% - 90px) / 4);
    }
}

@media screen and (max-width: 1160px) {
    .item-detail-pager .best-items-item {
        width: calc((100% - 60px) / 3);
    }
}

@media screen and (max-width: 980px) {
    .item-detail-pager .best-items-item {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width: 768px) {
    .item-detail-pager .best-items-item {
        width: calc((100% - 10px) / 2);
    }
}

.item-detail-review-list {
    gap: 30px;
}

@media screen and (max-width: 768px) {
    .item-detail-review-list {
        gap: 16px;
    }
}

.item-detail-left-subtitle-box {
    margin-top: -20px;
    margin-bottom: 0;
    width: 100%;
    justify-content: space-between;
}

.item-detail-review-box {
    width: 100%;
    gap: 20px;
}

.item-detail-review-user-box {
    width: 100%;
}

.item-detail-review-user-avatar {
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.item-detail-review-user-name-box {
    margin-left: 6px;
    justify-content: center;
    gap: 4px;
    flex-shrink: 1;
}

.item-detail-review-user-name {
    font-family: var(--primary-popfont);
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-review-user-time {
    font-family: var(--primary-robotofont);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--gray-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-review-user-status-box {
    margin-left: 15px;
    margin-right: 0;
    flex: 1;
    gap: 4px;
}

.item-detail-review-user-status-icon {
    width: 24px;
    height: 24px;
}

.item-detail-review-user-status-text {
    width: 100%;
    font-family: var(--primary-robotofont);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--primary-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-review-content {
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.item-detail-review-info-box {
    width: 384px;
    min-width: 384px;
    height: 47px;
}

.item-detail-review-info-item {
    width: 128px;
    min-width: 128px;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.item-detail-review-info-item.icon {
    justify-content: center;
}

.item-detail-review-info-title {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.item-detail-review-info-desc {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--gray-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.item-detail-review-info-line {
    border: #f0f3f3 0.5px solid;
    height: 100%;
}

.item-detail-review-info-icon {
    width: 60px;
    height: 38px;
    border-radius: 8px;
}

.item-detail-review-line {
    border: #c5c5c5 0.5px solid;
    width: 100%;
    margin: 30px 0;
}

.item-detail-reiviewer-box {
    width: 100%;
}

.item-detail-reviewer-user-box {
    width: 100%;

}

.item-detail-reviewer-user-icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.item-detail-reviewer-user-name {
    margin-left: 10px;
    margin-right: 10px;
    font-family: var(--primary-popfont);
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-reviewer-user-empty {
    flex: 1;
}

.item-detail-reviewer-arrow {
    width: 12px;
    height: 12px;
    transition: transform 0.3s ease-in-out;
}

.item-detail-reviewer-content {
    padding-left: 50px;
    margin-top: 10px;
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
}

.item-detail-review-tool-box {
    margin-top: 10px;
    padding: 0 30px;
    gap: 6px;
}

.item-detail-review-tool-text {
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-review-tool-item {
    gap: 4px;
}

.item-detail-review-tool-icon {
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 768px) {
    .item-detail-left-subtitle-box {
        margin-top: -16px;
        margin-bottom: 0;
    }

    .item-detail-review-box {
        gap: 10px;
    }

    .item-detail-review-user-avatar {
        width: 36px;
        min-width: 36px;
        height: 36px;
    }

    .item-detail-review-user-name-box {
        margin-left: 10px;
        gap: -2px;
    }

    .item-detail-review-user-name {
        font-size: 14px;
    }

    .item-detail-review-user-time {
        font-size: 12px;
    }

    .item-detail-review-user-status-box {
        margin-left: 10px;
        gap: 2px;
    }

    .item-detail-review-user-status-icon {
        width: 16px;
        height: 16px;
    }

    .item-detail-review-user-status-text {
        font-size: 12px;
    }

    .item-detail-review-content {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-review-info-box {
        width: 240px;
        min-width: 240px;
        height: 36px;
    }

    .item-detail-review-info-item {
        width: 80px;
        min-width: 80px;
    }

    .item-detail-review-info-title {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-review-info-desc {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-review-info-icon {
        width: 56px;
        height: 36px;
    }

    .item-detail-review-line {
        margin: 10px 0;
    }

    .item-detail-reviewer-user-icon {
        width: 36px;
        min-width: 36px;
        height: 36px;
    }

    .item-detail-reviewer-user-name {
        font-size: 14px;
        line-height: 20px;
    }

    .item-detail-reviewer-content {
        padding-left: 46px;
        margin-top: 2px;
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-review-tool-box {
        margin-top: 10px;
        padding: 0 10px;
        gap: 4px;
    }

    .item-detail-review-tool-text {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-review-tool-item {
        gap: 2px;
    }

    .item-detail-review-tool-icon {
        width: 16px;
        height: 16px;
    }
}