.page-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* 购买组件样式 */
.item-detail-purchase-container {
    position: relative;
    display: flex;
    width: 100%;
    gap: 30px;
    margin-bottom: 10px;
}

/* 产品图片区域 */
.item-detail-purchase-image {
    width: 256px;
    min-width: 256px;
    height: 165px;
    border-radius: 16px;
    overflow: hidden;
}

/* 主要内容区域 */
.item-detail-purchase-content {
    width: calc(100% - 286px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 标题和操作区域 */
.item-detail-purchase-title-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.item-detail-purchase-title-row .item-title-box {
    width: calc(100% - 208px);
    flex-shrink: 1;
    gap: 10px;
}

/* 操作按钮区域 */

.item-detail-purchase-title-actions {
    width: 198px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-detail-purchase-title-row .item-like {
    position: relative;
    width: 24px;
    height: 24px;
}

.item-detail-share {
    width: 28px;
    height: 31px;
}

.item-detail-more {
    width: 36px;
    height: 36px;
}

/* 库存信息区域 */
.item-detail-purchase-stock-row {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
}

/* 价格信息区域 */
.item-detail-purchase-price-section {
    display: flex;
    align-items: center;
    width: 100%;
}

.item-detail-purchase-price-section .item-price-text {
    font-size: 14px;
    line-height: 21px;
}

.item-detail-purchase-price-section .item-price {
    font-size: 14px;
    line-height: 21px;
}

.item-detail-purchase-price-row {
    display: flex;
    align-items: center;
    gap: 6px;
}

.item-detail-purchase-price-label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #6D6D6D;
    margin: 0;
}

.item-detail-purchase-price-current {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #060709;
    margin: 0;
}

.item-detail-purchase-price-original {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #6D6D6D;
    text-decoration: line-through;
    margin: 0;
}

/* 批发价格和购买区域 */
.item-detail-purchase-buy-section {
    display: flex;
    align-items: center;
    width: 100%;
}

.item-detail-purchase-buy-empty {
    flex: 1;
    flex-shrink: 1;
}

.item-detail-purchase-wholesale {
    display: flex;
    align-items: center;
    gap: 6px;
}

.item-detail-purchase-wholesale-label {
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--gray-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item-detail-purchase-wholesale-badges {
    display: flex;
    align-items: center;
    gap: 6px;
}

.item-detail-purchase-wholesale-badge {
    padding: 7.5px 6px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: var(--primary-popfont);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* 购买区域 */
.item-detail-purchase-buy-area {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    margin-right: 40px;
}

.item-detail-purchase-buy-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.item-detail-purchase-total-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3px;
}

.item-detail-purchase-total-label {
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--gray-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item-detail-purchase-total-price {
    font-family: var(--primary-popfont);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #060709;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* 数量选择器和购买按钮 */
.item-detail-purchase-controls {
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    display: flex;
    gap: 4px;
    padding: 0;
}

.item-detail-purchase-qty-btn {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-detail-purchase-qty-btn svg {
    width: 16px;
    height: 16px;
}

.item-detail-purchase-qty-display {
    padding: 0 15px;
    height: 36px;
    border: none;
    border-left: 1px solid #C5C5C5;
    border-right: 1px solid #C5C5C5;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #060709;
}

.item-detail-purchase-buy-btn {
    padding: 0 57.5px;
    height: 50px;
    background: var(--primary-color);
    border: none;
    border-radius: 25px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-popfont);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.85);
}

.layout-vertical {
    margin-top: 0px;
}

@media screen and (max-width: 768px) {

    /* 购买组件样式 */
    .item-detail-purchase-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    /* 产品图片区域 */
    .item-detail-purchase-image {
        width: 100%;
        min-width: 100%;
        height: 221px;
    }

    /* 主要内容区域 */
    .item-detail-purchase-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    /* 标题和操作区域 */
    .item-detail-purchase-title-row {
        width: 100%;
        gap: 6px;
    }

    .item-detail-purchase-title-row .item-title-box {
        width: calc(100% - 94px);
        flex-shrink: 1;
        gap: 0px;
    }

    .item-detail-purchase-title-actions {
        width: 88px;
    }

    .item-detail-purchase-title-row .item-mark-box {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        height: 18px;
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .item-detail-purchase-title-row .item-mark {
        position: relative;
    }

    /* 操作按钮区域 */

    .item-detail-purchase-title-row .item-like {
        width: 22px;
        height: 22px;
    }

    .item-detail-share {
        width: 22px;
        height: 22px;
    }

    .item-detail-more {
        width: 22px;
        height: 22px;
    }

    /* 库存信息区域 */
    .item-detail-purchase-stock-row {
        margin-top: 10px;
    }

    .item-detail-purchase-container .item-service-text,
    .item-detail-purchase-container .item-price-text {
        display: inline-block;
    }

    /* 价格信息区域 */
    .item-detail-purchase-price-section {
        margin-top: 2px;
    }

    .item-detail-purchase-price-section .item-price-text {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-purchase-price-section .item-price {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-purchase-price-row {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .item-detail-purchase-price-label {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #6D6D6D;
        margin: 0;
    }

    .item-detail-purchase-price-current {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        color: #060709;
        margin: 0;
    }

    .item-detail-purchase-price-original {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #6D6D6D;
        text-decoration: line-through;
        margin: 0;
    }

    /* 批发价格和购买区域 */
    .item-detail-purchase-buy-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .item-detail-purchase-buy-empty {
        display: none;
    }

    .item-detail-purchase-wholesale-label {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-purchase-wholesale-badge {
        padding: 0px 0px;
        border: none;
        border-radius: 0;
        font-size: 12px;
        line-height: 18px;
    }

    /* 购买区域 */
    .item-detail-purchase-buy-area {
        width: 100%;
        gap: 10px;
        align-items: flex-start;
        margin-right: 0px;
        flex-direction: column;
    }

    .item-detail-purchase-total-price {
        font-size: 14px;
        line-height: 21px;
    }

    /* 数量选择器和购买按钮 */
    .item-detail-purchase-buy-box {
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }

    .item-detail-purchase-qty-btn {
        height: 28px;
    }

    .item-detail-purchase-qty-display {
        height: 28px;
    }

    .item-detail-purchase-buy-btn {
        padding: 0 40px;
        height: 30px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 22px;
    }
}

.item-detail-left-box {
    width: calc(100% - 430px);
    gap: 30px;
}

.item-detail-left-box .item-tag-box {
    display: flex;
    flex-wrap: wrap;
    max-height: unset;
}

.item-detail-right-box {
    width: 410px;
    margin-left: 20px;
    overflow: hidden;
}

.item-detail-right-header {
    display: none;
    padding: 14px 0;
    justify-content: center;
    position: relative;
}

.item-detail-right-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 26px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .item-detail-left-box {
        width: 100%;
    }

    .item-detail-left-title {
        width: 100%;
        gap: 16px;
    }

    .item-detail-right-box {
        z-index: 100;
        background-color: #fff;
        position: fixed;
        top: 0;
        height: 100vh;
        left: 0;
        width: 100vw;
        padding: 0 16px;
        display: none;
        margin-left: 0;
        display: none;
        flex-direction: column;

        /* 基础安全区域内边距 - 确保在所有设备上生效 */
        padding-top: var(--safe-area-inset-top) !important;
        padding-bottom: var(--safe-area-inset-bottom) !important;
        /* 兼容性回退 - 为不支持env()的浏览器 */
        padding-top: env(safe-area-inset-top, 20px) !important;
        padding-bottom: env(safe-area-inset-bottom, 20px) !important;
    }

    .item-detail-right-header {
        display: flex;
    }
}

.item-detail-left-group {
    width: 100%;
}

.item-detail-left-title {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-family: var(--primary-popfont);
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-detail-infomation-title {
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .item-detail-left-title {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 6px;
    }

    .item-detail-infomation-title {
        font-size: 12px;
        line-height: 22px;
    }
}

.item-detail-screenshot {
    position: relative;
    width: 100%;
}

.item-detail-screenshot-content {
    overflow-x: auto;
    /* pointer-events: none; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 46px;
}

.item-detail-screenshot-content::-webkit-scrollbar {
    display: none;
}

.item-detail-screenshot-item-icon {
    width: 200px;
    height: 128px;
    border-radius: 16px;
    cursor: pointer;
}

.item-detail-screenshot-right-box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    background-color: #f0f3f3;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
}

.item-detail-screenshot-arrow {
    font-family: var(--primary-popfont);
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.item-detail-screenshot-left-box {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    background-color: #f0f3f3;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
}

.item-detail-screenshot-left-box.active,
.item-detail-screenshot-right-box.active {
    background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .item-detail-screenshot-content {
        gap: 16px;
        padding: 0 10px;
    }

    .item-detail-screenshot-left-box,
    .item-detail-screenshot-right-box {
        display: none;
    }
}

.item-detail-description {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .item-detail-description {
        font-size: 12px;
        line-height: 18px;
    }
}

.item-detail-rules-box {
    gap: 10px;
}

.item-detail-rules-title {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-rules-content {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    --webkit-line-clamp: 1;
    overflow: hidden;
    max-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.item-detail-rules-content.toggle {
    max-height: unset;
    --webkit-line-clamp: unset;
    overflow: visible;
    text-overflow: wrap;
    word-break: break-word;
    word-wrap: break-word;
}

.item-detail-rules-more-button {
    padding: 2px 8px;
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    cursor: pointer;
    justify-content: center;
    border: #d9d9d9 1px solid;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.016);
}

.item-detail-faq-section {
    padding: 0;
    margin-bottom: 10px;
    border-radius: 10px;
}

.item-detail-faq-section:last-child {
    margin-bottom: 0;
}

.item-detail-faq-box {
    width: 100%;
}

.item-detail-faq-title-box {
    width: 100%;
    background-color: #fafafa;
    padding: 12px 16px;
    cursor: pointer;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.item-detail-faq-title {
    width: calc(100% - 20px);
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.85);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-faq-title-arrow {
    width: 12px;
    height: 12px;
    transition: transform 0.2s ease-in-out;
}

.item-detail-faq-content {
    width: 100%;
    padding: 16px 16px;
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    text-overflow: wrap;
    word-break: break-word;
    word-wrap: break-word;
}

.item-detail-faq-title-box.toggle {
    border-bottom: #f0f3f3 1px solid;
}

@media screen and (max-width: 768px) {
    .item-detail-rules-box {
        gap: 2px;
    }

    .item-detail-rules-title {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-rules-content {
        font-size: 12px;
        line-height: 18px;
        max-height: 18px;
    }

    .item-detail-rules-more-button {
        padding: 0 8px;
        font-size: 12px;
        line-height: 22px;
    }

    .item-detail-faq-title-box {
        padding: 6px 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .item-detail-faq-title {
        font-size: 12px;
        line-height: 18px;
        font-family: var(--primary-robotofont);
    }

    .item-detail-faq-content {
        padding: 6px 10px;
        font-size: 12px;
        line-height: 18px;
    }
}

.item-detail-store-box {
    width: 100%;
    gap: 20px;
}

.item-detail-store-image-box {
    width: 120px;
    height: 120px;
    position: relative;
}

.item-detail-store-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.item-detail-store-online {
    position: absolute;
    right: 17px;
    bottom: 7.5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--gray-color);
    border: #fff solid 2px;
}

.item-detail-store-online.active {
    background-color: #06C70C;
}

@media screen and (max-width: 768px) {
    .item-detail-store-box {
        gap: 10px;
    }

    .item-detail-store-image-box {
        width: 70px;
        height: 70px;
    }

    .item-detail-store-online {
        right: 6px;
        bottom: 3.2px;
        width: 12px;
        height: 12px;
    }
}

.item-detail-store-right-box {
    width: calc(100% - 140px);
    gap: 7px;
}

.item-detail-store-box .item-title-box {
    gap: 10px;
}

.item-detail-store-right-middle-box {
    width: 100%;
    gap: 20px;
}

.item-detail-store-right-middle-item {
    gap: 4px;
    flex-shrink: 1;
}

.item-detail-store-right-middle-icon {
    width: 24px;
    height: 24px;
}

.item-detail-store-right-middle-text {
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 1;
}

.item-detail-store-right-middle-text.price {
    flex-shrink: 0;
}

.item-detail-store-right-bottom-box {
    width: 100%;
    gap: 40px;
}

.item-detail-store-right-bottom-sale-text {
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--gray-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 1;
}

.item-detail-store-right-bottom-sale-text.number {
    color: #000000;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .item-detail-store-right-box {
        width: calc(100% - 80px);
        gap: 4px;
    }

    .item-detail-store-box .item-title-box {
        gap: 4px;
    }

    .item-detail-store-box .item-title {
        display: flex;
        align-items: center;
    }

    .item-detail-store-right-middle-box {
        gap: 10px;
    }

    .item-detail-store-right-middle-item {
        gap: 2px;
    }

    .item-detail-store-right-middle-icon {
        width: 16px;
        height: 16px;
    }

    .item-detail-store-right-middle-text {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-store-right-bottom-box {
        gap: 8px;
    }

    .item-detail-store-right-bottom-sale-text {
        font-size: 12px;
        line-height: 18px;
    }
}

.item-detail-pager {
    width: calc(100% + 420px);
}

.item-detail-pager .best-items-pager {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media screen and (max-width: 768px) {
    .item-detail-pager {
        width: 100%;
    }

    .item-detail-pager .best-items-pager {
        gap: 10px;
    }
}

@media screen and (min-width: 1441px) {
    .item-detail-pager .best-items-item {
        width: calc((100% - 90px) / 4);
    }
}

@media screen and (max-width: 1440px) {
    .item-detail-pager .best-items-item {
        width: calc((100% - 90px) / 4);
    }
}

@media screen and (max-width: 1160px) {
    .item-detail-pager .best-items-item {
        width: calc((100% - 60px) / 3);
    }
}

@media screen and (max-width: 980px) {
    .item-detail-pager .best-items-item {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width: 768px) {
    .item-detail-pager .best-items-item {
        width: calc((100% - 10px) / 2);
    }
}

.item-detail-review-list {
    gap: 30px;
}

@media screen and (max-width: 768px) {
    .item-detail-review-list {
        gap: 16px;
    }
}

.item-detail-left-subtitle-box {
    margin-top: -20px;
    margin-bottom: 0;
    width: 100%;
    justify-content: space-between;
}

.item-detail-left-subtitle {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--gray-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-review-box {
    width: 100%;
    gap: 20px;
}

.item-detail-review-user-box {
    width: 100%;
}

.item-detail-review-user-avatar {
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.item-detail-review-user-name-box {
    margin-left: 6px;
    justify-content: center;
    gap: 4px;
    flex-shrink: 1;
}

.item-detail-review-user-name {
    font-family: var(--primary-popfont);
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-review-user-time {
    font-family: var(--primary-robotofont);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--gray-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-review-user-status-box {
    margin-left: 15px;
    margin-right: 0;
    flex: 1;
    gap: 4px;
}

.item-detail-review-user-status-icon {
    width: 24px;
    height: 24px;
}

.item-detail-review-user-status-text {
    width: 100%;
    font-family: var(--primary-robotofont);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--primary-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-review-content {
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.item-detail-review-info-box {
    width: 384px;
    min-width: 384px;
    height: 47px;
}

.item-detail-review-info-item {
    width: 128px;
    min-width: 128px;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.item-detail-review-info-item.icon {
    justify-content: center;
}

.item-detail-review-info-title {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.item-detail-review-info-desc {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--gray-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.item-detail-review-info-line {
    border: #f0f3f3 0.5px solid;
    height: 100%;
}

.item-detail-review-info-icon {
    width: 60px;
    height: 38px;
    border-radius: 8px;
}

.item-detail-review-line {
    border: #c5c5c5 0.5px solid;
    width: 100%;
    margin: 30px 0;
}

.item-detail-reiviewer-box {
    width: 100%;
}

.item-detail-reviewer-user-box {
    width: 100%;
    cursor: pointer;
}

.item-detail-reviewer-user-icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.item-detail-reviewer-user-name {
    margin-left: 10px;
    margin-right: 10px;
    font-family: var(--primary-popfont);
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-reviewer-user-empty {
    flex: 1;
}

.item-detail-reviewer-arrow {
    width: 12px;
    height: 12px;
    transition: transform 0.3s ease-in-out;
}

.item-detail-reviewer-content {
    padding-left: 50px;
    margin-top: 10px;
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
}

.item-detail-review-tool-box {
    margin-top: 10px;
    padding: 0 30px;
    gap: 6px;
}

.item-detail-review-tool-text {
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-detail-review-tool-item {
    gap: 4px;
}

.item-detail-review-tool-icon {
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 768px) {
    .item-detail-left-subtitle-box {
        margin-top: -16px;
        margin-bottom: 0;
    }

    .item-detail-left-subtitle {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-review-box {
        gap: 10px;
    }

    .item-detail-review-user-avatar {
        width: 36px;
        min-width: 36px;
        height: 36px;
    }

    .item-detail-review-user-name-box {
        margin-left: 10px;
        gap: -2px;
    }

    .item-detail-review-user-name {
        font-size: 14px;
    }

    .item-detail-review-user-time {
        font-size: 12px;
    }

    .item-detail-review-user-status-box {
        margin-left: 10px;
        gap: 2px;
    }

    .item-detail-review-user-status-icon {
        width: 16px;
        height: 16px;
    }

    .item-detail-review-user-status-text {
        font-size: 12px;
    }

    .item-detail-review-content {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-review-info-box {
        width: 240px;
        min-width: 240px;
        height: 36px;
    }

    .item-detail-review-info-item {
        width: 80px;
        min-width: 80px;
    }

    .item-detail-review-info-title {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-review-info-desc {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-review-info-icon {
        width: 56px;
        height: 36px;
    }

    .item-detail-review-line {
        margin: 10px 0;
    }

    .item-detail-reviewer-user-icon {
        width: 36px;
        min-width: 36px;
        height: 36px;
    }

    .item-detail-reviewer-user-name {
        font-size: 14px;
        line-height: 20px;
    }

    .item-detail-reviewer-content {
        padding-left: 46px;
        margin-top: 2px;
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-review-tool-box {
        margin-top: 10px;
        padding: 0 10px;
        gap: 4px;
    }

    .item-detail-review-tool-text {
        font-size: 12px;
        line-height: 18px;
    }

    .item-detail-review-tool-item {
        gap: 2px;
    }

    .item-detail-review-tool-icon {
        width: 16px;
        height: 16px;
    }
}