/* 完整卡片组件 */
.resource-page-item {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F0F0F3;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

.resource-image {
    width: 100%;
    height: 210px;
    border-radius: 30px;
}

.summary-section {
    width: 100%;
    height: 120px;
    position: relative;
}

/* 独立的120px高度文本组件 */

.fixed-text {
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
    .resource-page-item {
        padding: 0px;
        border-radius: 10px;
    }

    .resource-page-item .item-title-box {
        padding: 0 10px;
    }

    .resource-page-item .item-title {
        max-height: 16px;
        height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .resource-page-item .item-mark {
        left: 11px;
        top: 10px;
    }

    .resource-image {
        height: 110px;
        border-radius: 10px;
    }

    .summary-section {
        height: 90px;
        padding: 0 10px;
    }

    /* 独立的120px高度文本组件 */

    .fixed-text {
        font-size: 12px;
        line-height: 18px;
    }

    .resource-page-item .item-button-box {
        width: calc(100% - 20px);
        margin: 0 auto;
        margin-bottom: 10px;
    }
}