@media (max-width: 1440px) {
    .header-items-label:first-child {
        display: none;
    }
    .header-items-label:nth-child(2) {
        display: '';
    }
    .header-items-label:nth-child(3) {
        display: '';
    }
    .header-items-label:nth-child(4) {
        display: '';
    }
    .pager-wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }
    .pager-more-icon {
        margin-right: 0;
    }

    .best-items-item {
        width: calc(25vw - 31px);
    }
    .store-item {
        width: calc(33.33vw - 31px);
    }
    .compaign-item {
        width: calc(25vw - 31px);
    }
    .demand-item {
        width: calc(50vw - 31px);
    }
}
@media (max-width: 1216px) {
    .header-items-label:first-child {
        display: none;
    }
    .header-items-label:nth-child(2) {
        display: none;
    }
    .header-items-label:nth-child(3) {
        display: '';
    }
    .header-items-label:nth-child(4) {
        display: '';
    }
}
@media (max-width: 1120px) {
    .compaign-item {
        width: calc(33.33vw - 31px);
    }
    .best-items-item {
        width: calc(33.33vw - 31px);
    }
}
@media (max-width: 1106px) {
    .header-items-label:first-child {
        display: none;
    }
    .header-items-label:nth-child(2) {
        display: none;
    }
    .header-items-label:nth-child(3) {
        display: none;
    }
    .header-items-label:nth-child(4) {
        display: '';
    }
}
@media (max-width: 1100px) {
    .store-item {
        width: calc(50vw - 31px);
    }
}
@media (max-width: 974px) {
    .header-items-label:first-child {
        display: none;
    }
    .header-items-label:nth-child(2) {
        display: none;
    }
    .header-items-label:nth-child(3) {
        display: none;
    }
    .header-items-label:nth-child(4) {
        display: none;
    }
}
@media (max-width: 904px) {
    .header-seller {
        display: none;
    }
}
@media (max-width: 840px) {
    .compaign-item {
        padding: 0;
        width: calc(50vw - 31px);
    }
    .best-items-item {
        width: calc(50vw - 31px);
    }
}
@media (max-height: 900px) {
    .signin-container {
        padding: 30px 48px;
        height: calc(100vh - 40px);
        min-height: 500px;
        background: #fff;
        border-radius: 20px;
        position: relative;
    }
    .signin-close {
        padding: 28px 28px;
        cursor: pointer;
    }
    .signin-back {
        padding: 28px 28px;
    }
    .signin-form {
        margin-top: 20px;
    }
    .signin-form-title {
        margin-top: 0px;
    }
    .signin-login-form-tool-box {
        margin-top: 10px;
    }
    .signin-form-button {
        margin-top: 20px;
    }
    .login-google-box {
        margin-top: 20px;
    }
    .login-apple-box {
        margin-top: 10px;
    }
    .signin-otherway-box {
        margin-top: 10px;
    }
    .signin-regist-form-tool-box {
        margin-top: 10px;
    }
}
@media (max-width: 750px) {
    .header-search-mobile-box {
        height: 34px;
        margin-left: 16px;
        width: calc(100vw - 32px);
        background: #fff;
        border: #f4f4f4 solid 1px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header-search-mobile-box-label {
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }
    .header-search-mobile-box-label-text {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        font-family: var(--primary-popfont);
        line-height: 20px;
    }
    .header-search-mobile-box-label-icon {
        width: 8px;
        height: 9px;
        margin-left: 2px;
    }
    .header-search-mobile-box-line {
        width: 2px;
        height: 100%;
        background: #f4f4f4;
    }
    .header-search-mobile-box-input-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header-search-mobile-box-input-box-input {
        margin-left: 10px;
        margin-right: 10px;
        flex: 1;
        height: 100%;
    }
    .header-search-mobile-box-input-box-icon {
        width: 30px;
        height: 34px;
        margin-right: 8px;
    }
    .header-search-box {
        display: none;
    }
    .header-menu-box {
        display: block;
    }
    .header-empty {
        display: block;
    }
    .header-signin {
        display: none;
    }
    .header-join {
        margin-left: 0px;
        background: transparent;
        border-radius: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
    }
    .header-join-text {
        color: var(--gray-color);
        font-size: 16px;
        font-weight: 500;
        font-family: var(--primary-popfont);
        line-height: 28px;
    }
    .header-user-box {
        margin-left: 0;
    }
    .header-user-reddot-box {
        height: 16px;
        border-radius: 8px;
        font-size: 10px;
        line-height: 14px;
    }
    .menu-container {
        display: none;
    }
    body {
        background-color: #fff;
    }
    :root {
        --primary-popfont: Inter;
    }
    .stars-outer::before,
    .stars-inner::before {
        content: "★";
    }
    footer {
        background-color: transparent;
        border: #fff solid 1px;
        flex-direction: column;
        padding: 16px 26px 16px 26px;
        gap: 30px;
    }
    .footer-item {
        flex: auto;
    }
    .footer-item-content {
        gap: 10px;
        align-items: flex-start;
    }
    .footer-item-title {
        color: #000000;
    }
    .footer-item-text {
        color: rgba(0, 0, 0, 0.8);
    }
    .signin-bg {
        background: #fff;
        display: flex;
        align-items: center;
    }
    .signin-container {
        width: 100vw;
        min-width: 100vw;
        padding: 30px 32px;
        height: 100vh;
        min-height: 100vh;
        background: #fff;
        border-radius: 0;
    }
    .signin-content-regist {
        margin: -20px 0;
    }
    .signin-close {
        padding: 27px 27px;
    }
    .signin-close-icon {
        width: 18px;
        height: 18px;
    }
    .signin-back {
        padding: 27px 27px;
    }
    .signin-back-icon {
        width: 18px;
        height: 18px;
    }
    .signin-form {
        margin-top: 30px;
    }
    .signin-title {
        margin-top: 20px;
        font-size: 24px;
        line-height: 28px;
    }
    .signin-form-title {
        margin-top: 20px;
    }
    .signin-login-form-tool-box {
        margin-top: 20px;
    }
    .signin-login-form-remember-icon {
        width: 20px;
        height: 20px;
    }
    .signin-form-button {
        margin-top: 30px;
    }
    .login-google-box {
        margin-top: 10px;
    }
    .login-apple-box {
        margin-top: 20px;
    }
    .signin-otherway-box {
        margin-top: 20px;
    }
    .signin-regist-form-tool-box {
        margin-top: 20px;
    }
    .signin-regist-form-tool-item-icon {
        width: 20px;
        height: 20px;
    }

    .carousel-indicators {
        display: none;
    }
    .pager-wrapper {
        padding-top: 0;
        padding-bottom: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .pager-wrapper-title {
        font-size: 20px;
        line-height: 32px;
    }
    .pager-subtitle-box {
        margin-top: -27px;
    }
    .pager-subtitle {
        display: none;
    }
    .pager-more {
        font-size: 14px;
    }
    .pager-more-icon {
        display: none;
    }
    .brand {
        padding: 0 0 0 16px;
    }
    .brand-content {
        pointer-events: painted;
        scrollbar-width: unset;
        -ms-overflow-style: unset;
        gap: 16px;
    }
    .brand-item-icon {
        width: 50px;
    }
    .brand-item-text {
        margin-top: 0;
        max-width: 50px;
    }

    .best-store-pager {
        gap: 10px;
    }
    .hot-compaigns-pager {
        gap: 10px;
    }
    .popular-demands-pager {
        gap: 10px;
    }
    .hot-posts-pager {
        gap: 10px;
    }
    .comments-pager {
        gap: 10px;
    }
    .banner-slide-icon {
        aspect-ratio: 375/100;
    }

    .compaign-item {
        width: calc(50vw - 21px);
    }
    .demand-item {
        width: calc(50vw - 21px);
    }
    .store-item {
        width: calc(50vw - 21px);
    }
    .best-items-item-tag-box {
        display: none;
    }
    .store-item {
        padding: 10px;
        border-radius: 10px;
    }
    .store-top-box {
        flex-direction: column;
    }
    .store-item-icon {
        width: 60px;
        min-width: 60px;
    }
    .store-top-right-box {
        margin-left: 0;
        flex: none
    }
    .store-item-like {
        top: 20px;
        right: 20px;
        width: 22px;
        height: 22px;
    }
    .store-item-title {
        font-size: 20px;
        line-height: 30px;
    }
    .store-item-desc {
        margin-top: 2px;
        font-size: 12px;
        line-height: 18px;
    }
    .store-item-star-box {
        margin-top: 10px;
    }
    .store-item-star-score {
        font-size: 14px;
        line-height: 22px;
    }
    .store-item-star-recommend {
        font-size: 12px;
        line-height: 22px;
    }
    .store-item-content {
        display: none;
    }
    .store-item-brand-box {
        margin-top: 10px;
    }
    .store-item-brand-text {
        font-size: 12px;
        line-height: 18px;
    }
    .store-item-brand {
        margin-left: 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .store-item-service-box {
        margin-top: 0;
    }
    .store-item-service-text {
        font-size: 12px;
        line-height: 18px;
    }
    .store-item-service {
        margin-left: 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .store-item-tag-box {
        margin-top: 0;
    }
    .store-item-tag {
        padding: 2px 4px;
        border-radius: 10px;
        height: 20px;
    }
    .store-item-tag-text {
        font-size: 10px;
        line-height: 12px;
    }
    .compaign-item {
        padding: 0;
        border-radius: 10px;
    }
    .compaign-item-icon {
        aspect-ratio: 116/110;
        border-radius: 0;
    }
    .compaign-item-like {
        right: 10px;
        top: 19px;
        width: 22px;
        height: 22px;
    }
    .compaign-item-title-box {
        margin-top: 10px;
        padding: 0 10px;
    }
    .compaign-item-title {
        font-size: 14px;
        line-height: 20px;
    }
    .compaign-item-number-box {
        margin-top: 10px;
        padding: 0 10px;
    }
    .compaign-item-number-text {
        font-size: 12px;
        line-height: 18px;
    }
    .compaign-item-number {
        margin-left: 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .compaign-item-sale-box {
        margin-top: 0;
        padding: 0 10px;
    }
    .compaign-item-sale-text {
        font-size: 12px;
        line-height: 18px;
    }
    .compaign-item-sale {
        margin-left: 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .compaign-item-order-box {
        margin-top: 0;
        padding: 0 10px;
    }
    .compaign-item-order-text {
        font-size: 12px;
        line-height: 18px;
    }
    .compaign-item-order {
        margin-left: 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .compaign-item-favorite-box {
        margin-top: 0px;
        padding: 0 10px;
    }
    .compaign-item-favorite-text {
        font-size: 12px;
        line-height: 18px;
    }
    .compaign-item-favorite {
        margin-left: 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .compaign-item-products-box {
        margin-top: 0;
        padding: 0 10px;
    }
    .compaign-item-products-text {
        font-size: 12px;
        line-height: 18px;
    }
    .compaign-item-products {
        margin-left: 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .compaign-item-tag-box {
        margin-top: 0;
    }
    .compaign-item-tag {
        padding: 2px 4px;
        border-radius: 10px;
        height: 20px;
    }
    .compaign-item-tag-text {
        font-size: 10px;
        line-height: 12px;
    }
    .demand-item {
        padding: 10px;
        border-radius: 10px;
    }
    .demand-item-like {
        right: 10px;
        top: 19px;
        width: 22px;
        height: 22px;
    }
    .demand-item-title-box {
        margin-right: 49px;
    }
    .demand-item-title {
        font-size: 14px;
        line-height: 20px;
    }
    .demand-item-middle-box {
        margin-top: 10px;
        flex-direction: column;
    }
    .demand-item-middle-item {
        width: 100%;
        gap: 0;
    }
    .demand-item-brand-text {
        font-size: 12px;
        line-height: 18px;
    }
    .demand-item-brand {
        margin-left: 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .demand-item-service-box {
        margin-top: 0;
    }
    .demand-item-service-text {
        font-size: 12px;
        line-height: 18px;
    }
    .demand-item-service {
        margin-left: 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .demand-item-demands-box {
        margin-top: 0;
    }
    .demand-item-demands-text {
        font-size: 12px;
        line-height: 18px;
    }
    .demand-item-demands {
        margin-left: 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .demand-item-price-box {
        display: none;
    }
    .demand-item-price-text {
        font-size: 12px;
        line-height: 18px;
    }
    .demand-item-price {
        margin-left: 4;
        font-size: 12px;
        line-height: 18px;
    }
    .demand-item-total-price-box {
        margin-top: 0;
    }
    .demand-item-total-price-text {
        font-size: 12px;
        line-height: 18px;
    }
    .demand-item-total-price {
        margin-left: 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .demand-item-time-box {
        margin-top: 0;
    }
    .demand-item-time-text {
        font-size: 12px;
        line-height: 18px;
    }
    .demand-item-time {
        margin-left: 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .demand-item-bidder-box {
        margin-top: 6px;
    }
    .demand-item-bidder-text {
        display: none;
    }
    .demand-item-bidder {
        margin-left: 0;
    }
    .demand-item-bidder-avatar {
        width: 20px;
        height: 20px;
    }
    .demand-item-bidder-avatar-more {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }
    .demand-item-tag-box {
        margin-top: 6px;
    }
    .demand-item-tag {
        padding: 2px 4px;
        border-radius: 10px;
        height: 20px;
    }
    .demand-item-tag-text {
        font-size: 10px;
        line-height: 12px;
    }
    .demand-item-button-box {
        margin-top: 10px;
        height: 30px;
        border-radius: 15px;
        font-size: 12px;
        line-height: 22px;
    }
    .post-item {
        gap: 10px;
        padding: 0 10px 0 0;
        border-radius: 10px;
    }
    .post-item-like {
        left: 107px !important;
        top: 19.5px;
        width: 22px;
        height: 22px;
    }
    .post-item-icon {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
        aspect-ratio: 1;
    }
    .post-item-right-box {
        gap: 5px;
    }
    .post-item-title-box {
        margin-right: 0;
        width: 100%;
        height: 44px;
    }
    .post-item-title {
        font-size: 14px;
        line-height: 20px;
    }
    .post-item-user-avatar {
        width: 20px;
        height: 20px;
    }
    .post-item-user {
        margin-left: 4px;
        font-size: 12px;
        line-height: 30px;
    }
    .post-item-desc-box {
        display: none;
    }
    .post-item-brand-text {
        font-size: 12px;
        line-height: 20px;
    }
    .post-item-brand {
        margin-left: 4px;
        font-size: 12px;
        line-height: 20px;
    }
    .post-item-kind-box {
        gap: 0;
        column-gap: 6px;
    }
    .post-item-kind-text {
        margin-right: 0;
        font-size: 12px;
        line-height: 20px;
    }
    .post-item-tag {
        margin-right: 6px;
        padding: 2px 4px;
        border-radius: 10px;
        height: 20px;
    }
    .post-item-tag-text {
        font-size: 10px;
        line-height: 12px;
    }

    .comment-item {
        gap: 10px;
        padding: 10px;
        width: 320px;
        min-width: 320px;
        border-radius: 10px;
    }
    .comment-item-user-avatar {
        width: 36px;
    }
    .comment-item-user-name-box {
        gap: -2px;
    }
    .comment-item-user-name {
        font-size: 14px;
    }
    .comment-item-user-time {
        font-size: 12px;
    }
    .comment-item-desc {
        font-size: 12px;
        line-height: 18px;
    }
    .comment-item-star-score {
        font-size: 12px;
    }
    .comment-item-tag {
        padding: 2px 4px;
        border-radius: 10px;
        height: 20px;
    }
    .comment-item-tag-text {
        font-size: 10px;
        line-height: 12px;
    }
}