.layout-vertical {
    .items-pager {
        column-gap: 0;
    }
}

#best-items-item .items-container[data-layout="horizontal"] .item-all-horizontal-item .item-title {
    display: block;
    -webkit-box-orient: initial;
    -webkit-line-clamp: unset;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
}

#best-items-item .items-container[data-layout="horizontal"] .item-all-horizontal-item-tags {
    margin-top: 2.5rem;
}

.sort-selector {
    transform: translateX(0)
}

.tag-page-header-desc-box {
    margin-bottom: 1.25rem;
}

.tag-page-header-desc-content {
    font-family: 'Inter', var(--primary-popfont);
    line-height: 2.625rem;
}

.tag-page-header-desc-tag-box {
    margin-bottom: 0;
}

.tag-page-header-desc-tag-item {
    padding: 0.625rem 1.125rem;
    border-radius: 2.5rem;
    box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.0156862745);
}

.page-top-sticky .page-link-box {
    align-items: flex-end;
    border-bottom-color: #c5c5c5;
}

.page-top-sticky .page-filterresult-box {
    font-family: 'Inter', var(--primary-popfont);
}

#demand-item .items-container[data-layout="vertical"] .popular-demands-pager {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.75rem;
}

#demand-item .items-container[data-layout="vertical"] .popular-demands-pager .demand-item {
    width: calc((100% - 3.75rem) / 2);
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item {
    border: 0.125rem solid #f0f0f3;
    border-radius: 5rem;
    box-shadow: none;
    padding: 3.75rem;
    height: calc(65.125rem + 8px);
    gap: 0;
    position: relative;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .icon-aixin {
    width: 3rem;
    height: 3rem;
    right: 3.75rem;
    top: 3.75rem;
    font-size: 0;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-title-box {
    align-items: flex-start;
    padding-right: 7.5rem;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-title {
    width: 73.25rem;
    max-width: 100%;
    height: auto;
    max-height: 12.5rem;
    font-size: 4.25rem;
    line-height: 6.25rem;
    font-weight: 600;
    color: #000;
    white-space: normal;
    text-overflow: unset;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-content {
    margin-top: 3.75rem;
    gap: 3.75rem;
    padding-bottom: 11.25rem;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-middle-box {
    gap: 0.625rem;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-row-box {
    align-items: flex-start;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-row-box>.demand-item-coloumn-box:first-child {
    width: 41.654%;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-row-box>.demand-item-coloumn-box:last-child {
    width: 58.346%;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-brand-box,
#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-service-box {
    gap: 0;
    min-height: 2.75rem;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-bidder-box {
    margin-top: 0;
    gap: 0;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-bidder-text {
    margin-right: 0.125rem;
    padding-right: 0.125rem;
    line-height: 3rem;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-bidder-avatar,
#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-bidder-avatar-more {
    margin-inline-start: -0.625rem;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-bidder-avatar:first-of-type {
    margin-inline-start: 0;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-tag-box {
    margin-top: 0;
    max-height: none;
    height: auto;
    padding: 0;
    gap: 0.75rem;
    overflow: visible;
    align-content: flex-start;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-tag {
    height: auto;
    min-height: 4rem;
    padding: 0.625rem 1.125rem;
    border-radius: 2.5rem;
    border: 0.125rem solid #d9d9d9;
    box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.0156862745);
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-tag-text {
    font-size: 1.75rem;
    line-height: 2.75rem;
    color: #6d6d6d;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-button-box {
    margin-top: 0;
    position: absolute;
    left: 3.75rem;
    right: 3.75rem;
    bottom: calc(3.75rem - 1px);
    width: auto;
    height: 7.5rem;
    border-radius: 6.25rem;
    border: 0.125rem solid #f4f4f4;
    box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.0156862745);
    font-size: 2rem;
    line-height: 2.75rem;
    font-family: var(--primary-robotofont);
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-button-box.disabled,
#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-button-box.disabled:hover {
    background: #f4f4f4;
    color: rgba(0, 0, 0, 0.85);
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item-alt .item-title-box {
    min-height: 10rem;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item-alt .item-title {
    width: 58.6rem;
    max-height: 6.25rem;
    white-space: nowrap;
}

#demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item-alt .item-tag-box {
    height: 8.75rem;
    max-height: 8.75rem;
}

@media screen and (max-width: 980px) {
    #demand-item .items-container[data-layout="vertical"] .popular-demands-pager .demand-item {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .page-content.item-all-filter-design #best-items-item .items-pager.item-all-items-pager {
        justify-content: flex-start;
    }

    .page-content.item-all-filter-design #best-items-item .items-pager.item-all-items-pager .item-all-best-items-item {
        width: calc((100% - 9rem) / 4);
        margin-right: 3rem;
    }

    .page-content.item-all-filter-design #best-items-item .items-pager.item-all-items-pager .item-all-best-items-item:nth-child(3) {
        margin-right: 3rem;
    }

    .page-content.item-all-filter-design #best-items-item .items-pager.item-all-items-pager .item-all-best-items-item:nth-child(4n) {
        margin-right: 0;
    }

    .page-content.item-all-filter-design #demand-item .items-container[data-layout="vertical"] .demand-all-figma-item {
        width: 50%;
    }

    .page-top-sticky .page-header-function-control-box {
        flex: unset;
        gap: 1rem;
    }

    .page-top-sticky .page-filter-layoutcontrol-box {
        width: auto;
    }

    .page-top-sticky .page-header-function-box>.layout-controls-box {
        display: flex;
        width: 40.25rem;
        height: 5rem;
        border: 0.125rem solid #c5c5c5;
        border-radius: 2.5rem;
        overflow: hidden;
        background: #fff;
    }

    .page-top-sticky .page-header-function-box>.layout-controls-box .layout-switch {
        width: auto;
        height: 5rem;
        padding: 1.25rem 2.5rem 1rem;
        font-family: 'Inter', var(--primary-popfont);
        font-size: 1.875rem;
        line-height: 2.625rem;
        font-weight: 500;
        color: #000;
        flex: 0 0 auto;
        white-space: nowrap;
    }

    .page-top-sticky .page-header-function-box>.layout-controls-box .layout-switch:first-child {
        width: 17.5rem;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }

    .page-top-sticky .page-header-function-box>.layout-controls-box .layout-switch:last-child {
        width: 22.75rem;
    }

    .page-top-sticky .page-header-function-box>.layout-controls-box .layout-switch.active {
        border-radius: 2.5rem;
        color: #fff;
    }

    .page-top-sticky .page-filterresult-box {
        white-space: nowrap;
    }

    .page-top-sticky .page-header-function-box .page-sort-box {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    #demand-item .items-container[data-layout="vertical"] .popular-demands-pager {
        gap: 1.25rem;
    }

    #demand-item .items-container[data-layout="vertical"] .popular-demands-pager .demand-item {
        width: calc((100% - 1.25rem) / 2);
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item {
        padding: 1.25rem;
        border-radius: 1.25rem;
        height: calc(65.125rem + 8px);
        position: relative;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .icon-aixin {
        width: 2.75rem;
        height: 2.75rem;
        right: 1.25rem;
        top: 1.25rem;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-title-box {
        padding-right: 4rem;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-title {
        width: 100%;
        max-height: 4rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-content {
        margin-top: 1.25rem;
        gap: 1rem;
        padding-bottom: 5rem;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-middle-box {
        gap: 0;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-row-box>.demand-item-coloumn-box:first-child,
    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-row-box>.demand-item-coloumn-box:last-child {
        width: 100%;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-bidder-avatar,
    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-bidder-avatar-more {
        width: 2.5rem;
        min-width: 2.5rem;
        height: 2.5rem;
        margin-inline-start: -0.5rem;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-bidder-avatar:first-of-type {
        margin-inline-start: 0;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .demand-item-bidder-avatar-more {
        font-size: 1.25rem;
        line-height: 2.5rem;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-tag-box {
        max-height: 8.75rem;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-tag {
        min-height: 2.25rem;
        padding: 0 0.5rem;
        border-radius: 1.125rem;
        box-shadow: none;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-tag-text {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item .item-button-box {
        margin-top: 0;
        position: absolute;
        left: 1.25rem;
        right: 1.25rem;
        bottom: calc(1.25rem - 1px);
        width: auto;
        height: 3.75rem;
        border-radius: 0.5rem;
        box-shadow: none;
        font-size: 1.5rem;
        line-height: 2.75rem;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item-alt .item-title-box {
        min-height: 2rem;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item-alt .item-title {
        max-height: 2rem;
        white-space: nowrap;
    }

    #demand-item .items-container[data-layout="vertical"] #popuar-demands .figma-popular-demand-item-alt .item-tag-box {
        height: auto;
    }
}
