.content-wrapper {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 2rem 0;
}
.content-wrapper #editorDes,
.content-wrapper #editorRule {
  height: 200px;
}
.content-wrapper .item-group-wrapper {
  display: flex;
  align-items: center;
}
.content-wrapper .item-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.content-wrapper .item-wrapper.item-inline-wrapper {
  width: 100%;
}
.content-wrapper .item-wrapper .item-content {
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  width: 100%;
}
.content-wrapper .item-wrapper .item-content.item-content-contact-information {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.content-wrapper .item-wrapper .item-content.item-content-contact-information .filter-group-content {
  width: 25%;
}
.content-wrapper .item-wrapper .item-content.item-content-contact-information .contact-information-input {
  width: 25%;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 1rem;
  border: 0.125rem solid #C5C5C5;
  border-radius: 1rem;
  display: none;
}
.content-wrapper .item-wrapper .item-content .name-input,
.content-wrapper .item-wrapper .item-content .time-input,
.content-wrapper .item-wrapper .item-content .slogan-input {
  width: 100%;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 1rem;
  border: 0.125rem solid #C5C5C5;
  border-radius: 1rem;
}
.content-wrapper .item-wrapper .item-content .introduction-textarea,
.content-wrapper .item-wrapper .item-content .team-textarea {
  width: 100%;
  padding: 1rem;
  border: 0.125rem solid #C5C5C5;
  border-radius: 1rem;
}
.content-wrapper .item-wrapper .item-content .introduction-textarea:focus-visible,
.content-wrapper .item-wrapper .item-content .team-textarea:focus-visible {
  outline: none;
}
.content-wrapper .item-wrapper .item-content .editor-wrapper {
  width: 100%;
}
.content-wrapper .item-wrapper .label {
  display: inline-block;
  width: 12.5rem;
  text-align: right;
  font-size: 1.75rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.content-wrapper .item-wrapper .upload-avatar-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0.125rem solid #C5C5C5;
  background: rgba(0, 0, 0, 0.1);
  color: #999;
}
.content-wrapper .item-wrapper .upload-avatar-img .text {
  font-size: 1.5rem;
}
.content-wrapper .item-wrapper .upload-avatar-img .iconfont {
  font-size: 2rem;
}
.content-wrapper .item-wrapper .upload-logo-img {
  width: 22.5rem;
  height: 10rem;
  border-radius: 1.25rem;
  cursor: pointer;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0.125rem solid #C5C5C5;
  background: rgba(0, 0, 0, 0.1);
  color: #999;
}
.content-wrapper .item-wrapper .upload-logo-img .text {
  font-size: 1.5rem;
}
.content-wrapper .item-wrapper .upload-logo-img .iconfont {
  font-size: 2rem;
}
.content-wrapper .item-wrapper .avatar-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
.content-wrapper .item-wrapper .logo-img {
  width: 22.5rem;
  height: 10rem;
  border-radius: 1.25rem;
  cursor: pointer;
  display: none;
}
.content-wrapper .item-wrapper .file-avatar,
.content-wrapper .item-wrapper .file-logo {
  visibility: hidden;
  width: 0;
  height: 0;
}
.content-wrapper .agreement-wrapper {
  padding-left: 12rem;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.content-wrapper .agreement-wrapper .agreement-name-wrapper {
  padding-left: 1rem;
}
.content-wrapper .agreement-wrapper a {
  color: var(--primary-color);
}
.content-wrapper #agreement:checked {
  background-color: red;
  /* 勾选后的背景色 */
}
.content-wrapper .submit-btn-wrapper {
  margin-left: 12rem;
  width: calc(100% - 12rem);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #fff;
  background-color: #4CAF50;
  border-radius: 1rem;
  cursor: pointer;
}
.filter-group-content {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .content-wrapper {
    width: 100%;
    max-width: 100%;
  }
  .content-wrapper .item-group-wrapper {
    display: block;
  }
  .content-wrapper .item-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .content-wrapper .item-wrapper.item-inline-wrapper {
    width: 100%;
  }
  .content-wrapper .item-wrapper .item-content {
    flex: 1;
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }
  .content-wrapper .item-wrapper .item-content .name-input,
  .content-wrapper .item-wrapper .item-content .time-input,
  .content-wrapper .item-wrapper .item-content .slogan-input {
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 1rem;
    border: 0.125rem solid #C5C5C5;
    border-radius: 1rem;
  }
  .content-wrapper .item-wrapper .item-content .introduction-textarea,
  .content-wrapper .item-wrapper .item-content .team-textarea {
    width: 100%;
    padding: 1rem;
    border: 0.125rem solid #C5C5C5;
    border-radius: 1rem;
  }
  .content-wrapper .item-wrapper .item-content .introduction-textarea:focus-visible,
  .content-wrapper .item-wrapper .item-content .team-textarea:focus-visible {
    outline: none;
  }
  .content-wrapper .item-wrapper .item-content .editor-wrapper {
    width: 100%;
  }
  .content-wrapper .item-wrapper .label {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 1.75rem;
    padding-right: 1rem;
  }
  .content-wrapper .item-wrapper .avatar-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    cursor: pointer;
  }
  .content-wrapper .item-wrapper .logo-img {
    width: 22.5rem;
    height: 10rem;
    border-radius: 1.25rem;
    overflow: hidden;
    cursor: pointer;
  }
  .content-wrapper .item-wrapper .file-avatar,
  .content-wrapper .item-wrapper .file-logo {
    visibility: hidden;
  }
  .filter-group-content {
    width: 100%;
  }
}
