.brand-item {
  border: #F0F0F3 solid 0.125rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.06);
  border-radius: 2.5rem;
  padding: 2.5rem;
  width: 40.125rem;
  background: white;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  cursor: pointer;
}
@media screen and (min-width: 1441px) {
  .brand-item {
    width: calc((100% - 11.25rem) / 4);
  }
}
@media screen and (max-width: 1440px) {
  .brand-item {
    width: calc((100% - 11.25rem) / 4);
  }
}
@media screen and (max-width: 1260px) {
  .brand-item {
    width: calc((100% - 7.5rem) / 3);
  }
}
@media screen and (max-width: 980px) {
  .brand-item {
    width: calc((100% - 3.75rem) / 2);
  }
}
@media screen and (max-width: 768px) {
  .brand-item {
    width: 100%;
    padding: 1.25rem;
  }
}
.brand-item-top-box {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: flex-start;
  gap: 1.25rem;
}
.brand-item-top-box-icon-wrapper {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.125rem solid #eaeaea;
}
.brand-item-top-box-icon {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 1.25rem;
  overflow: hidden;
  border: #f0f0f3 solid 0.125rem;
}
.brand-item-top-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
}
@media screen and (max-width: 768px) {
  .brand-item-top-text-box {
    gap: 0.25rem;
  }
}
.brand-item-top-text-box-title {
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-family: var(--primary-popfont);
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.brand-item-top-text-box-desc {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-family: var(--primary-popfont);
  font-weight: 400;
  color: var(--gray-color);
  --webkit-box-orient: vertical;
  --webkit-line-clamp: 2;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
}
.brand-item-middle-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
}
.brand-item-middle-box-text {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-family: var(--primary-popfont);
  font-weight: 400;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.brand-item-middle-box-line {
  border: #c5c5c5 solid 0.5px;
  height: 1.5rem;
}
.brand-item-bottom-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 5.25rem;
  column-gap: 1rem;
  max-height: 5.25rem;
  overflow: hidden;
  row-gap: 0.25rem;
}
.brand-item-bottom-box-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  .brand-item-bottom-box {
    gap: 1rem;
  }
}
.brand-item-bottom-box-item-icon {
  width: 2rem;
  height: 2rem;
}
.brand-item-bottom-box-item-text {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-family: var(--primary-popfont);
  font-weight: 400;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
