.brand-item {
    border: #F0F0F3 solid 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    border-radius: 2.5rem;
    padding: 2.5rem;
    width: 40.125rem;
    background: white;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    cursor: pointer;
}

@media screen and (min-width: 1441px) {
    .brand-item {
        width: calc((100% - 11.25rem) / 4);
    }
}

@media screen and (max-width: 1440px) {
    .brand-item {
        width: calc((100% - 11.25rem) / 4);
    }
}

@media screen and (max-width: 1260px) {
    .brand-item {
        width: calc((100% - 7.5rem) / 3);
    }
}

@media screen and (max-width: 980px) {
    .brand-item {
        width: calc((100% - 3.75rem) / 2);
    }
}

@media screen and (max-width: 768px) {
    .brand-item {
        width: 100%;
        padding: 1.25rem;
    }
}

.brand-item-top-box {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    flex-direction: flex-start;
    gap: 1.25rem;
}

.brand-item-top-box-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: #f0f0f3 solid 1px;
}

.brand-item-top-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

@media screen and (max-width: 768px) {
    .brand-item-top-text-box {
        gap: 2px;
    }
}

.brand-item-top-text-box-title {
    font-size: 12px;
    line-height: 22px;
    font-family: var(--primary-popfont);
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.brand-item-top-text-box-desc {
    font-size: 14px;
    line-height: 18px;
    font-family: var(--primary-popfont);
    font-weight: 400;
    color: var(--gray-color);
    --webkit-box-orient: vertical;
    --webkit-line-clamp: 2;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}

.brand-item-middle-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.brand-item-middle-box-text {
    font-size: 14px;
    line-height: 18px;
    font-family: var(--primary-popfont);
    font-weight: 400;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.brand-item-middle-box-line {
    border: #c5c5c5 solid 0.5px;
    height: 12px;
}

.brand-item-bottom-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 42px;
    column-gap: 20px;
    max-height: 42px;
    overflow: hidden;
    row-gap: 2px;
}

.brand-item-bottom-box-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

@media screen and (max-width: 768px) {
    .brand-item-bottom-box {
        gap: 20px;
    }
}

.brand-item-bottom-box-item-icon {
    width: 16px;
    height: 16px;
}

.brand-item-bottom-box-item-text {
    font-size: 14px;
    line-height: 20px;
    font-family: var(--primary-popfont);
    font-weight: 400;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}