.carousel-container {
    margin: 0 auto;
    width: 100%;
    max-width: var(--container-width);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 750px) {
    .carousel-indicators {
        display: none;
    }
}

.carousel-track {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.carousel-slide {
    flex-shrink: 0;
    width: 100%;
}

.carousel-indicators {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: var(--primary-color);
    cursor: pointer;
    opacity: 0.2;
}

.carousel-indicator.active {
    opacity: 1;
    width: 80px;
}