.comment-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    width: 460px;
    min-width: 460px;
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
    border: #f0f0f3 solid 1px;
}

.comment-item-user-box {
    display: flex;
    gap: 6;
    align-items: center;
}

.comment-item-user-avatar {
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.comment-item-user-name-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.comment-item-user-name {
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment-item-user-time {
    color: var(--gray-color);
    font-family: var(--primary-robotofont);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment-item-desc-box {
    max-height: 66px;
    height: 66px;
    display: flex;
    align-items: flex-start;
}

.comment-item-desc {
    height: 100%;
    overflow: hidden;
    --webkit-box-orient: vertical;
    --webkit-line-clamp: 3;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}

.comment-item-star-box {
    display: flex;
    align-items: center;
    gap: 6px;
}

.comment-item-star-score {
    color: rgba(0, 0, 0, 0.85);
    font-family: var(--primary-robotofont);
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
}

.comment-item-bottom-box {
    flex: 1;
    flex-shrink: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
}