.comment-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 3.75rem;
    width: 57.5rem;
    min-width: 57.5rem;
    background-color: white;
    border-radius: 5rem;
    overflow: hidden;
    border: #f0f0f3 solid 0.125rem;
}

.comment-item-user-box {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.comment-item-user-avatar {
    width: 7.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .comment-item {
        gap: 1.25rem;
        padding: 1.25rem;
        width: 40rem;
        min-width: 40rem;
        border-radius: 1.25rem;
    }

    .comment-item-user-avatar {
        width: 4.5rem;
    }
}

.comment-item-user-name-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.comment-item-user-name {
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment-item-user-time {
    color: var(--gray-color);
    font-family: var(--primary-robotofont);
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment-item-desc-box {
    max-height: 8.25rem;
    height: 8.25rem;
    display: flex;
    align-items: flex-start;
}

.comment-item-desc {
    height: 100%;
    overflow: hidden;
    --webkit-box-orient: vertical;
    --webkit-line-clamp: 3;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.75rem;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}

.comment-item-bottom-box {
    flex: 1;
    flex-shrink: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5rem;
}

@media screen and (max-width: 768px) {
    .comment-item {
        gap: 1.25rem;
        padding: 1.25rem;
        width: 40rem;
        min-width: 40rem;
        border-radius: 1.25rem;
    }

    .comment-item-user-avatar {
        width: 4.5rem;
    }

    .comment-item-user-name-box {
        gap: -0.5rem;
    }

    .comment-item-user-name {
        font-size: 1.75rem;
    }

    .comment-item-user-time {
        font-size: 1.5rem;
    }

    .comment-item-desc-box {
        max-height: 9rem;
        height: 9rem;
    }

    .comment-item-desc {
        font-size: 1.5rem;
        line-height: 2.25rem;
        --webkit-line-clamp: 4;
    }

    .comment-item-bottom-box {
        gap: 2.5rem;
    }
}