.compaign-item {
  border: #F0F0F3 solid 0.125rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.06);
  background: white;
  overflow: hidden;
  position: relative;
  display: flex;
}
.layout-horizontal .compaign-item {
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 0rem;
}
.layout-vertical .compaign-item {
  flex-direction: column;
  gap: 0rem;
}
.layout-horizontal .compaign-item,
.layout-vertical .compaign-item {
  padding: 2.5rem 2.5rem;
  border-radius: 5rem;
}
@media screen and (min-width: 1441px) {
  .layout-vertical .compaign-item {
    width: calc((100% - 6rem) / 3);
  }
}
@media screen and (max-width: 1440px) {
  .layout-vertical .compaign-item {
    width: calc((100% - 7.5rem) / 3);
  }
}
@media screen and (max-width: 1160px) {
  .layout-vertical .compaign-item {
    width: calc((100% - 3.75rem) / 2);
  }
}
@media screen and (max-width: 980px) {
  .layout-vertical .compaign-item {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .layout-horizontal .compaign-item,
  .layout-vertical .compaign-item {
    padding: 0 0;
    border-radius: 1.25rem;
    gap: 1.25rem;
  }
  .layout-vertical .compaign-item {
    width: calc((100% - 1.25rem) / 2);
  }
}
.layout-horizontal .compaign-item-icon {
  min-width: 36.25rem;
  width: 36.25rem;
  height: 23.25rem;
  border-radius: 5rem;
  overflow: hidden;
}
.layout-vertical .compaign-item-icon {
  min-width: 100%;
  width: 100%;
  height: 26.25rem;
  border-radius: 5rem;
  overflow: hidden;
}
.layout-horizontal .compaign-item .icon-aixin {
  right: 3.25rem;
  top: 5rem;
}
.layout-vertical .compaign-item .icon-aixin {
  right: 5.5rem;
  top: 5rem;
}
@media screen and (max-width: 768px) {
  .layout-horizontal .compaign-item-icon {
    min-width: 12.25rem;
    width: 12.25rem;
    height: 12rem;
    border-radius: 0;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    overflow: hidden;
  }
  .layout-vertical .compaign-item-icon {
    min-width: 100%;
    width: 100%;
    height: 13.75rem;
    border-radius: 0;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    overflow: hidden;
  }
  .layout-horizontal .compaign-item .icon-aixin {
    right: 1.25rem;
    top: 2.5rem;
  }
  .layout-vertical .compaign-item .icon-aixin {
    right: 2.5rem;
    top: 0.75rem;
  }
  .layout-horizontal .compaign-item .item-mark,
  .layout-vertical .compaign-item .item-mark {
    position: relative;
  }
}
.compaign-item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.layout-horizontal .compaign-item-content {
  justify-content: center;
  width: calc(100% - 43.25rem);
  padding-left: 2rem;
}
.layout-horizontal .items-pager {
  row-gap: 2.5rem;
}
.layout-vertical .compaign-item-content {
  width: 100%;
}
.layout-horizontal .compaign-item .item-title-box {
  padding-right: 7rem;
}
.layout-vertical .compaign-item .item-title-box {
  padding-right: 0;
}
.layout-vertical .compaign-item .item-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  --webkit-box-orient: horizontal;
  --webkit-line-clamp: 1;
  max-height: 5rem;
  height: 5rem;
}
@media screen and (max-width: 768px) {
  .layout-horizontal .items-pager {
    row-gap: 1.5rem;
  }
  .layout-horizontal .compaign-item-content {
    justify-content: center;
    width: calc(100% - 16.5rem);
  }
  .layout-vertical .compaign-item-content {
    padding: 0 1.25rem 1.25rem 1.25rem;
    width: 100%;
  }
  .layout-horizontal .compaign-item .item-title-box {
    padding-right: 4rem;
  }
  .layout-vertical .compaign-item .item-title-box {
    padding-right: 0;
  }
  .layout-vertical .compaign-item .item-title {
    max-height: 2rem;
    height: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.layout-horizontal .compaign-item-middle-box {
  margin-top: 1.25rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1.25rem;
  column-gap: 5rem;
}
.layout-vertical .compaign-item-middle-box {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  .layout-horizontal .compaign-item-middle-box {
    margin-top: 1.25rem;
    column-gap: 2.5rem;
    row-gap: 0;
  }
  .layout-vertical .compaign-item-middle-box {
    margin-top: 1.25rem;
    gap: 0;
  }
}
.layout-horizontal .compaign-item-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5rem;
}
.layout-vertical .compaign-item-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  .layout-horizontal .compaign-item-box {
    column-gap: 2.5rem;
  }
  .layout-vertical .compaign-item-box {
    gap: 0;
  }
}
.compaign-item-brand-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.layout-horizontal .compaign-item-brand-text,
.layout-horizontal .compaign-item-brand,
.layout-vertical .compaign-item-brand-text,
.layout-vertical .compaign-item-brand {
  font-family: var(--primary-popfont);
  font-size: 1.75rem;
  line-height: 3rem;
  font-weight: 400;
  color: var(--gray-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layout-horizontal .compaign-item-brand,
.layout-vertical .compaign-item-brand {
  color: #000;
}
@media screen and (max-width: 768px) {
  .layout-horizontal .compaign-item-brand-text,
  .layout-horizontal .compaign-item-brand,
  .layout-vertical .compaign-item-brand-text,
  .layout-vertical .compaign-item-brand {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
.compaign-item-products-box {
  width: 100%;
  height: 9rem;
  margin-top: 0.5rem;
  overflow: hidden;
}
.layout-horizontal .compaign-item-products-box {
  height: 3rem;
}
.compaign-item-products-text {
  display: initial;
  margin: 0;
  color: var(--gray-color);
  font-family: var(--primary-popfont);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 3rem;
}
.compaign-item-products {
  display: initial;
  margin: 0;
  margin-left: 1.25rem;
  max-height: 9rem;
  overflow: hidden;
  --webkit-box-orient: vertical;
  --webkit-line-clamp: 3;
  color: #000;
  font-family: var(--primary-popfont);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 3rem;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}
.layout-horizontal .compaign-item-products {
  max-height: 3rem;
  --webkit-line-clamp: 1;
}
@media screen and (max-width: 768px) {
  .compaign-item-products-box {
    display: none;
  }
}
.layout-vertical .compaign-item .item-tag-box {
  margin-top: 1.5rem;
}
.layout-horizontal .compaign-item .item-tag-box {
  margin-top: 1.25rem;
}
@media screen and (max-width: 768px) {
  .layout-vertical .compaign-item .item-tag-box {
    display: flex;
    margin-top: 0;
  }
  .layout-horizontal .compaign-item .item-tag-box {
    display: flex;
    margin-top: 0.25rem;
  }
}
