.demand-item {
    border: #F0F0F3 solid 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    background: white;
    overflow: hidden;
    position: relative;
    display: flex;
}

.layout-horizontal .demand-item {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.layout-vertical .demand-item {
    flex-direction: column;
    align-items: flex-start;
}

.layout-horizontal .demand-item,
.layout-vertical .demand-item {
    padding: 30px 30px;
    border-radius: 40px;
}

@media (min-width: 1441px) {
    .layout-vertical .demand-item {
        width: 521px;
    }
}

@media (max-width: 1440px) {
    .layout-vertical .demand-item {
        width: calc((100% - 30px) / 2);
    }
}

@media (max-width: 980px) {
    .layout-vertical .demand-item {
        width: 521px;
    }
}

@media (max-width: 768px) {

    .layout-horizontal .demand-item,
    .layout-vertical .demand-item {
        padding: 10px 10px;
        border-radius: 10px;
    }

    .layout-vertical .demand-item {
        width: calc((100% - 10px) / 2);
    }
}

.layout-horizontal .demand-item .item-like {
    right: 29.5px;
    top: 43px;
}

.layout-vertical .demand-item .item-like {
    right: 20px;
    top: 19.5px;
}

@media (max-width: 768px) {

    .layout-horizontal .demand-item .item-like {
        right: 10px;
        top: 10px;
    }

    .layout-vertical .demand-item .item-like {
        right: 13px;
        top: 18.5px;
    }
}

.demand-item-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.layout-horizontal .demand-item-content {
    margin-top: 10px;
}

.layout-vertical .demand-item-content {
    margin-top: 30px;
}

@media (max-width: 768px) {

    .layout-horizontal .demand-item-content {
        margin-top: 10px;
    }

    .layout-vertical .demand-item-content {
        margin-top: 10px;
    }
}

.layout-horizontal .demand-item .item-title-box {
    padding-right: 34px;
}

.layout-vertical .demand-item .item-title-box {
    padding-right: 0;
}

.layout-vertical .item-title {
    max-height: 80px;
    height: 80px;
    font-size: 24px;
    line-height: 40px;
    --webkit-box-orient: vertical;
    --webkit-line-clamp: 2;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}

@media (max-width: 768px) {

    .layout-horizontal .demand-item .item-title-box {
        padding-right: 32px;
    }

    .layout-vertical .demand-item .item-title-box {
        padding-right: 32px;
    }

    .layout-vertical .item-title {
        max-height: 32px;
        height: 32px;
        font-size: 12px;
        line-height: 16px;
        --webkit-box-orient: vertical;
        --webkit-line-clamp: 2;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
        overflow: hidden;
    }
}

.layout-vertical .demand-item-middle-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 6px;
}

.layout-horizontal .demand-item-middle-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 100px;
    row-gap: 5px;
}

@media (max-width: 768px) {
    .layout-vertical .demand-item-middle-box {
        column-gap: 2px;
    }

    .layout-horizontal .demand-item-middle-box {
        column-gap: 20px;
        row-gap: 0px;
    }
}

.layout-horizontal .demand-item-row-box {
    width: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
}

.layout-vertical .demand-item-row-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .layout-horizontal .demand-item-row-box {
        width: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    .layout-vertical .demand-item-row-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.layout-vertical .demand-item-coloumn-box {
    width: 50%;
}

.layout-horizontal .demand-item-coloumn-box {
    width: unset;
}

@media (max-width: 768px) {
    .layout-vertical .demand-item-coloumn-box {
        width: 100%;
    }

    .layout-horizontal .demand-item-coloumn-box {
        width: unset;
    }

    .demand-item-price-range-box {
        display: none;
    }
}

.layout-vertical .item-tag-box {
    margin-top: 6px;
}

.layout-horizontal .item-tag-box {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .layout-vertical .item-tag-box {
        margin-top: 0px;
    }

    .layout-horizontal .item-tag-box {
        margin-top: 2px;
    }
}

.demand-item-bidder-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 0;
    gap: -5px;
}

.layout-vertical .demand-item-bidder-box {
    margin-top: 6px;
}

.layout-horizontal .demand-item-bidder-box {
    margin-top: 10px;
}

.demand-item-bidder-text {
    font-size: 14px;
    font-family: var(--primary-popfont);
    color: var(--gray-color);
    font-weight: 400;
    line-height: 24px;
    margin-right: 9px;
}

.demand-item-bidder-avatar {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    border: #fff 1px solid;
}

.demand-item-bidder-avatar-more {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    border: #fff 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD8BF;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-family: var(--primary-robotofont);
    color: #FA541C;
}

@media (max-width: 768px) {

    .layout-vertical .demand-item-bidder-box {
        margin-top: 6px;
    }

    .layout-horizontal .demand-item-bidder-box {
        margin-top: 6px;
    }

    .layout-horizontal .demand-item-bidder-box {
        padding-right: 300px;
    }

    .demand-item-bidder-text {
        display: none;
    }

    .demand-item-bidder-avatar {
        width: 20px;
        min-width: 20px;
        height: 20px;
    }

    .demand-item-bidder-avatar-more {
        width: 20px;
        min-width: 20px;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
    }
}

.layout-vertical .demand-item .item-button-box {
    margin-top: 30px;
}

.layout-horizontal .demand-item .item-button-box {
    right: 29.5px;
    bottom: 25.5px;
    height: 20px;
    border-radius: 4px;
    padding: 3px 41px;
}

@media (max-width: 768px) {
    .layout-vertical .demand-item .item-button-box {
        margin-top: 10px;
    }

    .layout-horizontal .demand-item .item-button-box {
        margin-top: 10px;
    }
}