.layout-vertical .items-pager {
  column-gap: 0rem;
  row-gap: 2.5rem;
}
.layout-horizontal .items-pager {
  row-gap: 2.5rem;
}
.demand-item {
  border: #F0F0F3 solid 0.125rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.06);
  background: white;
  overflow: hidden;
  position: relative;
  display: flex;
}
.demand-item.brand-demand-item {
  margin-bottom: 2.5rem;
}
.layout-horizontal .demand-item {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.layout-vertical .demand-item {
  flex-direction: column;
  align-items: flex-start;
}
.layout-horizontal .demand-item,
.layout-vertical .demand-item {
  padding: 3.75rem 3.75rem;
  border-radius: 5rem;
}
@media screen and (min-width: 1441px) {
  .layout-vertical .demand-item {
    width: 65rem;
  }
  .layout-vertical .demand-item.brand-demand-item {
    width: calc(50% - 2.5rem);
  }
}
@media screen and (max-width: 1440px) {
  .layout-vertical .demand-item {
    width: calc((100% - 2.5rem) / 2);
  }
}
@media screen and (max-width: 980px) {
  .layout-vertical .demand-item {
    width: 65rem;
  }
}
@media screen and (max-width: 768px) {
  .layout-horizontal .demand-item,
  .layout-vertical .demand-item {
    padding: 1.25rem 1.25rem;
    border-radius: 1.25rem;
  }
  .layout-vertical .demand-item {
    width: calc((100% - 1.25rem) / 2);
  }
  .item-brand-text,
  .item-service-text {
    display: none;
  }
}
.layout-horizontal .demand-item .icon-aixin {
  right: 3.75rem;
  top: 5.5rem;
}
.layout-vertical .demand-item .icon-aixin {
  right: 2.5rem;
  top: 2.5rem;
}
@media screen and (max-width: 768px) {
  .layout-horizontal .demand-item .icon-aixin {
    right: 1.25rem;
    top: 1.25rem;
  }
  .layout-vertical .demand-item .icon-aixin {
    right: 1.75rem;
    top: 2.25rem;
  }
}
.demand-item-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.layout-horizontal .demand-item-content {
  margin-top: 1.25rem;
}
.layout-vertical .demand-item-content {
  margin-top: 3.75rem;
}
@media screen and (max-width: 768px) {
  .layout-horizontal .demand-item-content {
    margin-top: 1.25rem;
  }
  .layout-vertical .demand-item-content {
    margin-top: 1.25rem;
  }
}
.layout-horizontal .demand-item .item-title-box {
  padding-right: 4.25rem;
}
.layout-vertical .demand-item .item-title-box {
  padding-right: 0;
}
@media screen and (max-width: 768px) {
  .layout-horizontal .demand-item .item-title-box {
    padding-right: 4rem;
  }
  .layout-vertical .demand-item .item-title-box {
    padding-right: 4rem;
  }
  .layout-vertical .item-title {
    max-height: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    line-height: 2rem;
    --webkit-box-orient: vertical;
    --webkit-line-clamp: 2;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
  }
}
.layout-vertical .demand-item-middle-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 0.75rem;
}
.layout-horizontal .demand-item-middle-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 12.5rem;
  row-gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  .layout-vertical .demand-item-middle-box {
    column-gap: 0.25rem;
  }
  .layout-horizontal .demand-item-middle-box {
    column-gap: 2.5rem;
    row-gap: 0;
  }
}
.layout-horizontal .demand-item-row-box {
  width: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12.5rem;
}
.layout-vertical .demand-item-row-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .layout-horizontal .demand-item-row-box {
    width: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5rem;
  }
  .layout-vertical .demand-item-row-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.layout-vertical .demand-item-coloumn-box {
  width: 50%;
}
.layout-horizontal .demand-item-coloumn-box {
  width: unset;
}
@media screen and (max-width: 768px) {
  .layout-vertical .demand-item-coloumn-box {
    width: 100%;
  }
  .layout-horizontal .demand-item-coloumn-box {
    width: unset;
  }
  .demand-item-price-range-box {
    display: none;
  }
}
.layout-vertical .item-tag-box {
  margin-top: 0.75rem;
  max-height: 11rem;
  height: 10rem;
  padding: 1rem 0;
  align-items: flex-start;
}
.layout-horizontal .item-tag-box {
  margin-top: 1.25rem;
}
@media screen and (max-width: 768px) {
  .layout-vertical .item-tag-box {
    margin-top: 0;
  }
  .layout-horizontal .item-tag-box {
    margin-top: 0.25rem;
  }
}
.demand-item-bidder-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 0;
  gap: -0.5rem;
}
.layout-vertical .demand-item-bidder-box {
  margin-top: 0.75rem;
}
.layout-horizontal .demand-item-bidder-box {
  margin-top: 1.25rem;
}
.demand-item-bidder-text {
  font-size: 1.75rem;
  font-family: var(--primary-popfont);
  color: var(--gray-color);
  font-weight: 400;
  line-height: 3rem;
  margin-right: 1rem;
  padding-right: 1rem;
}
.demand-item-bidder-avatar {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: #fff 0.125rem solid;
}
.demand-item-bidder-avatar {
  margin-inline-start: -1rem;
}
.demand-item-bidder-avatar-more {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: #fff 0.125rem solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFD8BF;
  font-size: 1.75rem;
  line-height: 2.75rem;
  font-weight: 400;
  font-family: var(--primary-robotofont);
  color: #FA541C;
  margin-inline-start: -1rem;
}
@media screen and (max-width: 768px) {
  .layout-vertical .demand-item-bidder-box {
    margin-top: 0.75rem;
  }
  .layout-horizontal .demand-item-bidder-box {
    margin-top: 0.75rem;
  }
  .layout-horizontal .demand-item-bidder-box {
    padding-right: 37.5rem;
  }
  .demand-item-bidder-text {
    display: none;
  }
  .demand-item-bidder-avatar {
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
  }
  .demand-item-bidder-avatar-more {
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}
.layout-vertical .demand-item .item-button-box {
  margin-top: 3.75rem;
}
.item-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  /* 限制文本为2行 */
  overflow: hidden;
  height: 10rem;
}
.font-weight-bold {
  font-weight: bold;
}
@media screen and (min-width: 769px) {
  .layout-horizontal .demand-item .item-button-box {
    width: 37.5rem;
    right: 3.75rem;
    bottom: 3.25rem;
    height: 5rem;
    border-radius: 2.5rem;
    padding: 0.5rem 5rem;
  }
}
@media screen and (max-width: 768px) {
  .layout-vertical .demand-item .item-button-box {
    margin-top: 1.25rem;
  }
  .layout-horizontal .demand-item .item-button-box {
    margin-top: 1.25rem;
    position: relative;
  }
  .layout-horizontal .item-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    /* 限制文本为2行 */
    overflow: hidden;
    height: 4rem;
  }
  .layout-horizontal .item-tag-box {
    padding: 1rem 0;
    flex-wrap: wrap;
    height: 7rem;
    max-height: 7rem;
  }
}
