/* Resources Content */
.faq-item {
  width: 100%;
  background: white;
  border: 0.125rem solid #F0F0F3;
  border-radius: 1.25rem;
  padding: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}
.faq-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .faq-header {
    gap: 0.5rem;
  }
}
.faq-header-icon-box {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  border: #f0f0f3 solid 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-header-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 1.25rem;
}
@media screen and (max-width: 768px) {
  .faq-header-icon {
    width: 6.25rem;
    min-width: 6.25rem;
    height: 6.25rem;
  }
}
.faq-header-middle-box {
  flex: 1;
  width: calc(100% - 10.5rem);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .faq-header-middle-box {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 8.75rem);
  }
}
.faq-header-title-tag {
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  font-family: var(--primary-robotofont);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .faq-header-title-tag {
    margin: 0.25rem 1rem;
  }
}
.faq-header-title {
  width: 100%;
  font-family: var(--primary-robotofont);
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 1;
}
@media screen and (max-width: 768px) {
  .faq-header-title {
    font-size: 1.75rem;
  }
}
.faq-header-arrow-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.faq-header-arrow-icon.open {
  transform: rotate(180deg);
}
.faq-content {
  max-width: 100%;
  font-family: var(--primary-popfont);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.75rem;
  color: #000000;
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
}
.faq-content .view-more-wrapper {
  text-align: right;
}
.faq-content .view-more-wrapper .view-more-btn {
  color: #000;
}
.faq-content .view-more-wrapper .view-more-btn:hover {
  color: var(--primary-color);
}
.icon-dianzan {
  display: none;
  color: #1E9FDB;
  font-size: 2.25rem;
  cursor: pointer;
}
.icon-dianzan.icon-not-dianzan {
  color: #FD8E2D;
  transform: rotate(180deg);
}
.resource-action-group {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
.resource-action-group.has-activate .iconfont {
  display: inline-block;
}
.resource-action-group.has-activate .resource-action-icon {
  display: none;
}
.resource-action-count {
  font-family: var(--primary-popfont);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #000000;
}
.resource-action-icon {
  width: 2.25rem;
  height: 2.25rem;
}
.resource-action-icon.cursor-pointer {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .faq-content {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
.faq-actions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
}
.faq-action-group {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
.faq-action-count {
  font-family: var(--primary-popfont);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #000000;
}
.faq-action-icon {
  width: 2.25rem;
  height: 2.25rem;
}
.cursor-pointer {
  cursor: pointer;
}
