@font-face {
  font-family: "iconfont"; /* Project id 5077150 */
  src: url('//at.alicdn.com/t/c/font_5077150_gz1hfsh283e.woff2?t=1767171505625') format('woff2'),
       url('//at.alicdn.com/t/c/font_5077150_gz1hfsh283e.woff?t=1767171505625') format('woff'),
       url('//at.alicdn.com/t/c/font_5077150_gz1hfsh283e.ttf?t=1767171505625') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuan:before {
  content: "\e660";
}

.icon-pinglun:before {
  content: "\e603";
}

.icon-arrow_up:before {
  content: "\e68c";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-instagram:before {
  content: "\e602";
}

.icon-logo2:before {
  content: "\e63f";
}

.icon-facebook1:before {
  content: "\e642";
}

.icon-lunbojiantouyou:before {
  content: "\e654";
}

.icon-lunbojiantouzuo:before {
  content: "\e600";
}

.icon-sanjiaoxing_shang:before {
  content: "\e6e6";
}

.icon-jinbi1:before {
  content: "\e60c";
}

.icon-youjian:before {
  content: "\e6f7";
}
