.top {
    background-color: #fff;
}

#banner {
    margin-top: 16px;
}

.banner-slide-icon {
    display: block;
    width: 100%;
    aspect-ratio: 1440/650;
    border: #fff solid 1px;
    overflow: hidden;
    cursor: pointer;
}

.pager-content {
    margin-left: 0;
    margin-right: 0;
    width: calc(100%);
    background-color: #f4f4f4;
}

@media screen and (max-width: 768px) {
    .pager-content {
        margin-left: -16px;
        margin-right: -16px;
        width: calc(100% + 32px);
    }
}

.pager-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 20px;
}

.pager-wrapper-title {
    width: 100%;
    text-align: left;
    color: #000;
    font-family: var(--primary-robotofont);
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}

.pager-subtitle-box {
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pager-subtitle {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    transform: skewX(-20deg);
}

.pager-subtitle-empty {
    flex: 1;
}

.pager-more-box {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.pager-more {
    color: rgba(0, 0, 0, 0.85);
    font-family: var(--primary-robotofont);
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.pager-more-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.best-items-pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.best-store-pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hot-compaigns-pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.popular-demands-pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hot-posts-pager {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comments-pager {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media screen and (min-width: 1441px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 90px) / 4);
    }
}

@media screen and (max-width: 1440px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 90px) / 4);
    }
}

@media screen and (max-width: 1160px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 60px) / 3);
    }
}

@media screen and (max-width: 980px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width: 768px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 10px) / 2);
    }
}

@media screen and (min-width: 1441px) {
    .best-store-pager .store-item {
        width: calc((100% - 60px) / 3);
    }
}

@media screen and (max-width: 1440px) {
    .best-store-pager .store-item {
        width: calc((100% - 60px) / 3);
    }
}

@media screen and (max-width: 900px) {
    .best-store-pager .store-item {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width: 768px) {
    .best-store-pager .store-item {
        width: calc((100% - 10px) / 2);
    }
}

@media screen and (min-width: 1441px) {
    .hot-compaigns-pager .demand-item {
        width: calc((100% - 90px) / 4);
    }
}

@media screen and (max-width: 1440px) {
    .hot-compaigns-pager .compaign-item {
        width: calc((100% - 90px) / 4);
    }
}

@media screen and (max-width: 1160px) {
    .hot-compaigns-pager .compaign-item {
        width: calc((100% - 60px) / 3);
    }
}

@media screen and (max-width: 980px) {
    .hot-compaigns-pager .compaign-item {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width: 768px) {
    .hot-compaigns-pager .compaign-item {
        width: calc((100% - 10px) / 2);
    }
}

@media screen and (min-width: 1441px) {
    .popular-demands-pager .demand-item {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width: 1440px) {
    .popular-demands-pager .demand-item {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width: 980px) {
    .popular-demands-pager .demand-item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .popular-demands-pager .demand-item {
        width: calc((100% - 10px) / 2);
    }
}

@media screen and (max-width: 768px) {
    .best-items-pager {
        gap: 10px;
    }

    .best-store-pager {
        gap: 10px;
    }

    .hot-compaigns-pager {
        gap: 10px;
    }

    .popular-demands-pager {
        gap: 10px;
    }

    .hot-posts-pager {
        gap: 10px;
    }

    .comments-pager {
        margin-top: 40px;
        gap: 10px;
    }
}

.comments-pager::-webkit-scrollbar {
    display: none;
}

.brand-container {
    background-color: #fff;
    width: 100%;
    padding: 16px 0;
}

.brand {
    position: relative;
    max-width: var(--container-width);
    width: 100%;
    margin: 0px auto;
}

.brand-content {
    overflow-x: auto;
    /* pointer-events: none; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.brand-content::-webkit-scrollbar {
    display: none;
}

.brand-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.brand-item-icon {
    width: 92px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}

.brand-item-text {
    max-width: 92px;
    margin-top: 8px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--primary-popfont);
    line-height: 34px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.brand-right-box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.brand-right-box-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
}

.brand-left-box {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.brand-left-box-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
}

@media screen and (max-width: 768px) {
    .brand-content {
        gap: 16px;
    }

    .brand-item-icon {
        width: 50px;
    }

    .brand-item-text {
        max-width: 92px;
        margin-top: -2px;
        font-size: 12px;
        line-height: 22px;
    }

    .brand-left-box,
    .brand-right-box {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .pager-wrapper {
        padding-top: 20px;
        padding-bottom: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .pager-wrapper-title {
        font-size: 20px;
        line-height: 32px;
    }

    .pager-subtitle-box {
        margin-top: -27px;
        margin-bottom: 0px;
    }

    .pager-subtitle {
        display: none;
    }

    .pager-more {
        font-size: 14px;
    }

    .pager-more-icon {
        display: none;
        margin-right: 0;
    }

    .pager-more-icon {
        margin-right: 0;
    }

    .brand {
        padding: 0 0 0 16px;
    }

    .brand-item-icon {
        width: 50px;
    }

    .brand-item-text {
        margin-top: 0;
        max-width: 50px;
    }

    .best-store-pager {
        gap: 10px;
    }

    .hot-compaigns-pager {
        gap: 10px;
    }

    .popular-demands-pager {
        gap: 10px;
    }

    .hot-posts-pager {
        gap: 10px;
    }

    .comments-pager {
        gap: 10px;
    }

    .banner-slide-icon {
        aspect-ratio: 375/100;
    }
}