.top {
    background-color: #fff;
}

#banner {
    margin-top: 16px;
}

.banner-slide-icon {
    display: block;
    width: 100%;
    aspect-ratio: 1440/650;
    border: #fff solid 1px;
    overflow: hidden;
    cursor: pointer;
}


.top-menu-container {
    width: 100%;
    border-top: var(--gray-color) solid 0.5px;
    border-bottom: var(--gray-color) solid 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .top-menu-container {
        display: none;
    }
}

.top-menu {
    position: relative;
    max-width: var(--container-width);
    width: 100%;
}

.top-menu-content {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.top-menu-content::-webkit-scrollbar {
    display: none;
}

.top-menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: none;
}

.top-menu-item-text {
    color: #62646a;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--primary-popfont);
    line-height: 24px;
    white-space: nowrap;
    overflow: visible;
}

.top-menu-item.active {
    border-bottom: var(--primary-color) solid 3px;
}

.top-menu-container-more-box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to right, transparent, #fff 60%, #fff 100%);
    width: 30px;
    height: 24px;
}

.top-menu-container-more-box-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 14px;
}

.pager-content {
    width: 100%;
    background-color: #f4f4f4;
}

.pager-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 20px;
}

.pager-wrapper-title {
    width: 100%;
    text-align: left;
    color: #000;
    font-family: var(--primary-robotofont);
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}

.pager-subtitle-box {
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pager-subtitle {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    transform: skewX(-20deg);
}

.pager-subtitle-empty {
    flex: 1;
}

.pager-more-box {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.pager-more {
    color: rgba(0, 0, 0, 0.85);
    font-family: var(--primary-robotofont);
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.pager-more-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.best-items-pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.best-store-pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hot-compaigns-pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.popular-demands-pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hot-posts-pager {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comments-pager {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media (min-width: 1441px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 90px) / 4);
    }
}

@media (max-width: 1440px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 90px) / 4);
    }
}

@media (max-width: 1160px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 60px) / 3);
    }
}

@media (max-width: 980px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 30px) / 2);
    }
}

@media (max-width: 768px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 10px) / 2);
    }
}

@media (min-width: 1441px) {
    .best-store-pager .store-item {
        width: calc((100% - 60px) / 3);
    }
}

@media (max-width: 1440px) {
    .best-store-pager .store-item {
        width: calc((100% - 60px) / 3);
    }
}

@media (max-width: 900px) {
    .best-store-pager .store-item {
        width: calc((100% - 30px) / 2);
    }
}

@media (max-width: 768px) {
    .best-store-pager .store-item {
        width: calc((100% - 10px) / 2);
    }
}

@media (min-width: 1441px) {
    .hot-compaigns-pager .demand-item {
        width: calc((100% - 90px) / 4);
    }
}

@media (max-width: 1440px) {
    .hot-compaigns-pager .compaign-item {
        width: calc((100% - 90px) / 4);
    }
}

@media (max-width: 1160px) {
    .hot-compaigns-pager .compaign-item {
        width: calc((100% - 60px) / 3);
    }
}

@media (max-width: 980px) {
    .hot-compaigns-pager .compaign-item {
        width: calc((100% - 30px) / 2);
    }
}

@media (max-width: 768px) {
    .hot-compaigns-pager .compaign-item {
        width: calc((100% - 10px) / 2);
    }
}

@media (min-width: 1441px) {
    .popular-demands-pager .demand-item {
        width: calc((100% - 30px) / 2);
    }
}

@media (max-width: 1440px) {
    .popular-demands-pager .demand-item {
        width: calc((100% - 30px) / 2);
    }
}

@media (max-width: 980px) {
    .popular-demands-pager .demand-item {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .popular-demands-pager .demand-item {
        width: calc((100% - 10px) / 2);
    }
}

@media (max-width: 768px) {
    .best-items-pager {
        gap: 10px;
    }

    .best-store-pager {
        gap: 10px;
    }

    .hot-compaigns-pager {
        gap: 10px;
    }

    .popular-demands-pager {
        gap: 10px;
    }

    .hot-posts-pager {
        gap: 10px;
    }

    .comments-pager {
        margin-top: 40px;
        gap: 10px;
    }
}

.comments-pager::-webkit-scrollbar {
    display: none;
}

.brand-container {
    background-color: #fff;
    width: 100%;
    padding: 16px 0;
}

.brand {
    position: relative;
    max-width: var(--container-width);
    width: 100%;
    margin: 0px auto;
}

.brand-content {
    overflow-x: auto;
    /* pointer-events: none; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.brand-content::-webkit-scrollbar {
    display: none;
}

.brand-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.brand-item-icon {
    width: 92px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}

.brand-item-text {
    max-width: 92px;
    margin-top: 8px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--primary-popfont);
    line-height: 34px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.brand-right-box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}

.brand-right-box-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
}

.brand-left-box {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}

.brand-left-box-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
}

.home-menu-page {
    z-index: 101;
    background: rgba(0, 0, 0, 0.5);
    width: 0;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.5s ease-in-out;
    display: none;
    flex-direction: row;
}

.home-menu-container {
    background: #fff;
    flex: 1;
}

.home-menu-back {
    width: 64px;
    height: 100%;
}

.home-menu-first-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #C5C5C5 transparent;
}

.home-menu-user-box {
    width: 100%;
    display: flex;
    align-items: center;
}

.home-menu-user-icon {
    width: 40px;
    min-width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.home-menu-user-info-box {
    margin-left: 10px;
    flex: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.home-menu-user-name {
    font-family: var(--primary-popfont);
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #000;
}

.home-menu-user-email {
    font-family: var(--primary-popfont);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--gray-color);
}

.home-menu-user-logout {
    width: 24px;
    height: 24px;
}

.home-menu-seperate-line {
    margin-top: 20px;
    width: 100%;
    border: #f4f4f4 solid 1px;
}

.home-menu-login-box {
    background: var(--primary-color);
    border-radius: 5px;
    padding: 10px 16px;
    cursor: pointer;
}

.home-menu-login-text {
    font-family: var(--primary-robotofont);
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
}

.home-menu-signin-text {
    width: 100%;
    margin-top: 20px;
    font-family: var(--primary-robotofont);
    font-size: 14px;
    line-height: 22px;
    color: var(--gray-color);
    font-weight: 600;
    cursor: pointer;
}

.home-menu-item-title-box {
    margin-top: 20px;
    width: 100%;
}

.home-menu-item-title-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.home-menu-item-title {
    font-family: var(--primary-popfont);
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
}

.home-menu-item-title-arrow {
    width: 12px;
    height: 12px;
    transform: rotate(-90deg);
    transition: transform 0.25s ease-in-out;
}

.home-menu-item-content {
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
    padding: 0 0 0 16px;
    gap: 20px;
}

.home-menu-item-content-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.home-menu-item-content-item-title {
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 22px;
    color: var(--gray-color);
    font-weight: 400;
}

.home-menu-item-content-item-title-arrow {
    width: 12px;
    height: 12px;
}

.home-menu-seller-text {
    width: 100%;
    margin-top: 20px;
    font-family: var(--primary-popfont);
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.home-menu-second-page {
    z-index: 102;
    position: absolute;
    left: 0;
    top: 0;
    right: 64px;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px;
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
    scrollbar-width: thin;
    scrollbar-color: #C5C5C5 transparent;
}

.home-menu-second-page-title-box {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.home-menu-second-page-title-back {
    width: 12px;
    height: 12px;
    transform: rotate(90deg);
}

.home-menu-second-page-title {
    width: 100%;
    display: flex;
    font-family: var(--primary-popfont);
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
}

.home-menu-second-page-group {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-menu-second-page-group-title {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
}

.home-menu-second-page-group-item {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 12px;
    line-height: 22px;
    color: var(--gray-color);
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.header-items-more {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
}

.header-items-more-text {
    padding: 2px 10px;
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 20px;
    color: var(--gray-color);
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
}

.top-menu-more-box {
    z-index: 8;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 30px;
    background: #fff;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: var(--gray-color) solid 1px;
    border-top: none;
    overflow: hidden;
}

.top-menu-more-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.top-menu-more-list-title {
    font-family: var(--primary-popfont);
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
}

.top-menu-more-list-item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.top-menu-more-list-item-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.top-menu-more-list-item-text {
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 20px;
    color: var(--gray-color);
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 768px) {
    .pager-wrapper {
        padding-top: 20px;
        padding-bottom: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .pager-wrapper-title {
        font-size: 20px;
        line-height: 32px;
    }

    .pager-subtitle-box {
        margin-top: -27px;
        margin-bottom: 0px;
    }

    .pager-subtitle {
        display: none;
    }

    .pager-more {
        font-size: 14px;
    }

    .pager-more-icon {
        display: none;
        margin-right: 0;
    }

    .pager-more-icon {
        margin-right: 0;
    }

    .brand {
        padding: 0 0 0 16px;
    }

    .brand-content {
        pointer-events: painted;
        scrollbar-width: unset;
        -ms-overflow-style: unset;
        gap: 16px;
    }

    .brand-item-icon {
        width: 50px;
    }

    .brand-item-text {
        margin-top: 0;
        max-width: 50px;
    }

    .best-store-pager {
        gap: 10px;
    }

    .hot-compaigns-pager {
        gap: 10px;
    }

    .popular-demands-pager {
        gap: 10px;
    }

    .hot-posts-pager {
        gap: 10px;
    }

    .comments-pager {
        gap: 10px;
    }

    .banner-slide-icon {
        aspect-ratio: 375/100;
    }
}