.index-page-banner {
    width: 100%; 
    background-color: #fff;
    padding-top: 2.5rem;
    .carousel-indicator.active {
        width: 10rem;
    }
}
.top {
    background-color: #fff;
}

.item-content {
    width: 100%;
    height: 100%;
    position: relative;
    background: #000;
    border-radius: 8.5rem;
}

.item-content-box {
    width: 700px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
    color: var(--font-white-color);
    text-align: center;
}

.item-content-box .title {
    padding-top: 10rem;
    padding-bottom: 5rem;
    font-size: 8.75rem;
    font-family: Poppins;
}

.item-content-box .des {
    width: 80%;
    margin: 0 auto;
    font-size: 2.75rem;
    padding-bottom: 5rem;
}

.item-content-box .btns-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    padding-top: 6rem;
}

.item-content-box .btns-wrapper .bid-now-btn {
    width: 25rem;
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5rem;
    font-size: 2rem;
    color: var(--font-white-color);
    background-color: var(--primary-color);
    border: 0.125rem solid var(--primary-color);
}

.item-content-box .btns-wrapper .view-more-btn {
    width: 25rem;
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5rem;
    font-size: 2rem;
    color: var(--font-white-color);
    border: 0.125rem solid #fff;
}

@media screen and (max-width: 768px) {
    .item-content {
        border-radius: 0;
    }
    .item-content-box .title {
        padding-top: 2rem;
        padding-bottom: 0rem;
        font-size: 3rem;
    }
    .item-content-box .des {
        padding-bottom: 0rem;
        font-size: 1.5rem;
        width: 51%;
    }
    .item-content-box .btns-wrapper {
        column-gap: 2rem;
        padding-top: 1rem;
    }
    .item-content-box .btns-wrapper .bid-now-btn, .item-content-box .btns-wrapper .view-more-btn {
        width: 12.5rem;
        height: 3.75rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
    }
}

.banner-slide-img {
    display: block;
    width: 100%;
    aspect-ratio: 1440/650;
    overflow: hidden;
}

.pager-content {
    margin-left: 0;
    margin-right: 0;
    width: calc(100%);
    background-color: #f4f4f4;
}

@media screen and (max-width: 768px) {
    .pager-content {
        margin-left: -2rem;
        margin-right: -2rem;
        width: calc(100% + 4rem);
        background-color: #fff;
    }
}

.pager-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    padding-top: 4.5rem;
    padding-bottom: 2.5rem;
}

.pager-wrapper-title {
    width: 100%;
    text-align: left;
    color: #000;
    font-family: var(--primary-robotofont);
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 500;
}

.pager-subtitle-box {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.pager-subtitle {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-size: 2.5rem;
    line-height: 3.75rem;
    font-weight: 400;
    transform: skewX(-20deg);
}

.pager-subtitle-empty {
    flex: 1;
}

.pager-more-box {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.pager-more {
    color: rgba(0, 0, 0, 0.85);
    font-family: var(--primary-robotofont);
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 400;
}

.pager-more-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.best-items-pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3.75rem;
}

.best-store-pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3.75rem;
}

.hot-compaigns-pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3.75rem;
}

.popular-demands-pager {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3.75rem;
}

.hot-posts-pager {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.comments-pager {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    gap: 3.75rem;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media screen and (min-width: 1441px) {
    .best-items-pager .best-items-item {
        width: calc(25% - 2.8125rem);
    }
}

@media screen and (max-width: 1440px) {
    .best-items-pager .best-items-item {
        width: calc(25% - 2.8125rem);
    }
}

@media screen and (max-width: 1160px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 7.5rem) / 3);
    }
}

@media screen and (max-width: 980px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 3.75rem) / 2);
    }
    .item-content-box .btns-wrapper {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .best-items-pager .best-items-item {
        width: calc((100% - 1.25rem) / 2);
    }
}

@media screen and (min-width: 1441px) {
    .best-store-pager .store-item {
        width: calc((100% - 7.5rem) / 3);
    }
}

@media screen and (max-width: 1440px) {
    .best-store-pager .store-item {
        width: calc((100% - 7.5rem) / 3);
    }
}

@media screen and (max-width: 900px) {
    .best-store-pager .store-item {
        width: calc((100% - 3.75rem) / 2);
    }
}

@media screen and (max-width: 768px) {
    .best-store-pager .store-item {
        width: calc((100% - 1.25rem) / 2);
    }
}

@media screen and (min-width: 1441px) {
    .hot-compaigns-pager .demand-item {
        width: calc((100% - 11.25rem) / 4);
    }
}

@media screen and (max-width: 1440px) {
    .hot-compaigns-pager .compaign-item {
        width: calc((100% - 11.25rem) / 4);
    }
}

@media screen and (max-width: 1160px) {
    .hot-compaigns-pager .compaign-item {
        width: calc((100% - 7.5rem) / 3);
    }
}

@media screen and (max-width: 980px) {
    .hot-compaigns-pager .compaign-item {
        width: calc((100% - 3.75rem) / 2);
    }
}

@media screen and (max-width: 768px) {
    .hot-compaigns-pager .compaign-item {
        width: calc((100% - 1.25rem) / 2);
    }
}

@media screen and (min-width: 1441px) {
    .popular-demands-pager .demand-item {
        width: calc((100% - 3.75rem) / 2);
    }
}

@media screen and (max-width: 1440px) {
    .popular-demands-pager .demand-item {
        width: calc((100% - 3.75rem) / 2);
    }
}

@media screen and (max-width: 980px) {
    .popular-demands-pager .demand-item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .popular-demands-pager .demand-item {
        width: calc((100% - 1.25rem) / 2);
    }
}

@media screen and (max-width: 768px) {
    .best-items-pager {
        gap: 1.25rem;
    }

    .best-store-pager {
        gap: 1.25rem;
    }

    .hot-compaigns-pager {
        gap: 1.25rem;
    }

    .popular-demands-pager {
        gap: 1.25rem;
    }

    .hot-posts-pager {
        gap: 1.25rem;
    }

    .comments-pager {
        margin-top: 5rem;
        gap: 1.25rem;
    }
}

.comments-pager::-webkit-scrollbar {
    display: none;
}

.brand-container {
    background-color: #fff;
    width: 100%;
    padding: 2rem 0;
    max-width: var(--container-width);
    margin: 0 auto;
}

.brand {
    position: relative;
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 6.25rem;
}

.brand-content {
    overflow-x: auto;
    /* pointer-events: none; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.75rem;
    scroll-behavior: smooth;
}

.brand-content::-webkit-scrollbar {
    display: none;
}

.brand-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.brand-icon-box {
    width: 11.5rem;
    height: 11.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .125rem solid #eaeaea;
}
.brand-item-icon {
    width: 7.5rem;
    aspect-ratio: 1;
    border-radius: 1.25rem;
    cursor: pointer;
}

.brand-item-text {
    max-width: 11.5rem;
    margin-top: 1rem;
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--primary-popfont);
    line-height: 4.25rem;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.brand-right-box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 6.25rem;
    height: 6.25rem;
    cursor: pointer;
}
.brand-right-box-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4.5rem;
    height: 4.5rem;
}

.brand-left-box {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 6.25rem;
    height: 6.25rem;
    cursor: pointer;
}

.brand-left-box-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4.5rem;
    height: 4.5rem;
}

@media screen and (max-width: 768px) {
    .brand-content {
        gap: 2.5rem;
    }

    .brand-item-icon {
        width: 3.75rem;
    }
    .brand-icon-box {
        width: 6.25rem;
        height: 6.25rem;
    }

    .brand-item-text {
        max-width: 11.5rem;
        margin-top: -0.25rem;
        font-size: 1.5rem;
        line-height: 2.75rem;
    }

    .brand-left-box,
    .brand-right-box {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .pager-wrapper {
        padding-top: 2.5rem;
        padding-bottom: 0rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .pager-wrapper-title {
        font-size: 2.5rem;
        line-height: 4rem;
    }

    .pager-subtitle-box {
        margin-top: -2.5rem;
        margin-bottom: 0;
        .pager-more-box {
            margin-bottom: 1rem;
        }
    }

    .pager-subtitle {
        display: none;
    }

    .pager-more {
        font-size: 1.75rem;
    }

    .pager-more-icon {
        display: none;
        margin-right: 0;
    }

    .pager-more-icon {
        margin-right: 0;
    }

    .brand {
        padding: 0 0 0 2rem;
    }

    .brand-item-text {
        margin-top: 0;
        max-width: 6.25rem;
    }

    .best-store-pager {
        gap: 1.25rem;
    }

    .hot-compaigns-pager {
        gap: 1.25rem;
    }

    .popular-demands-pager {
        gap: 1.25rem;
    }

    .hot-posts-pager {
        gap: 1.25rem;
    }

    .comments-pager {
        gap: 1.25rem;
    }

    .banner-slide-icon {
        aspect-ratio: 375/100;
    }
}