.best-items-pager {
  transition: all 0.3s ease;
}
.layout-horizontal, 
.layout-vertical {
  margin: 0 auto;
  margin-top: 20px;
  width: calc(100vw - 32px);
}
.best-items-item {
  border: #F0F0F3 solid 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow: hidden;
  background: white;
  padding: 0;
  position: relative;
}
.best-items-item-mark {
  padding: 2px 4px;
  border-radius: 0 0 8px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  color: white;
  font-family: var(--primary-popfont);
}
.best-items-item-mark1 {
    background: linear-gradient(to right, #ff4d10, #ff7a02);
}
.best-items-item-mark2 {
    background: linear-gradient(to right, #0567c4, #0bb4e0);
}
.best-items-item-mark3 {
    background: linear-gradient(to right, #31aa16, #77ee5c);
}
.best-items-item-mark4 {
    background: linear-gradient(to right, #9216aa, #e75cee);
}
.best-items-item-mark5 {
    background: linear-gradient(to right, #c90105, #ff5155);
}
.best-items-item-mark6 {
    background: linear-gradient(to right, #ff3586, #ff88b8);
}
.best-items-item-like {
  position: absolute;
  width: 22px;
  height: 22px;
}
.best-items-item-star-box {
  position: absolute;
  display: flex;
  align-items: center;
}
.best-items-item-star-score {
  margin-left: 6px;
  font-family: var(--primary-popfont);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}
.best-items-item-star-recommend {
  margin-left: 2px;
  font-family: var(--primary-popfont);
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: var(--gray-color);
}
.best-items-item-price,
.best-items-item-stock {
  font-size: 12px;
  line-height: 20px;
  font-family: var(--primary-popfont);
  color: #000;
  font-weight: 500;
}
.best-items-item-button-box {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  font-family: var(--primary-popfont);
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-items-item-button-box.active {
  background: white;
  border: var(--primary-color) solid 1px;
  color: var(--primary-color);
}

.layout-horizontal .best-items-pager {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: var(--container-width);
}
.layout-horizontal .best-items-item {
  width: 100%;
  height: 111px;
}
.layout-horizontal .best-items-item-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 113px;
  height: 100%;
  object-fit: cover;
}
.layout-horizontal .best-items-item-like {
  right: 10px;
  top: 6px;
}
.layout-horizontal .best-items-item-mark {
  position: absolute;
  left: 10px;
  top: 11px;
}
.layout-horizontal .best-items-item-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  left: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding-right: 10px;
  height: 100%;
}
.layout-horizontal .best-items-item-title {
  margin-right: 22px;
  font-family: var(--primary-popfont);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layout-horizontal .best-items-item-star-box {
  left: 0;
  top: 50px;
}
.layout-horizontal .best-items-item-brand-service-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.layout-horizontal .best-items-item-brand-box,
.layout-horizontal .best-items-item-service-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.layout-horizontal .best-items-item-brand-text,
.layout-horizontal .best-items-item-service-text,
.layout-horizontal .best-items-item-brand,
.layout-horizontal .best-items-item-service {
  font-family: var(--primary-popfont);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--gray-color);
}
.layout-horizontal .best-items-item-service-text {
  margin-left: 10px;
}
.layout-horizontal .best-items-item-service {
  color: #000;
}
.layout-horizontal .best-items-item-brand,
.layout-horizontal .best-items-item-service
 {
  margin-left: 4px;
}

.layout-horizontal .best-items-item-price-stock-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 9px;
}
.layout-horizontal .best-items-item-price-text,
.layout-horizontal .best-items-item-stock-text {
  font-size: 12px;
  line-height: 20px;
  font-family: var(--primary-popfont);
  color: var(--gray-color);
  font-weight: 400;
}
.layout-horizontal .best-items-item-stock-text {
  margin-left: 5px;
}
.layout-horizontal .best-items-item-stock-icon {
  width: 12px;
  height: 12px;
  margin-left: 20px;
}
.layout-horizontal .best-items-item-price-box,
.layout-horizontal .best-items-item-stock-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.layout-vertical .best-items-pager {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  max-width: var(--container-width);
}
.layout-vertical .best-items-item {
  width: calc(50vw - 22px);
  height: 308px;
}
.layout-vertical .best-items-item-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 110px;
  object-fit: cover;
}
.layout-vertical .best-items-item-like {
  right: 10px;
  top: 120px;
}
.layout-vertical .best-items-item-mark {
  position: absolute;
  left: 10px;
  top: 11px;
}
.layout-vertical .best-items-item-content {
  position: absolute;
  top: 120px;
  bottom: 0;
  right: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 28px;
}
.layout-vertical .best-items-item-title {
  margin-right: 0;
  max-height: 32px;
  height: 32px;
  font-family: var(--primary-popfont);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: black;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
}
.layout-vertical .best-items-item-star-box {
  left: 0px;
  top: 0px;
}
.layout-vertical .best-items-item-brand-service-box {
  margin-top: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.layout-vertical .best-items-item-brand-text,
.layout-vertical .best-items-item-service-text,
.layout-vertical .best-items-item-brand,
.layout-vertical .best-items-item-service {
  font-family: var(--primary-popfont);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--gray-color);
}
.layout-vertical .best-items-item-brand-box,
.layout-vertical .best-items-item-service-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.layout-vertical .best-items-item-service-text {
  margin-left: 0px;
}
.layout-vertical .best-items-item-service {
  color: #000;
}
.layout-vertical .best-items-item-brand,
.layout-vertical .best-items-item-service
 {
  margin-left: 4px;
}

.layout-vertical .best-items-item-price-stock-box {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0px;
}
.layout-vertical .best-items-item-price-text,
.layout-vertical .best-items-item-stock-text {
  font-size: 12px;
  line-height: 20px;
  font-family: var(--primary-popfont);
  color: var(--gray-color);
  font-weight: 400;
}
.layout-vertical .best-items-item-stock-text {
  margin-left: 5px;
}
.layout-vertical .best-items-item-stock-icon {
  width: 12px;
  height: 12px;
  margin-left: 20px;
}
.layout-vertical .best-items-item-price-box,
.layout-vertical .best-items-item-stock-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.layout-vertical .best-items-item-button-box {
  margin-top: 10px;
}

