.best-items-pager {
  transition: all 0.3s ease;
}

.best-items-pager {
  width: 100%;
  display: flex;
  max-width: var(--container-width);
}

.best-items-item {
  border: #F0F0F3 solid 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  background: white;
  position: relative;
}

.best-items-item-icon {
  position: absolute;
  object-fit: cover;
}

.best-items-item-mark {
  padding: 2px 4px;
  border-radius: 0 0 8px 0;
  font-weight: 600;
  color: white;
  font-family: var(--primary-popfont);
}

.best-items-item-mark1 {
  background: linear-gradient(to right, #ff4d10, #ff7a02);
}

.best-items-item-mark2 {
  background: linear-gradient(to right, #0567c4, #0bb4e0);
}

.best-items-item-mark3 {
  background: linear-gradient(to right, #31aa16, #77ee5c);
}

.best-items-item-mark4 {
  background: linear-gradient(to right, #9216aa, #e75cee);
}

.best-items-item-mark5 {
  background: linear-gradient(to right, #c90105, #ff5155);
}

.best-items-item-mark6 {
  background: linear-gradient(to right, #ff3586, #ff88b8);
}

.best-items-item-like {
  position: absolute;
}

.best-items-item-content {
  position: absolute;
  display: flex;
}

.best-items-item-title-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.best-items-item-title {
  font-family: var(--primary-popfont);
  font-weight: 600;
  color: black;
}

.best-items-item-star-box {
  position: absolute;
  display: flex;
  align-items: center;
}

.best-items-item-star-score {
  margin-left: 6px;
  font-family: var(--primary-popfont);
  font-weight: 600;
  color: #000;
}

.best-items-item-star-recommend {
  margin-left: 2px;
  font-family: var(--primary-popfont);
  font-weight: 400;
  color: var(--gray-color);
}

.best-items-item-price,
.best-items-item-stock {
  font-size: 12px;
  line-height: 20px;
  font-family: var(--primary-popfont);
  color: #000;
  font-weight: 500;
}

.best-items-item-button-box {
  border: none;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  font-family: var(--primary-popfont);
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.best-items-item-button-box.active {
  background: white;
  border: var(--primary-color) solid 1px;
  color: var(--primary-color);
  box-shadow: none;
}

.layout-mobile-horizontal,
.layout-mobile-vertical {
  margin: 0 auto;
  margin-top: 20px;
  width: calc(100vw - 32px);
}

.layout-web-horizontal,
.layout-web-vertical {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
}

.layout-mobile-horizontal .best-items-pager {
  flex-direction: column;
  gap: 16px;
}

.layout-mobile-vertical .best-items-pager {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.layout-web-horizontal .best-items-pager {
  flex-direction: column;
  gap: 10px;
}

.layout-web-vertical .best-items-pager {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.layout-mobile-horizontal .best-items-item {
  width: 100%;
  height: 111px;
}

.layout-mobile-vertical .best-items-item {
  width: calc(50vw - 22px);
  height: 308px;
}

.layout-mobile-horizontal .best-items-item,
.layout-mobile-vertical .best-items-item {
  padding: 0px 0px;
  border-radius: 10px;
}

.layout-web-horizontal .best-items-item {
  width: 100%;
  height: 223px;
}

.layout-web-vertical .best-items-item {
  width: calc((100% - 60px) / 3);
  height: 595px;
}

.layout-web-horizontal .best-items-item,
.layout-web-vertical .best-items-item {
  padding: 20px 20px;
  border-radius: 40px;
}

.layout-mobile-horizontal .best-items-item-icon {
  left: 0;
  top: 0;
  width: 113px;
  height: 100%;
  border-radius: 0px;
}

.layout-mobile-vertical .best-items-item-icon {
  left: 0;
  top: 0;
  width: 100%;
  height: 110px;
  border-radius: 0px;
}

.layout-web-horizontal .best-items-item-icon {
  left: 0;
  top: 0;
  width: 290px;
  height: 100%;
  border-radius: 40px;
}

.layout-web-vertical .best-items-item-icon {
  left: 0;
  top: 0;
  width: 100%;
  height: 210px;
  border-radius: 40px;
}

.layout-mobile-horizontal .best-items-item-mark,
.layout-mobile-vertical .best-items-item-mark {
  font-size: 12px;
  line-height: 14px;
}

.layout-mobile-horizontal .best-items-item-mark {
  position: absolute;
  left: -113px;
  top: 11px;
  margin-right: 0;
}

.layout-mobile-vertical .best-items-item-mark {
  position: absolute;
  left: 0px;
  top: -109px;
  margin-right: 0;
}

.layout-web-horizontal .best-items-item-mark,
.layout-web-vertical .best-items-item-mark {
  font-size: 14px;
  line-height: 14px;
}

.layout-web-horizontal .best-items-item-mark {
  position: relative;
  margin-right: 10px;
}

.layout-web-vertical .best-items-item-mark {
  position: relative;
  margin-right: 10px;
}

.layout-mobile-horizontal .best-items-item-like {
  right: 10px;
  top: 6px;
}

.layout-mobile-vertical .best-items-item-like {
  right: 10px;
  top: 120px;
}

.layout-mobile-horizontal .best-items-item-like,
.layout-mobile-vertical .best-items-item-like {
  width: 22px;
  height: 22px;
}

.layout-web-horizontal .best-items-item-like {
  right: 26.5px;
  top: 38px;
}

.layout-web-vertical .best-items-item-like {
  right: 40px;
  top: 40px;
}

.layout-web-horizontal .best-items-item-like,
.layout-web-vertical .best-items-item-like {
  width: 24px;
  height: 24px;
}

.layout-mobile-horizontal .best-items-item-content {
  top: 0;
  bottom: 0;
  right: 10px;
  left: 123px;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  height: 100%;
}

.layout-mobile-vertical .best-items-item-content {
  top: 120px;
  bottom: 0;
  right: 10px;
  left: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 28px;
}

.layout-web-horizontal .best-items-item-content {
  top: 0;
  bottom: 0;
  right: 20px;
  left: 330px;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding-right: 0;
  height: 100%;
}

.layout-web-vertical .best-items-item-content {
  top: 240px;
  bottom: 0;
  right: 20px;
  left: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0;
}

.layout-mobile-horizontal .best-items-item-star-box {
  left: 0;
  top: 45px;
}

.layout-mobile-vertical .best-items-item-star-box {
  left: 0px;
  top: 0px;
}

.layout-mobile-horizontal .best-items-item-star-score,
.layout-mobile-vertical .best-items-item-star-score {
  font-size: 14px;
  line-height: 22px;
}

.layout-mobile-horizontal .best-items-item-star-recommend,
.layout-mobile-vertical .best-items-item-star-recommend {
  font-size: 12px;
  line-height: 22px;
}

.layout-web-horizontal .best-items-item-star-box {
  left: 0;
  top: 80px;
}

.layout-web-vertical .best-items-item-star-box {
  left: 0px;
  top: 110px;
}

.layout-web-horizontal .best-items-item-star-score,
.layout-web-vertical .best-items-item-star-score {
  font-size: 20px;
  line-height: 22px;
}

.layout-web-horizontal .best-items-item-star-recommend,
.layout-web-vertical .best-items-item-star-recommend {
  font-size: 20px;
  line-height: 22px;
}

.layout-mobile-horizontal .best-items-item-title-box {
  padding-right: 22px;
}

.layout-mobile-vertical .best-items-item-title-box {
  margin-right: 0px;
}

.layout-web-horizontal .best-items-item-title-box {
  margin-right: 0px;
}

.layout-web-vertical .best-items-item-title-box {
  margin-right: 0px;
}

.layout-mobile-horizontal .best-items-item-title {
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout-mobile-vertical .best-items-item-title {
  max-height: 32px;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
}

.layout-web-horizontal .best-items-item-title {
  margin-right: 204px;
  font-size: 28px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout-web-vertical .best-items-item-title {
  margin-right: 0;
  font-size: 28px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout-mobile-horizontal .best-items-item-middle-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.layout-mobile-vertical .best-items-item-middle-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.layout-web-horizontal .best-items-item-middle-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 49px;
  gap: 20px;
}

.layout-web-vertical .best-items-item-middle-box {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.layout-mobile-horizontal .best-items-item-brand-service-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.layout-mobile-vertical .best-items-item-brand-service-box {
  margin-top: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.layout-web-horizontal .best-items-item-brand-service-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.layout-web-vertical .best-items-item-brand-service-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}

.layout-mobile-horizontal .best-items-item-brand-box,
.layout-mobile-horizontal .best-items-item-service-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.layout-mobile-vertical .best-items-item-brand-box,
.layout-mobile-vertical .best-items-item-service-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.layout-web-horizontal .best-items-item-brand-box,
.layout-web-horizontal .best-items-item-service-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.layout-web-vertical .best-items-item-brand-box,
.layout-web-vertical .best-items-item-service-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.layout-mobile-horizontal .best-items-item-brand-text,
.layout-mobile-horizontal .best-items-item-service-text,
.layout-mobile-horizontal .best-items-item-brand,
.layout-mobile-horizontal .best-items-item-service {
  font-family: var(--primary-popfont);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--gray-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout-web-horizontal .best-items-item-brand-text,
.layout-web-horizontal .best-items-item-service-text,
.layout-web-horizontal .best-items-item-brand,
.layout-web-horizontal .best-items-item-service {
  font-family: var(--primary-popfont);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gray-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout-mobile-horizontal .best-items-item-service-text {
  margin-left: 10px;
}

.layout-web-horizontal .best-items-item-service-text {
  margin-left: 0;
}

.layout-mobile-horizontal .best-items-item-service {
  color: #000;
}

.layout-web-horizontal .best-items-item-service {
  color: #000;
}

.layout-mobile-horizontal .best-items-item-brand,
.layout-mobile-horizontal .best-items-item-service {
  margin-left: 4px;
}

.layout-web-horizontal .best-items-item-brand,
.layout-web-horizontal .best-items-item-service {
  margin-left: 4px;
}

.layout-mobile-vertical .best-items-item-brand-text,
.layout-mobile-vertical .best-items-item-service-text,
.layout-mobile-vertical .best-items-item-brand,
.layout-mobile-vertical .best-items-item-service {
  font-family: var(--primary-popfont);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--gray-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout-web-vertical .best-items-item-brand-text,
.layout-web-vertical .best-items-item-service-text,
.layout-web-vertical .best-items-item-brand,
.layout-web-vertical .best-items-item-service {
  font-family: var(--primary-popfont);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gray-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout-mobile-vertical .best-items-item-service-text {
  margin-left: 0px;
}

.layout-mobile-vertical .best-items-item-service {
  color: #000;
}

.layout-mobile-vertical .best-items-item-brand,
.layout-mobile-vertical .best-items-item-service {
  margin-left: 4px;
}

.layout-web-vertical .best-items-item-service-text {
  margin-left: 0px;
}

.layout-web-vertical .best-items-item-service {
  color: #000;
}

.layout-web-vertical .best-items-item-brand,
.layout-web-vertical .best-items-item-service {
  margin-left: 4px;
}

.layout-mobile-horizontal .best-items-item-price-stock-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 9px;
}

.layout-mobile-horizontal .best-items-item-price-box,
.layout-mobile-horizontal .best-items-item-stock-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.layout-web-horizontal .best-items-item-price-stock-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 9px;
  gap: 20px;
}

.layout-web-horizontal .best-items-item-price-box,
.layout-web-horizontal .best-items-item-stock-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.layout-mobile-horizontal .best-items-item-price-text,
.layout-mobile-horizontal .best-items-item-stock-text {
  display: none;
  font-size: 12px;
  line-height: 20px;
  font-family: var(--primary-popfont);
  color: var(--gray-color);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout-web-horizontal .best-items-item-price-text {
  display: auto;
  font-size: 20px;
  line-height: 24px;
  font-family: var(--primary-popfont);
  color: var(--gray-color);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 4px;
}

.layout-web-horizontal .best-items-item-stock-text {
  display: auto;
  font-size: 14px;
  line-height: 24px;
  font-family: var(--primary-popfont);
  color: var(--gray-color);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout-mobile-horizontal .best-items-item-stock {
  margin-left: 5px;
}

.layout-mobile-horizontal .best-items-item-stock-icon {
  width: 12px;
  height: 12px;
  margin-left: 20px;
}

.layout-web-horizontal .best-items-item-stock {
  margin-left: 5px;
}

.layout-web-horizontal .best-items-item-stock-icon {
  display: none;
  width: 12px;
  height: 12px;
  margin-left: 20px;
}

.layout-mobile-vertical .best-items-item-price-stock-box {
  width: 100%;
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 0px;
  gap: 6px;
}

.layout-mobile-vertical .best-items-item-price-box,
.layout-mobile-vertical .best-items-item-stock-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.layout-mobile-vertical .best-items-item-price-text,
.layout-mobile-vertical .best-items-item-stock-text {
  display: none;
  font-size: 12px;
  line-height: 20px;
  font-family: var(--primary-popfont);
  color: var(--gray-color);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout-mobile-vertical .best-items-item-stock {
  margin-left: 5px;
}

.layout-mobile-vertical .best-items-item-stock-icon {
  width: 12px;
  height: 12px;
  margin-left: 20px;
}

.layout-mobile-horizontal .best-items-item-price,
.layout-mobile-horizontal .best-items-item-stock,
.layout-mobile-vertical .best-items-item-price,
.layout-mobile-vertical .best-items-item-stock {
  font-size: 12px;
  line-height: 20px;
}

.layout-web-vertical .best-items-item-price-stock-box {
  width: 100%;
  margin-top: 41px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 0px;
  gap: 6px;
}

.layout-web-vertical .best-items-item-price-box,
.layout-web-vertical .best-items-item-stock-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.layout-web-vertical .best-items-item-price-text {
  font-size: 20px;
  line-height: 24px;
  font-family: var(--primary-popfont);
  color: var(--gray-color);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 4px;
}

.layout-web-vertical .best-items-item-stock-text {
  font-size: 14px;
  line-height: 24px;
  font-family: var(--primary-popfont);
  color: var(--gray-color);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout-web-vertical .best-items-item-stock-icon {
  display: none;
  width: 12px;
  height: 12px;
  margin-left: 20px;
}

.layout-web-horizontal .best-items-item-stock,
.layout-web-vertical .best-items-item-stock {
  font-size: 14px;
  line-height: 24px;
  margin-left: 4px;
}

.layout-web-horizontal .best-items-item-price,
.layout-web-vertical .best-items-item-price {
  font-size: 20px;
  line-height: 24px;
}

.best-items-item-tag-box {
  margin-top: 6px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.best-items-item-tag {
  padding: 4px 8px;
  border: #d9d9d9 solid 1px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  font-family: var(--primary-popfont);
  color: var(--gray-color);
  font-weight: 400;
}

.layout-mobile-horizontal .best-items-item-button-box,
.layout-mobile-vertical .best-items-item-button-box {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 22px;
}

.layout-mobile-vertical .best-items-item-button-box {
  margin-top: 10px;
}

.layout-web-horizontal .best-items-item-button-box {
  position: absolute;
  right: 40px;
  top: 30px;
  height: 40px;
  border-radius: 20px;
  padding: 9px 39px;
}

.layout-web-vertical .best-items-item-button-box {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 22px;
}

.page {
  margin: 0 auto;
  max-width: var(--container-width);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background: #fff;
}

@media (max-width: 750px) {
  .page {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page-nav-box {
  display: flex;
  align-items: center;
  font-family: var(--primary-popfont);
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
}

.page-nav-home-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.page-nav-seperator {
  margin-left: 10px;
  color: #c5c5c5;
}

.page-nav-current {
  margin-left: 5px;
  color: #000000;
}

@media (max-width: 750px) {
  .layout-web-vertical .best-items-item {
    width: calc((100% - 10px) / 2);
  }
}

@media (min-width: 1440px) {
  .layout-web-vertical .best-items-item {
    width: 337.5px;
  }
}

@media (max-width: 1160px) {
  .layout-web-vertical .best-items-item {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 900px) {
  .layout-web-vertical .best-items-item {
    width: 100%;
  }
}