.page {
  margin: 0 auto;
  max-width: var(--container-width);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background: #fff;
}

@media (max-width: 768px) {
  .page {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.page-nav-box {
  display: flex;
  align-items: center;
  font-family: var(--primary-popfont);
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
}

.page-nav-home-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.page-nav-seperator {
  margin-left: 10px;
  color: #c5c5c5;
}

.page-nav-current {
  margin-left: 5px;
  color: #000000;
}