.pager-indicators {
    margin-top: 20px;
    gap: 10px;
}
.pager-indicator {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: var(--gray-color) solid 1px;
    background-color: transparent;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.pager-indicator.active {
    background: var(--primary-color);
    border: none;
    width: 10px;
}