.page-filter-layoutcontrol-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 1.25rem;
}
.page-filterresult-sort-box {
  padding-left: 15rem;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .page-filter-layoutcontrol-box {
    flex-direction: column;
  }
}
