.page-filter-layoutcontrol-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 1.25rem;
}

.layout-horizontal .items-pager {
    gap: 0;
}

.layout-horizontal .post-item.post-all-featured-item,
.layout-vertical .post-item.post-all-featured-item {
    background: rgba(253, 142, 45, 0.1);
}
