.page-filter-layoutcontrol-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 1.25rem;
}
.layout-horizontal .items-pager {
  gap: 0;
}
.layout-horizontal .post-item.post-all-featured-item,
.layout-vertical .post-item.post-all-featured-item {
  background: rgba(253, 142, 45, 0.1);
}
.post-all-filter-layoutcontrol-box .page-filter-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  flex: 0 0 24px;
}
.post-all-filter-layoutcontrol-box .page-filterresult-box {
  font-family: var(--primary-robotofont);
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .page-top-bread {
    width: 100%;
    margin-left: 0;
    transform: none;
    padding: 0;
  }
  .post-all-filter-layoutcontrol-box {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2.5rem;
    row-gap: 2rem;
    align-items: center;
    margin-top: 2rem;
  }
  .post-all-filter-layoutcontrol-box .page-filterresult-sort-box {
    display: flex;
    grid-column: 1 / -1;
    width: 100%;
    padding-left: 0;
    margin-top: 0 !important;
    align-items: center;
    justify-content: space-between;
  }
  .post-all-filter-layoutcontrol-box .page-filterresult-box {
    font-size: 1.75rem;
    line-height: 2.75rem;
    gap: 0.5rem;
    white-space: nowrap;
  }
  .post-all-filter-layoutcontrol-box .page-sort-box {
    padding: 0;
    margin-left: 1.25rem;
  }
  .post-all-filter-layoutcontrol-box .page-sort-icon {
    width: 2rem;
    height: 2rem;
  }
  .post-all-mobile-page .layout-horizontal .post-item .icon-aixin,
  .post-all-mobile-page .layout-vertical .post-item .icon-aixin {
    top: 0.75rem;
    right: 1.25rem;
    left: auto !important;
  }
  .post-all-mobile-page .layout-horizontal .post-item .item-title-box,
  .post-all-mobile-page .layout-vertical .post-item .item-title-box {
    width: 100%;
    padding-right: 3.5rem;
  }
}
