.post-item {
    border: #F0F0F3 solid 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    background: white;
    overflow: hidden;
    position: relative;
    display: flex;
}

.layout-horizontal .post-item {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.layout-horizontal .post-item {
    padding: 20px 20px;
    border-radius: 40px;
}

@media (max-width: 768px) {

    .layout-horizontal .post-item {
        padding: 0px 0px;
        border-radius: 10px;
        gap: 10px;
    }
}

.layout-horizontal .post-item-icon {
    min-width: 347.5px;
    width: 347.5px;
    height: 250px;
    border-radius: 40px;
    overflow: hidden;
}

.layout-horizontal .post-item .item-like {
    top: 28.5px;
    right: 22px;
}

@media (max-width: 768px) {

    .layout-horizontal .post-item-icon {
        min-width: 140px;
        width: 140px;
        height: 141px;
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow: hidden;
    }

    .layout-horizontal .post-item .item-like {
        top: 19.5px;
        left: 107.5px !important;
    }
}

.post-item-content {
    display: flex;
}

.layout-horizontal .post-item-content {
    width: calc(100% - 387.5px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding-right: 0;
}

.layout-horizontal .post-item .item-title {
    font-size: 28px;
    line-height: 40px;
}

.post-item-content .item-desc-box {
    max-height: 76px;
    overflow: hidden;
}

.post-item-content .item-desc {
    font-size: 20px;
    line-height: 38px;
    font-family: var(--primary-popfont);
    font-weight: 400;
    color: #000;
    max-height: 76px;
    --webkit-line-clamp: 2;
    --webkit-box-orient: vertical;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 768px) {

    .layout-horizontal .post-item-content {
        width: calc(100% - 150px);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2px;
        padding-right: 10px;
    }

    .layout-horizontal .post-item .item-title {
        max-height: 40px;
        height: 40px;
        --webkit-line-clamp: 2;
        --webkit-box-orient: vertical;
        font-size: 14px;
        line-height: 20px;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .post-item-content .item-desc-box {
        display: none;
    }
}

.layout-horizontal .post-item .item-title-box {
    padding-right: 45px;
}

@media (max-width: 768px) {

    .layout-horizontal .post-item .item-title-box {
        padding-right: 0px;
    }
}

.layout-horizontal .post-item-user-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.layout-horizontal .post-item-user-avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.layout-horizontal .post-item-user-name {
    font-family: var(--primary-popfont);
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: var(--gray-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .layout-horizontal .post-item-user-box {
        gap: 4px;
    }

    .layout-horizontal .post-item-user-avatar {
        width: 20px;
        min-width: 20px;
        height: 20px;
    }

    .layout-horizontal .item-user-name {
        font-size: 12px;
    }
}

.layout-horizontal .post-item-kind-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.layout-horizontal .post-item-kind-text {
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.layout-horizontal .post-item .tag-box {
    max-height: 32px;
    flex-wrap: nowrap;
    overflow: hidden;
}

@media (max-width: 768px) {
    .layout-horizontal .post-item-kind-box {
        gap: 4px;
    }

    .layout-horizontal .post-item-kind-text {
        font-size: 12px;
        line-height: 20px;
    }

    .layout-horizontal .post-item .tag-box {
        max-height: 18px;
        flex-wrap: nowrap;
        overflow: hidden;
    }
}