/* Resources Content */
.resource-item {
  width: 100%;
  background: white;
  border: 0.125rem solid #F0F0F3;
  border-radius: 2.5rem;
  padding: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media screen and (max-width: 768px) {
  .resource-item {
    padding: 1.25rem;
    gap: 0.25rem;
  }
}
.resource-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.75rem;
}
@media screen and (max-width: 768px) {
  .resource-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
}
.resource-title {
  font-family: var(--primary-popfont);
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 4.25rem;
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-grow: 0;
  flex-shrink: 1;
}
.resource-date {
  font-family: var(--primary-robotofont);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.75rem;
  color: #6D6D6D;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .resource-title {
    max-width: 100%;
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  .resource-date {
    width: 100%;
    text-align: right;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
.resource-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.75rem;
}
@media screen and (max-width: 768px) {
  .resource-body {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
}
.resource-content {
  font-family: var(--primary-popfont);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 3rem;
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-grow: 0;
  flex-shrink: 1;
}
.resource-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
  flex-grow: 1;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .resource-content {
    max-width: 100%;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  .resource-actions {
    width: 100%;
  }
}
.resource-action-group {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}
.resource-action-count {
  font-family: var(--primary-popfont);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #000000;
}
.resource-action-icon {
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
}
