/* Resources Content */
.resource-item {
    width: 100%;
    background: white;
    border: 1px solid #F0F0F3;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {
    .resource-item {
        padding: 10px;
        gap: 2px;
    }
}

.resource-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

@media (max-width: 768px) {
    .resource-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
    }
}

.resource-title {
    font-family: var(--primary-popfont);
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 0;
    flex-shrink: 1;
}

.resource-date {
    font-family: var(--primary-robotofont);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #6D6D6D;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .resource-title {
        max-width: 100%;
        font-size: 14px;
        line-height: 20px;
    }

    .resource-date {
        width: 100%;
        text-align: right;
        font-size: 12px;
        line-height: 18px;
    }
}

.resource-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

@media (max-width: 768px) {
    .resource-body {
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
    }
}

.resource-content {
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 0;
    flex-shrink: 1;
}

.resource-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .resource-content {
        max-width: 100%;
        font-size: 12px;
        line-height: 18px;
    }

    .resource-actions {
        width: 100%;
    }
}

.resource-action-group {
    display: flex;
    align-items: center;
    gap: 1px;
}

.resource-action-count {
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.resource-action-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
}