.search-all-sticky-class-box {
  top: 10rem;
}
.search-list-container {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #C5C5C5 transparent;
}
.search-list-container .search-card {
  width: 100%;
  background: #ffffff;
  border: 1px solid #F0F0F3;
  border-radius: 3.75rem;
  padding: 2.5rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  /* 状态标签 */
}
.search-list-container .search-card .search-card-content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.search-list-container .search-card.demands-search-card .card-content {
  width: 100%;
}
.search-list-container .search-card.store-search-card .card-item-img {
  width: 17.25rem;
  height: 17.25rem;
}
.search-list-container .search-card.store-search-card .card-content {
  width: calc(100% - 18.5rem);
}
.search-list-container .search-card:not(:last-child) {
  margin-bottom: 5rem;
}
.search-list-container .search-card .card-item-img {
  width: 25rem;
  height: 17.25rem;
  border-radius: 1rem;
}
.search-list-container .search-card .card-content {
  width: calc(100% - 26.5rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.search-list-container .search-card .card-content .summary-box {
  font-size: 2.5rem;
  line-height: 1.6;
  padding-bottom: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* 限制文本为2行 */
  overflow: hidden;
  height: 13rem;
}
.search-list-container .search-card .card-content .summary-box2 {
  font-size: 2.5rem;
  line-height: 1.6;
  padding-bottom: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* 限制文本为2行 */
  overflow: hidden;
  height: 9rem;
}
.search-list-container .search-card .card-content .date-range {
  width: 2rem;
  height: 2rem;
}
.search-list-container .search-card .card-content .bidder-info-wrapper {
  display: flex;
  align-items: center;
}
.search-list-container .search-card .card-content .bidder-info-wrapper .bidder-label {
  padding-right: 1rem;
  font-size: 1.75rem;
}
.search-list-container .search-card .card-content .bidder-info-wrapper .bidder-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-inline-end: -1rem;
}
.search-list-container .search-card .card-content .bidder-info-wrapper .bidder-more {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #FFD8BF;
  color: var(--primary-color);
  font-size: 1.75rem;
}
.search-list-container .search-card .card-content .best-items-item-middle-box {
  display: flex;
  align-items: center;
  column-gap: 7.5rem;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.search-list-container .search-card .card-content .best-items-item-middle-box .item-service-text {
  color: #6D6D6D;
}
.search-list-container .search-card .card-content .best-items-item-middle-box .item-price {
  font-size: 2.5rem;
}
.search-list-container .search-card .card-content .view-info-wrapper {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.search-list-container .search-card .card-content .view-info-wrapper .view-info-item {
  display: flex;
  align-items: center;
}
.search-list-container .search-card .card-content .view-info-wrapper .view-count,
.search-list-container .search-card .card-content .view-info-wrapper .like-count {
  width: 2.25rem;
}
.search-list-container .search-card .card-content .view-info-wrapper .icon-pinglun {
  font-size: 2.25rem;
  color: #C5C5C5;
}
.search-list-container .search-card .card-content .view-info-wrapper .count {
  font-size: 1.5rem;
  color: #000;
  padding-left: 0.75rem;
}
.search-list-container .search-card .item-title-wrapper {
  display: flex;
  align-items: center;
}
.search-list-container .search-card .item-title {
  width: 70%;
  padding-left: 3px;
  font-size: 3.5rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search-list-container .search-card .status-badge {
  position: absolute;
  top: 2.5rem;
  right: -3.5rem;
  width: 15rem;
  height: 3.25rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
.search-list-container .search-card .status-badge p {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.75rem;
  color: #ffffff;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.search-list-container .search-card .icon-aixin {
  position: absolute;
  right: 10rem;
  top: 5rem;
}
.search-list-container .search-card .buy-btn {
  position: absolute;
  right: 5rem;
  top: 10rem;
  width: 25rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  border-radius: 1.25rem;
  margin-top: 1rem;
  cursor: pointer;
  color: var(--primary-color);
  border: 0.125rem solid var(--primary-color);
}
.page-link-box {
  padding: 1rem 0;
}
@media screen and (max-width: 768px) {
  .page-link-box {
    padding: 1rem 0;
    gap: 0;
    justify-content: space-around;
  }
  .search-all-sticky-class-box {
    top: 9rem;
  }
  .item-tag-box {
    display: flex;
  }
  .item-mark {
    position: relative;
  }
  .search-list-container {
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #C5C5C5 transparent;
  }
  .search-list-container .search-card {
    width: 100%;
    background: #ffffff;
    border: 1px solid #F0F0F3;
    border-radius: 3.75rem;
    padding: 2.5rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
  .search-list-container .search-card.store-search-card .card-item-img {
    width: 100%;
    height: auto;
  }
  .search-list-container .search-card.store-search-card .card-content {
    width: 100%;
  }
  .search-list-container .search-card .search-card-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .search-list-container .search-card .card-item-img {
    width: 100%;
    height: auto;
  }
  .search-list-container .search-card .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
  }
  .search-list-container .search-card .card-content .best-items-item-middle-box {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }
  .search-list-container .search-card .card-content .best-items-item-middle-box .item-service-text {
    color: #6D6D6D;
  }
  .search-list-container .search-card .card-content .best-items-item-middle-box .item-price {
    font-size: 2.5rem;
  }
  .search-list-container .search-card .card-content .view-info-wrapper {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }
  .search-list-container .search-card .card-content .view-info-wrapper .view-info-item {
    display: flex;
    align-items: center;
  }
  .search-list-container .search-card .card-content .view-info-wrapper .view-count,
  .search-list-container .search-card .card-content .view-info-wrapper .like-count {
    width: 2.25rem;
  }
  .search-list-container .search-card .card-content .view-info-wrapper .icon-pinglun {
    font-size: 2.25rem;
    color: #C5C5C5;
  }
  .search-list-container .search-card .card-content .view-info-wrapper .count {
    font-size: 1.5rem;
    color: #000;
    padding-left: 0.75rem;
  }
  .search-list-container .search-card .item-title {
    width: 75%;
    font-size: 3.5rem;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .search-list-container .search-card .icon-aixin {
    top: 0.5rem;
  }
  .search-list-container .search-card .buy-btn {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 4.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    border-radius: 1.25rem;
    margin-top: 1rem;
    color: var(--primary-color);
    border: 0.125rem solid var(--primary-color);
  }
}
