.brand-page-index-box {
    width: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 0;
}

@media screen and (max-width: 768px) {
    .brand-page-index-box {
        width: 34px;
        height: 100%;
        padding: 0 0;
        gap: 0;
        justify-content: space-between;
        padding-bottom: 20px;
    }
}

.brand-page-index-box-item {
    font-size: 14px;
    line-height: 18px;
    font-family: var(--primary-popfont);
    font-weight: 400;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.brand-page-index-box-item.active {
    color: var(--primary-color);
    font-weight: 500;
}

.brand-page-list-container {
    padding-right: 0;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #C5C5C5 transparent;
    overflow-x: hidden;
    padding-top: 10px;
}

.brand-page-list-text {
    font-size: 18px;
    line-height: 20px;
    font-family: var(--primary-popfont);
    font-weight: 400;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.brand-page-list-line {
    width: 100%;
    height: 1px;
    border: #f0f0f3 solid 0.5px;
    margin: 20px 0;
}

@media screen and (max-width: 768px) {
    .brand-page-list-container {
        padding-right: 16px;
        padding-top: 0;
    }

    .brand-page-list-text {
        font-size: 14px;
        line-height: 18px;
    }

    .brand-page-list-line {
        margin: 10px 0;
    }
}

.brand-page-list-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .brand-page-list-box {
        row-gap: 10px;
        column-gap: 0px;
        margin-bottom: 16px;
    }
}

.brand-content {
    width: 100%;
    margin: 0 auto;
    max-width: var(--container-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0px;
}

.brand-section {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
}

.brand-section-title {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    font-family: var(--primary-popfont);
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: visible;
}

@media screen and (max-width: 768px) {
    .brand-section-title {
        margin-bottom: 0px;
    }

    .brand-content .item-desc {
        display: none;
    }
}

.page-header-desc-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 10px;
    margin-bottom: 10px;
}

.page-header-desc-icon {
    width: 92px;
    min-width: 92px;
    height: 92px;
    border-radius: 50%;
    border: #f0f0f3 solid 1px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .page-header-desc-icon {
        width: 60px;
        min-width: 60px;
        height: 60px;
    }
}

.page-header-desc-right-box {
    flex: 1;
    width: calc(100% - 102px);
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    justify-content: flex-start;
}

@media screen and (max-width: 768px) {
    .page-header-desc-right-box {
        width: calc(100% - 70px);
    }
}

.page-header-desc-right-title-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 10px;
}

.page-header-desc-right-title {
    font-family: var(--primary-popfont);
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    .page-header-desc-right-title {
        font-size: 14px;
        line-height: 20px;
    }
}

.page-header-desc-right-content-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 0px;
    padding-right: -40px;
}

@media screen and (max-width: 768px) {
    .page-header-desc-right-content-box {
        padding-right: -10px;
    }
}

.page-header-desc-right-content-title {
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--gray-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .page-header-desc-right-content-title {
        font-size: 12px;
        line-height: 18px;
    }
}

.page-header-desc-right-content-text {
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin-right: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    .page-header-desc-right-content-text {
        font-size: 12px;
        line-height: 18px;
        margin-right: 10px;
    }
}

.page-header-desc-right-detail-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 0px;
}

.page-header-desc-right-detail-text {
    width: 80%;
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    --webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    flex-shrink: 1;
}

.page-header-desc-right-detail-text.is-toggle {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    --webkit-line-clamp: unset;
    word-break: break-word;
    word-wrap: break-word;
    flex-shrink: 0;
}

.page-header-desc-right-detail-toggle-btn {
    display: inline-block;
    margin-left: 0px;
    text-decoration: underline;
    color: var(--primary-color);
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease;
    vertical-align: baseline;
    white-space: nowrap;
}

.tag-page-header-desc-box {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.tag-page-header-desc-title-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.tag-page-header-desc-title {
    font-family: var(--primary-popfont);
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: #c5c5c5;
    flex-shrink: 0;
}

.tag-page-header-desc-text {
    font-family: var(--primary-popfont);
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: #000;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tag-page-header-desc-content {
    margin-top: 2px;
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--gray-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 768px) {

    .tag-page-header-desc-title {
        font-size: 14px;
        line-height: 20px;
    }

    .tag-page-header-desc-text {
        font-size: 14px;
        line-height: 20px;
    }

    .tag-page-header-desc-content {
        max-height: 42px;
        display: -webkit-box;
        --webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        word-break: break-word;
        word-wrap: break-word;
    }
}

.tag-page-header-desc-tag-box {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 10px;
}

.tag-page-header-desc-tag-title {
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
}

.tag-page-header-desc-tag-item {
    padding: 4px 8px;
    border: #d9d9d9 solid 1px;
    font-family: var(--primary-popfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--gray-color);
    background-color: #fff;
    cursor: pointer;
    border-radius: 16px;
}

.tag-page-header-desc-tag-item.active {
    color: #fff;
    background-color: var(--primary-color);
}

.social-media-page-header-desc-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 10px;
    margin-bottom: 10px;
}

.social-media-page-header-desc-icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #f0f0f3 solid 1px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .pasocial-media-pagege-header-desc-icon {
        width: 20px;
        min-width: 20px;
        height: 20px;
    }
}

.social-media-page-header-desc-title {
    font-family: var(--primary-popfont);
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    .social-media-page-header-desc-title {
        font-size: 14px;
        line-height: 20px;
    }
}

.brand-all-page.page-content {
    position: absolute;
    top: var(--page-header-height);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #C5C5C5 transparent;
    height: calc(100vh - var(--page-header-height));
}