.brand-page-index-box {
    position: fixed;
    top: var(--page-header-height);
    width: 4.5rem;
    height: calc(100vh - var(--page-header-height));
    left: calc((100vw - var(--container-width)) / 2);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #C5C5C5 transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.25rem;
    padding: 1.25rem 0;
}

@media screen and (max-width: 768px) {
    .brand-page-index-box {
        width: 4.25rem;
        height: 100vh;
        padding: 0 0;
        gap: 0;
        justify-content: flex-start;
        padding-bottom: 2.5rem;
    }
}

.brand-page-index-box-item {
    font-size: 1.75rem;
    line-height: 2.25rem;
    min-height: 2.25rem;
    font-family: var(--primary-popfont);
    font-weight: 400;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.brand-page-index-box-item.active {
    color: var(--primary-color);
    font-weight: 500;
}

.brand-page-list-container {
    margin-left: 50%;
    padding-left: 5rem;
    transform: translateX(-50%);
    padding-right: 0;
    width: var(--container-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1.25rem;
}

.brand-page-list-text {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-family: var(--primary-popfont);
    font-weight: 400;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.brand-page-list-line {
    width: 100%;
    height: 0.125rem;
    border: #f0f0f3 solid 0.5px;
    margin: 2.5rem 0;
}

@media screen and (max-width: 768px) {
    .brand-page-list-container {
        padding-right: 2rem;
        padding-top: 0;
    }

    .brand-page-list-text {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .brand-page-list-line {
        margin: 1.25rem 0;
    }
}

.brand-page-list-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 3.75rem;
    column-gap: 3.75rem;
    margin-bottom: 3.75rem;
}

@media screen and (max-width: 768px) {
    .brand-page-list-box {
        row-gap: 1.25rem;
        column-gap: 0;
        margin-bottom: 2rem;
    }
}

.brand-content {
    width: 100%;
    margin: 0 auto;
    max-width: var(--container-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 2.5rem;
}

.brand-section {
    width: 100%;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
}

.brand-section-title {
    display: block;
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
    line-height: 2.75rem;
    font-weight: 500;
    font-family: var(--primary-popfont);
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: visible;
}

@media screen and (max-width: 768px) {
    .brand-section-title {
        margin-bottom: 0;
    }

    .brand-content .item-desc {
        display: none;
    }
}

.page-header-desc-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 1.25rem;
    margin-bottom: 1.25rem;
}

.page-header-desc-icon {
    width: 11.5rem;
    min-width: 11.5rem;
    height: 11.5rem;
    border-radius: 50%;
    border: #f0f0f3 solid 0.125rem;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .page-header-desc-icon {
        width: 7.5rem;
        min-width: 7.5rem;
        height: 7.5rem;
    }
}

.page-header-desc-right-box {
    flex: 1;
    width: calc(100% - 12.5rem);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: flex-start;
    justify-content: flex-start;
}

@media screen and (max-width: 768px) {
    .page-header-desc-right-box {
        width: calc(100% - 8.75rem);
    }
}

.page-header-desc-right-title-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 1.25rem;
}

.page-header-desc-right-title {
    font-family: var(--primary-popfont);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 5rem;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    .page-header-desc-right-title {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }
}

.page-header-desc-right-content-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 0;
    padding-right: -5rem;
}

@media screen and (max-width: 768px) {
    .page-header-desc-right-content-box {
        padding-right: -1.25rem;
    }
}

.page-header-desc-right-content-title {
    font-family: var(--primary-popfont);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--gray-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .page-header-desc-right-content-title {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
}

.page-header-desc-right-content-text {
    font-family: var(--primary-popfont);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 3rem;
    color: #000;
    margin-right: 5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    .page-header-desc-right-content-text {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-right: 1.25rem;
    }
}

.page-header-desc-right-detail-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 0;
}

.page-header-desc-right-detail-text {
    width: 80%;
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-size: 1.75rem;
    line-height: 2.75rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    --webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    flex-shrink: 1;
}

.page-header-desc-right-detail-text.is-toggle {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    --webkit-line-clamp: unset;
    word-break: break-word;
    word-wrap: break-word;
    flex-shrink: 0;
}

.page-header-desc-right-detail-toggle-btn {
    display: inline-block;
    margin-left: 0;
    text-decoration: underline;
    color: var(--primary-color);
    font-family: var(--primary-popfont);
    font-size: 1.75rem;
    line-height: 2.75rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease;
    vertical-align: baseline;
    white-space: nowrap;
}

.tag-page-header-desc-box {
    width: 100%;
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.tag-page-header-desc-title-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.tag-page-header-desc-title {
    font-family: var(--primary-popfont);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 5rem;
    color: #c5c5c5;
    flex-shrink: 0;
}

.tag-page-header-desc-text {
    font-family: var(--primary-popfont);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 5rem;
    color: #000;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tag-page-header-desc-content {
    margin-top: 0.25rem;
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.75rem;
    color: var(--gray-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 768px) {

    .tag-page-header-desc-title {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }

    .tag-page-header-desc-text {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }

    .tag-page-header-desc-content {
        max-height: 5.25rem;
        display: -webkit-box;
        --webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        word-break: break-word;
        word-wrap: break-word;
    }
}

.tag-page-header-desc-tag-box {
    margin-top: 1.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 1.25rem;
}

.tag-page-header-desc-tag-title {
    font-family: var(--primary-popfont);
    font-size: 1.75rem;
    line-height: 2.75rem;
    font-weight: 400;
    color: #000;
}

.tag-page-header-desc-tag-item {
    padding: 0.5rem 1rem;
    border: #d9d9d9 solid 0.125rem;
    font-family: var(--primary-popfont);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.75rem;
    color: var(--gray-color);
    background-color: #fff;
    cursor: pointer;
    border-radius: 2rem;
}

.tag-page-header-desc-tag-item.active {
    color: #fff;
    background-color: var(--primary-color);
}

.social-media-page-header-desc-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 1.25rem;
    margin-bottom: 1.25rem;
}

.social-media-page-header-desc-icon {
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: #f0f0f3 solid 0.125rem;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .pasocial-media-pagege-header-desc-icon {
        width: 2.5rem;
        min-width: 2.5rem;
        height: 2.5rem;
    }
}

.social-media-page-header-desc-title {
    font-family: var(--primary-popfont);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 5rem;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    .social-media-page-header-desc-title {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }
}

.brand-all-page.page-content {
    width: 100%;
    max-width: unset;
    position: absolute;
    top: var(--page-header-height);
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #C5C5C5 transparent;
    height: calc(100vh - var(--page-header-height));
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .brand-page-list-container {
        width: 100%;
    }
}