.signin-bg {
    z-index: 109;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-container {
    width: 500px;
    min-width: 500px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 60px;
    padding-bottom: 60px;
    height: calc(100vh - 300px);
    min-height: 900px;
    background: #fff;
    border-radius: 40px;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #C5C5C5 transparent;
}

.signin-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 37px 48px;
    cursor: pointer;
}

.signin-close-icon {
    width: 24px;
    height: 24px;
}

.signin-back {
    position: absolute;
    top: 0;
    left: 0;
    padding: 37px 48px;
    cursor: pointer;
}

.signin-back-icon {
    width: 24px;
    height: 24px;
}

.signin-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.signin-title {
    font-family: var(--primary-popfont);
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    color: #000;
}

.signin-form {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.signin-form-title {
    margin-top: 20px;
    margin-left: 16px;
    font-family: var(--primary-popfont);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #333;
}

.signin-form-input {
    width: 100%;
    height: 48px;
    background-color: #f2f2f2;
    border-radius: 6px;
    border: 0.5px solid #e5e5e5;
    padding: 14px 16px;
}

.signin-form-error-tip {
    margin-top: 0;
    height: 20px;
    font-family: var(--primary-robotofont);
    font-size: 12px;
    line-height: 18px;
    color: var(--primary-color);
    font-weight: 400;
    margin-bottom: -20px;
}

.signin-login-form-tool-box {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signin-login-form-remember-box {
    display: flex;
    align-items: center;
}

.signin-login-form-remember-icon {
    width: 24px;
    height: 24px;
}

.signin-login-form-remember {
    margin-left: 8px;
    font-family: var(--primary-popfont);
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #1a1a1a;
}

.signin-login-form-resetpwd {
    font-family: var(--primary-popfont);
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: var(--primary-color);
}

.signin-form-button {
    margin-top: 50px;
    width: 100%;
    height: 48px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-family: var(--primary-popfont);
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
}

.signin-empty-box {
    flex: 1;
}

.signin-line-box {
    width: 100%;
    display: flex;
    align-items: center;
}

.signin-line {
    border: 0.25px solid #e5e5e5;
    flex: 1;
}

.signin-line-text {
    margin-left: 16px;
    margin-right: 16px;
    font-family: var(--primary-popfont);
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    color: var(--gray-color);
}

.login-google-box {
    margin-top: 50px;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-google-icon {
    width: 24px;
    height: 24px;
}

.login-google {
    margin-left: 15px;
    font-family: var(--primary-popfont);
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}

.login-apple-box {
    margin-top: 30px;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    background: #000;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-apple-icon {
    width: 24px;
    height: 24px;
}

.login-apple {
    margin-left: 15px;
    font-family: var(--primary-popfont);
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
}

.signin-otherway-box {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.signin-otherway-text {
    font-family: var(--primary-popfont);
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #1a1a1a;
}

.signin-otherway {
    margin-left: 8px;
    font-family: var(--primary-popfont);
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: var(--primary-color);
}

.signin-regist-form-name-box {
    width: 100%;
    display: flex;
    gap: 16px;
}

.signin-regist-form-name-item {
    width: 50%;
}

.signin-regist-form-tool-box {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signin-regist-form-tool-item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.signin-regist-form-tool-item-icon {
    width: 24px;
    height: 24px;
}

.signin-regist-form-tool-item-text {
    font-family: var(--primary-robotofont);
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}

.signin-from-2fa-item {
    position: relative;
    width: 100%;
}

.signin-form-time {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-family: var(--primary-popfont);
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
}

.signin-form-tip {
    width: 100%;
    font-family: var(--primary-popfont);
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #1a1a1a;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}


@media screen and (max-height: 900px) {
    .signin-container {
        padding: 30px 48px;
        height: calc(100vh - 40px);
        padding-bottom: 90px;
        min-height: 500px;
        background: #fff;
        border-radius: 20px;
        position: relative;
    }

    .signin-close {
        padding: 28px 28px;
        cursor: pointer;
    }

    .signin-back {
        padding: 28px 28px;
    }

    .signin-form {
        margin-top: 20px;
    }

    .signin-form-title {
        margin-top: 0px;
    }

    .signin-login-form-tool-box {
        margin-top: 10px;
    }

    .signin-form-button {
        margin-top: 20px;
    }

    .login-google-box {
        margin-top: 20px;
    }

    .login-apple-box {
        margin-top: 10px;
    }

    .signin-otherway-box {
        margin-top: 10px;
    }

    .signin-regist-form-tool-box {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .signin-bg {
        background: #fff;
        display: flex;
        align-items: center;
    }

    .signin-container {
        width: 100vw;
        min-width: 100vw;
        padding-left: 32px;
        padding-right: 32px;
        height: 100vh;
        min-height: 100vh;
        background: #fff;
        border-radius: 0;
    }

    .signin-content-regist {
        margin: -20px 0;
    }

    .signin-close {
        padding: 27px 27px;
    }

    .signin-close-icon {
        width: 18px;
        height: 18px;
    }

    .signin-back {
        padding: 27px 27px;
    }

    .signin-back-icon {
        width: 18px;
        height: 18px;
    }

    .signin-form {
        margin-top: 30px;
    }

    .signin-title {
        margin-top: 20px;
        font-size: 24px;
        line-height: 28px;
    }

    .signin-form-title {
        margin-top: 20px;
    }

    .signin-login-form-tool-box {
        margin-top: 20px;
    }

    .signin-login-form-remember-icon {
        width: 20px;
        height: 20px;
    }

    .signin-form-button {
        margin-top: 30px;
    }

    .login-google-box {
        margin-top: 10px;
    }

    .login-apple-box {
        margin-top: 20px;
    }

    .signin-otherway-box {
        margin-top: 20px;
    }

    .signin-regist-form-tool-box {
        margin-top: 20px;
    }

    .signin-regist-form-tool-item-icon {
        width: 20px;
        height: 20px;
    }
}