.signin-bg {
  z-index: 109;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-bg .signin-container {
  width: 62.5rem;
  min-width: 62.5rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  height: calc(100vh - 37.5rem);
  min-height: 112.5rem;
  background: #fff;
  border-radius: 5rem;
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #C5C5C5 transparent;
}
.signin-bg .signin-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3.75rem 6rem;
  cursor: pointer;
}
.signin-bg .signin-close-icon {
  width: 3rem;
  height: 3rem;
}
.signin-bg .signin-back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3.75rem 6rem;
  cursor: pointer;
}
.signin-bg .signin-back-icon {
  width: 3rem;
  height: 3rem;
}
.signin-bg .signin-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.signin-bg .signin-title {
  font-family: var(--primary-popfont);
  font-size: 3.75rem;
  line-height: 5rem;
  font-weight: 600;
  color: #000;
}
.signin-bg .signin-form {
  margin-top: 6.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.signin-bg .signin-form-title {
  margin-top: 2.5rem;
  margin-left: 2rem;
  font-family: var(--primary-popfont);
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #333;
}
.signin-bg .signin-form-input {
  width: 100%;
  height: 6rem;
  background-color: #f2f2f2;
  border-radius: 0.75rem;
  border: 0.5px solid #e5e5e5;
  padding: 1.75rem 2rem;
}
.signin-bg .signin-form-error-tip {
  margin-top: 0;
  height: 2.5rem;
  font-family: var(--primary-robotofont);
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: -2.5rem;
}
.signin-bg .signin-login-form-tool-box {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signin-bg .signin-login-form-remember-box {
  display: flex;
  align-items: center;
}
.signin-bg .signin-login-form-remember-icon {
  width: 3rem;
  height: 3rem;
}
.signin-bg .signin-login-form-remember {
  margin-left: 1rem;
  font-family: var(--primary-popfont);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #1a1a1a;
}
.signin-bg .signin-login-form-resetpwd {
  font-family: var(--primary-popfont);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: var(--primary-color);
}
.signin-bg .signin-form-button {
  margin-top: 6.25rem;
  width: 100%;
  height: 6rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  font-family: var(--primary-popfont);
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: #fff;
}
.signin-bg .signin-empty-box {
  flex: 1;
}
.signin-bg .signin-line-box {
  width: 100%;
  display: flex;
  align-items: center;
}
.signin-bg .signin-line {
  border: 0.25px solid #e5e5e5;
  flex: 1;
}
.signin-bg .signin-line-text {
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: var(--primary-popfont);
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  color: var(--gray-color);
}
.signin-bg .login-google-box {
  margin-top: 6.25rem;
  width: 100%;
  padding: 2rem 0;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-bg .login-google-icon {
  width: 3rem;
  height: 3rem;
}
.signin-bg .login-google {
  margin-left: 2rem;
  font-family: var(--primary-popfont);
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}
.signin-bg .login-apple-box {
  margin-top: 3.75rem;
  width: 100%;
  padding: 2rem 0;
  border-radius: 1.25rem;
  background: #000;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-bg .login-apple-icon {
  width: 3rem;
  height: 3rem;
}
.signin-bg .login-apple {
  margin-left: 2rem;
  font-family: var(--primary-popfont);
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: #fff;
}
.signin-bg .signin-otherway-box {
  margin-top: 3.75rem;
  display: flex;
  align-items: center;
}
.signin-bg .signin-otherway-text {
  font-family: var(--primary-popfont);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #1a1a1a;
}
.signin-bg .signin-otherway {
  margin-left: 1rem;
  font-family: var(--primary-popfont);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: var(--primary-color);
}
.signin-bg .signin-regist-form-name-box {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.signin-bg .signin-regist-form-name-item {
  width: 50%;
}
.signin-bg .signin-regist-form-tool-box {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.signin-bg .signin-regist-form-tool-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.signin-bg .signin-regist-form-tool-item-icon {
  width: 3rem;
  height: 3rem;
}
.signin-bg .signin-regist-form-tool-item-text {
  font-family: var(--primary-robotofont);
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}
.signin-bg .signin-from-2fa-item {
  position: relative;
  width: 100%;
}
.signin-bg .signin-form-time {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--primary-popfont);
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #000;
}
.signin-bg .signin-form-tip {
  width: 100%;
  font-family: var(--primary-popfont);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #1a1a1a;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}
@media screen and (max-height: 900px) {
  .signin-container {
    padding: 3.75rem 6rem;
    height: calc(100vh - 5rem);
    padding-bottom: 11.25rem;
    min-height: 62.5rem;
    background: #fff;
    border-radius: 2.5rem;
    position: relative;
  }
  .signin-close {
    padding: 3.5rem 3.5rem;
    cursor: pointer;
  }
  .signin-back {
    padding: 3.5rem 3.5rem;
  }
  .signin-form {
    margin-top: 2.5rem;
  }
  .signin-form-title {
    margin-top: 0;
  }
  .signin-login-form-tool-box {
    margin-top: 1.25rem;
  }
  .signin-form-button {
    margin-top: 2.5rem;
  }
  .login-google-box {
    margin-top: 2.5rem;
  }
  .login-apple-box {
    margin-top: 1.25rem;
  }
  .signin-otherway-box {
    margin-top: 1.25rem;
  }
  .signin-regist-form-tool-box {
    margin-top: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  .signin-bg {
    background: #fff;
    display: flex;
    align-items: center;
  }
  .signin-bg .signin-container {
    width: 100vw;
    min-width: 100vw;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 100vh;
    min-height: 100vh;
    background: #fff;
    border-radius: 0;
  }
  .signin-bg .signin-content-regist {
    margin: -2.5rem 0;
  }
  .signin-bg .signin-close {
    padding: 3.5rem 3.5rem;
  }
  .signin-bg .signin-close-icon {
    width: 2.25rem;
    height: 2.25rem;
  }
  .signin-bg .signin-back {
    padding: 3.5rem 3.5rem;
  }
  .signin-bg .signin-back-icon {
    width: 2.25rem;
    height: 2.25rem;
  }
  .signin-bg .signin-form {
    margin-top: 3.75rem;
  }
  .signin-bg .signin-title {
    margin-top: 2.5rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .signin-bg .signin-form-title {
    margin-top: 2.5rem;
  }
  .signin-bg .signin-login-form-tool-box {
    margin-top: 2.5rem;
  }
  .signin-bg .signin-login-form-remember-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .signin-bg .signin-form-button {
    margin-top: 3.75rem;
  }
  .signin-bg .login-google-box {
    margin-top: 1.25rem;
  }
  .signin-bg .login-apple-box {
    margin-top: 2.5rem;
  }
  .signin-bg .signin-otherway-box {
    margin-top: 2.5rem;
  }
  .signin-bg .signin-regist-form-tool-box {
    margin-top: 2.5rem;
  }
  .signin-bg .signin-regist-form-tool-item-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
