.signin-bg {
  z-index: 109;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Custom Select styles */
}
.signin-bg .signin-container {
  width: 62.5rem;
  min-width: 62.5rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  height: calc(100vh - 37.5rem);
  min-height: 112.5rem;
  background: #fff;
  border-radius: 5rem;
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #C5C5C5 transparent;
}
.signin-bg .signin-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3.75rem 6rem;
  cursor: pointer;
}
.signin-bg .signin-close-icon {
  width: 3rem;
  height: 3rem;
}
.signin-bg .signin-back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3.75rem 6rem;
  cursor: pointer;
}
.signin-bg .signin-back-icon {
  width: 3rem;
  height: 3rem;
}
.signin-bg .signin-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.signin-bg .signin-title {
  font-family: var(--primary-popfont);
  font-size: 3.75rem;
  line-height: 5rem;
  font-weight: 600;
  color: #000;
}
.signin-bg .signin-form {
  margin-top: 6.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.signin-bg .signin-form-title {
  margin-top: 2.5rem;
  margin-left: 2rem;
  font-family: var(--primary-popfont);
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #333;
}
.signin-bg .signin-form-input {
  width: 100%;
  height: 6rem;
  background-color: #f2f2f2;
  border-radius: 0.75rem;
  border: 0.5px solid #e5e5e5;
  padding: 1.75rem 2rem;
}
.signin-bg .signin-form-error-tip {
  margin-top: 0;
  height: 2.5rem;
  font-family: var(--primary-robotofont);
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: var(--primary-color);
  font-weight: 400;
  margin-bottom: -2.5rem;
}
.signin-bg .signin-login-form-tool-box {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signin-bg .signin-login-form-remember-box {
  display: flex;
  align-items: center;
}
.signin-bg .signin-login-form-remember-icon {
  width: 3rem;
  height: 3rem;
}
.signin-bg .signin-login-form-remember {
  margin-left: 1rem;
  font-family: var(--primary-popfont);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #1a1a1a;
}
.signin-bg .signin-login-form-resetpwd {
  font-family: var(--primary-popfont);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: var(--primary-color);
}
.signin-bg .signin-form-button,
.signin-bg .registere-btn {
  margin-top: 4.25rem;
  width: 100%;
  height: 6rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  font-family: var(--primary-popfont);
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: #fff;
}
.signin-bg .signin-empty-box {
  flex: 1;
}
.signin-bg .signin-line-box {
  width: 100%;
  display: flex;
  align-items: center;
}
.signin-bg .signin-line {
  border: 0.25px solid #e5e5e5;
  flex: 1;
}
.signin-bg .signin-line-text {
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: var(--primary-popfont);
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  color: var(--gray-color);
}
.signin-bg .login-google-box {
  margin-top: 6.25rem;
  width: 100%;
  padding: 2rem 0;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-bg .login-google-icon {
  width: 3rem;
  height: 3rem;
}
.signin-bg .login-google {
  margin-left: 2rem;
  font-family: var(--primary-popfont);
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}
.signin-bg .login-apple-box {
  margin-top: 3.75rem;
  width: 100%;
  padding: 2rem 0;
  border-radius: 1.25rem;
  background: #000;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-bg .login-apple-icon {
  width: 3rem;
  height: 3rem;
}
.signin-bg .login-apple {
  margin-left: 2rem;
  font-family: var(--primary-popfont);
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: #fff;
}
.signin-bg .signin-otherway-box {
  margin-top: 3.75rem;
  display: flex;
  align-items: center;
}
.signin-bg .signin-otherway-text {
  font-family: var(--primary-popfont);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #1a1a1a;
}
.signin-bg .signin-otherway {
  margin-left: 1rem;
  font-family: var(--primary-popfont);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: var(--primary-color);
}
.signin-bg .signin-regist-form-name-box {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.signin-bg .signin-regist-form-name-item {
  width: 50%;
}
.signin-bg .signin-regist-form-tool-box {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.signin-bg .signin-regist-form-tool-box .agree-wrapper {
  display: flex;
  align-items: center;
}
.signin-bg .signin-regist-form-tool-box .agree-wrapper .agree-label {
  margin-left: 1rem;
  font-size: 1.5rem;
}
.signin-bg .filter-custom-select {
  position: relative;
  width: 100%;
}
.signin-bg .filter-custom-select .filter-dropdown-panel {
  width: 100%;
  position: absolute;
  background-color: #fff;
  border: 0.125rem solid #F4F4F4;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.15);
  max-height: 25rem;
  overflow: hidden;
  z-index: 60;
  opacity: 1;
  transition: display 0.2s ease;
  display: none;
}
.signin-bg .filter-custom-select.active .filter-dropdown-panel {
  display: block;
}
.signin-bg .filter-custom-select.disabled .filter-custom-select-trigger {
  cursor: not-allowed;
}
.signin-bg .filter-custom-select-trigger {
  margin-top: 2rem;
  width: 100%;
  height: 6rem;
  border-radius: 1.25rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #f2f2f2;
  /* transition: border-color 0.2s ease; */
}
.signin-bg .filter-custom-select-text {
  font-family: var(--primary-arialfont);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #000;
  flex: 1;
  text-align: left;
}
.signin-bg .filter-custom-select-text.placeholder {
  color: var(--gray-color);
}
.signin-bg .filter-select-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  transform: rotate(180deg);
}
.signin-bg .filter-select-arrow .icon-arrow_up {
  font-size: 1.5rem;
}
.signin-bg .filter-custom-select.active .filter-select-arrow {
  transform: rotate(0deg);
}
.signin-bg .filter-dropdown-content {
  background-color: #fff;
  padding: 0;
  max-height: 25rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #C5C5C5 transparent;
}
.signin-bg .filter-dropdown-item {
  padding: 1.5rem 2rem;
  border-bottom: 0.125rem solid #F4F4F4;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.signin-bg .filter-dropdown-item:last-child {
  border-bottom: none;
}
.signin-bg .filter-dropdown-item:hover {
  background-color: #F9F9F9;
}
.signin-bg .filter-dropdown-item.selected {
  background-color: #F9F9F9;
}
.signin-bg .filter-dropdown-item.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.signin-bg .filter-dropdown-item.disabled:hover {
  background-color: transparent;
}
.signin-bg .filter-dropdown-item-text {
  font-family: var(--primary-arialfont);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #000;
  text-align: left;
}
.signin-bg .filter-dropdown-item.disabled .filter-dropdown-item-text {
  color: #999;
}
.signin-bg .filter-dropdown-item.selected .filter-dropdown-item-text {
  color: #000;
  font-weight: 400;
}
.signin-bg .signin-regist-form-tool-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.signin-bg .signin-regist-form-tool-item-icon {
  width: 3rem;
  height: 3rem;
}
.signin-bg .signin-regist-form-tool-item-text {
  font-family: var(--primary-robotofont);
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}
.signin-bg .signin-from-2fa-item {
  position: relative;
  width: 100%;
}
.signin-bg .signin-form-time {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--primary-popfont);
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #000;
}
.signin-bg .signin-form-tip {
  width: 100%;
  font-family: var(--primary-popfont);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #1a1a1a;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}
@media screen and (max-height: 900px) {
  .signin-container {
    padding: 3.75rem 6rem;
    height: calc(100vh - 5rem);
    padding-bottom: 11.25rem;
    min-height: 62.5rem;
    background: #fff;
    border-radius: 2.5rem;
    position: relative;
  }
  .signin-close {
    padding: 3.5rem 3.5rem;
    cursor: pointer;
  }
  .signin-back {
    padding: 3.5rem 3.5rem;
  }
  .signin-form {
    margin-top: 2.5rem;
  }
  .signin-form-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .signin-login-form-tool-box {
    margin-top: 1.25rem;
  }
  .signin-login-form-tool-box .remember-wrapper {
    display: flex;
    align-items: center;
  }
  .signin-login-form-tool-box .remember-wrapper .remember-label {
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  .signin-form-button,
  .registere-btn {
    margin-top: 2.5rem;
    cursor: pointer;
  }
  .login-google-box {
    margin-top: 2.5rem;
    cursor: pointer;
  }
  .login-apple-box {
    margin-top: 1.25rem;
    cursor: pointer;
  }
  .signin-otherway-box {
    margin-top: 1.25rem;
  }
  .signin-regist-form-tool-box {
    margin-top: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  .signin-bg {
    background: #fff;
    display: flex;
    align-items: center;
  }
  .signin-bg .signin-container {
    width: 100vw;
    min-width: 100vw;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 100vh;
    min-height: 100vh;
    background: #fff;
    border-radius: 0;
  }
  .signin-bg .signin-content-regist {
    margin: -2.5rem 0;
  }
  .signin-bg .signin-close {
    padding: 3.5rem 3.5rem;
  }
  .signin-bg .signin-close-icon {
    width: 2.25rem;
    height: 2.25rem;
  }
  .signin-bg .signin-back {
    padding: 3.5rem 3.5rem;
  }
  .signin-bg .signin-back-icon {
    width: 2.25rem;
    height: 2.25rem;
  }
  .signin-bg .signin-form {
    margin-top: 3.75rem;
  }
  .signin-bg .signin-title {
    margin-top: 2.5rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .signin-bg .signin-form-title {
    margin-top: 2.5rem;
  }
  .signin-bg .signin-login-form-tool-box {
    margin-top: 2.5rem;
  }
  .signin-bg .signin-login-form-remember-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .signin-bg .signin-form-button,
  .signin-bg .registere-btn {
    margin-top: 3.75rem;
  }
  .signin-bg .login-google-box {
    margin-top: 1.25rem;
  }
  .signin-bg .login-apple-box {
    margin-top: 2.5rem;
  }
  .signin-bg .signin-otherway-box {
    margin-top: 2.5rem;
  }
  .signin-bg .signin-regist-form-tool-box {
    margin-top: 2.5rem;
  }
  .signin-bg .signin-regist-form-tool-item-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
