.signin-bg {
    z-index: 109;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .signin-container {
        width: 62.5rem;
        min-width: 62.5rem;
        padding-left: 6rem;
        padding-right: 6rem;
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
        height: calc(100vh - 37.5rem);
        min-height: 112.5rem;
        background: #fff;
        border-radius: 5rem;
        position: relative;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #C5C5C5 transparent;
    }

    .signin-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 3.75rem 6rem;
        cursor: pointer;
    }

    .signin-close-icon {
        width: 3rem;
        height: 3rem;
    }

    .signin-back {
        position: absolute;
        top: 0;
        left: 0;
        padding: 3.75rem 6rem;
        cursor: pointer;
    }

    .signin-back-icon {
        width: 3rem;
        height: 3rem;
    }

    .signin-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .signin-title {
        font-family: var(--primary-popfont);
        font-size: 3.75rem;
        line-height: 5rem;
        font-weight: 600;
        color: #000;
    }

    .signin-form {
        margin-top: 6.25rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .signin-form-title {
        margin-top: 2.5rem;
        margin-left: 2rem;
        font-family: var(--primary-popfont);
        font-size: 1.75rem;
        line-height: 2.5rem;
        font-weight: 400;
        color: #333;
    }

    .signin-form-input {
        width: 100%;
        height: 6rem;
        background-color: #f2f2f2;
        border-radius: 0.75rem;
        border: 0.5px solid #e5e5e5;
        padding: 1.75rem 2rem;
    }

    .signin-form-error-tip {
        margin-top: 0;
        height: 2.5rem;
        font-family: var(--primary-robotofont);
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: var(--primary-color);
        font-weight: 400;
        margin-bottom: -2.5rem;
    }

    .signin-login-form-tool-box {
        margin-top: 2.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .remember-wrapper {
            display: flex;
            align-items: center;
        }
        .remember-label {
            font-size: 1.5rem;
            margin-left: 0.5rem;
        }
    }

    .signin-login-form-remember-box {
        display: flex;
        align-items: center;
    }

    .signin-login-form-remember-icon {
        width: 3rem;
        height: 3rem;
    }

    .signin-login-form-remember {
        margin-left: 1rem;
        font-family: var(--primary-popfont);
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
        color: #1a1a1a;
    }

    .signin-login-form-resetpwd {
        font-family: var(--primary-popfont);
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
        color: var(--primary-color);
    }

    .signin-form-button, .registere-btn {
        margin-top: 4.25rem;
        width: 100%;
        height: 6rem;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.75rem;
        font-family: var(--primary-popfont);
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 500;
        color: #fff;
    }

    .signin-empty-box {
        flex: 1;
    }

    .signin-line-box {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .signin-line {
        border: 0.25px solid #e5e5e5;
        flex: 1;
    }

    .signin-line-text {
        margin-left: 2rem;
        margin-right: 2rem;
        font-family: var(--primary-popfont);
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 400;
        color: var(--gray-color);
    }

    .login-google-box {
        margin-top: 6.25rem;
        width: 100%;
        padding: 2rem 0;
        border-radius: 1.25rem;
        background: #fff;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-google-icon {
        width: 3rem;
        height: 3rem;
    }

    .login-google {
        margin-left: 2rem;
        font-family: var(--primary-popfont);
        font-size: 2rem;
        line-height: 2.25rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.54);
    }

    .login-apple-box {
        margin-top: 3.75rem;
        width: 100%;
        padding: 2rem 0;
        border-radius: 1.25rem;
        background: #000;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-apple-icon {
        width: 3rem;
        height: 3rem;
    }

    .login-apple {
        margin-left: 2rem;
        font-family: var(--primary-popfont);
        font-size: 2rem;
        line-height: 2.25rem;
        font-weight: 500;
        color: #fff;
    }

    .signin-otherway-box {
        margin-top: 3.75rem;
        display: flex;
        align-items: center;
    }

    .signin-otherway-text {
        font-family: var(--primary-popfont);
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
        color: #1a1a1a;
    }

    .signin-otherway {
        margin-left: 1rem;
        font-family: var(--primary-popfont);
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
        color: var(--primary-color);
    }

    .signin-container-login {
        width: 46.875rem;
        min-width: 46.875rem;
        min-height: 0;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
        height: ~"min(101.5rem, calc(100vh - 1rem))";
    }

    .signin-container-login .signin-close,
    .signin-container-login .signin-back {
        padding: 3.5rem 3.5rem 0;
    }

    .signin-container-login .signin-close-icon,
    .signin-container-login .signin-back-icon {
        width: 2.25rem;
        height: 2.25rem;
    }

    .signin-content-login .signin-title {
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: 0;
    }

    .signin-content-login .signin-form {
        margin-top: 6.25rem;
    }

    .signin-content-login .signin-form-title {
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.0375rem;
        font-family: "SF Pro Display", var(--primary-popfont);
    }

    .signin-content-login .signin-form-error-tip {
        height: 0;
        margin-bottom: 0;
        overflow: hidden;
    }

    .signin-content-login .signin-form-error-tip:not(:empty) {
        height: 2.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0;
        overflow: visible;
    }

    .signin-content-login .signin-form-error-tip+.signin-form-title {
        margin-top: 2.5rem;
    }

    .signin-content-login .signin-form-input {
        padding: 1rem 2rem;
        font-family: var(--primary-popfont);
        font-size: 1.875rem;
        line-height: 2.5rem;
        color: #1a1a1a;
    }

    .signin-content-login .signin-form-input::placeholder {
        color: #808080;
        font-size: 1.875rem;
        line-height: 2.5rem;
    }

    .signin-content-login .signin-form-password-input::placeholder {
        font-family: var(--primary-robotofont);
    }

    .signin-content-login .signin-form-password-input {
        padding-right: 5rem;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 8C2.5 5.3 5 3.5 8 3.5C11 3.5 13.5 5.3 14.5 8C13.5 10.7 11 12.5 8 12.5C5 12.5 2.5 10.7 1.5 8Z' stroke='%234D4D4D' stroke-width='1.2'/%3E%3Ccircle cx='8' cy='8' r='2' fill='%234D4D4D'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 1.75rem center;
        background-size: 2rem 2rem;
    }

    .signin-content-login .signin-login-form-tool-box .remember-wrapper {
        gap: 1rem;
    }

    .signin-content-login .signin-login-form-tool-box input[type=checkbox] {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        width: 5rem;
        height: 2.5rem;
        border: 0.0625rem solid #e5e5e5;
        border-radius: 4.5625rem;
        background: #f2f2f2;
        position: relative;
        padding: 0;
        cursor: pointer;
        flex-shrink: 0;
    }

    .signin-content-login .signin-login-form-tool-box input[type=checkbox]::after {
        content: '';
        position: absolute;
        top: 0.1875rem;
        left: 0.1875rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0.125rem 0.125rem 0.25rem -0.125rem rgba(51, 51, 51, 0.3);
        transition: left 0.2s ease;
    }

    .signin-content-login .signin-login-form-tool-box input[type=checkbox]:checked {
        border-color: var(--primary-color);
        background: var(--primary-color);
    }

    .signin-content-login .signin-login-form-tool-box input[type=checkbox]:checked::after {
        left: 2.6875rem;
    }

    .signin-content-login .signin-login-form-tool-box .remember-label {
        margin-left: 0;
        font-family: "SF Pro Display", var(--primary-popfont);
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.0375rem;
        color: #1a1a1a;
    }

    .signin-content-login .signin-login-form-resetpwd {
        line-height: 2.5rem;
        letter-spacing: 0.0375rem;
        cursor: pointer;
    }

    .signin-content-login .signin-form-button {
        margin-top: 6.25rem;
        border-radius: 0.75rem;
        font-size: 1.875rem;
        line-height: 2.5rem;
        letter-spacing: 0.0375rem;
    }

    .signin-content-login .signin-empty-box {
        flex: none;
        width: 100%;
        height: 15rem;
    }

    .signin-content-login .signin-line-box {
        width: 100%;
        position: relative;
    }

    .signin-content-login .signin-line {
        border: 0;
        height: 0.0625rem;
        background: #e5e5e5;
    }

    .signin-content-login .signin-line-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 6.25rem;
        height: 2.25rem;
        margin: 0;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.875rem;
        line-height: 2.25rem;
        color: #6d6d6d;
        letter-spacing: 0;
    }

    .signin-content-login .login-google-box {
        margin-top: 2.5625rem;
        width: 38.875rem;
        height: 6rem;
        min-height: 6rem;
        max-height: 6rem;
        padding: 0;
        box-sizing: border-box;
        border-radius: 1.25rem;
        box-shadow: 0 0 0.375rem 0 rgba(0, 0, 0, 0.08), 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.17);
        gap: 1.875rem;
    }

    .signin-content-login .login-google {
        margin-left: 0;
        font-family: var(--primary-robotofont);
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 500;
    }

    .signin-content-login .login-apple-box {
        margin-top: 2.5rem;
        width: 38.875rem;
        height: 6rem;
        min-height: 6rem;
        max-height: 6rem;
        padding: 0;
        box-sizing: border-box;
        border-radius: 1.25rem;
        box-shadow: 0 0 0.375rem 0 rgba(0, 0, 0, 0.08), 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.17);
        gap: 1.875rem;
    }

    .signin-content-login .login-apple {
        margin-left: 0;
        font-family: "SF Pro Display", var(--primary-popfont);
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 500;
    }

    .signin-content-login .signin-otherway-box {
        margin-top: 2.5rem;
        gap: 1rem;
    }

    .signin-content-login .signin-otherway-text {
        font-family: "SF Pro Display", var(--primary-popfont);
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.0375rem;
    }

    .signin-content-login .signin-otherway {
        margin-left: 0;
        font-family: var(--primary-popfont);
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.0375rem;
    }

    .signin-regist-form-name-box {
        width: 100%;
        display: flex;
        gap: 2rem;
    }

    .signin-regist-form-name-item {
        width: 50%;
    }

    .signin-regist-form-tool-box {
        margin-top: 2.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .agree-wrapper {
            display: flex;
            align-items: center;

            .agree-label {
                margin-left: 1rem;
                font-size: 1.5rem;
            }
        }
    }

    /* Custom Select styles */
    .filter-custom-select {
        position: relative;
        width: 100%;
    }

    .filter-custom-select .filter-dropdown-panel {
        width: 100%;
        position: absolute;
        background-color: #fff;
        border: 0.125rem solid #F4F4F4;
        border-radius: 1.25rem;
        box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.15);
        max-height: 25rem;
        overflow: hidden;
        z-index: 60;
        opacity: 1;
        transition: display 0.2s ease;
        display: none;
    }

    .filter-custom-select.active .filter-dropdown-panel {
        display: block;
    }

    .filter-custom-select.disabled .filter-custom-select-trigger {
        cursor: not-allowed;
    }

    .filter-custom-select-trigger {
        margin-top: 2rem;
        width: 100%;
        height: 6rem;
        border-radius: 1.25rem;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background-color: #f2f2f2;
        /* transition: border-color 0.2s ease; */
    }

    .filter-custom-select-text {
        font-family: var(--primary-arialfont);
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 2.5rem;
        color: #000;
        flex: 1;
        text-align: left;
    }

    .filter-custom-select-text.placeholder {
        color: var(--gray-color);
    }

    .filter-select-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s ease;
        transform: rotate(180deg);
    }

    .filter-select-arrow .icon-arrow_up {
        font-size: 1.5rem;
    }

    .filter-custom-select.active .filter-select-arrow {
        transform: rotate(0deg);
    }

    .filter-dropdown-content {
        background-color: #fff;
        padding: 0;
        max-height: 25rem;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #C5C5C5 transparent;
    }

    .filter-dropdown-item {
        padding: 1.5rem 2rem;
        border-bottom: 0.125rem solid #F4F4F4;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }

    .filter-dropdown-item:last-child {
        border-bottom: none;
    }

    .filter-dropdown-item:hover {
        background-color: #F9F9F9;
    }

    .filter-dropdown-item.selected {
        background-color: #F9F9F9;
    }

    .filter-dropdown-item.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .filter-dropdown-item.disabled:hover {
        background-color: transparent;
    }

    .filter-dropdown-item-text {
        font-family: var(--primary-arialfont);
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 2.5rem;
        color: #000;
        text-align: left;
    }

    .filter-dropdown-item.disabled .filter-dropdown-item-text {
        color: #999;
    }

    .filter-dropdown-item.selected .filter-dropdown-item-text {
        color: #000;
        font-weight: 400;
    }

    .signin-regist-form-tool-item {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }

    .signin-regist-form-tool-item-icon {
        width: 3rem;
        height: 3rem;
    }

    .signin-regist-form-tool-item-text {
        font-family: var(--primary-robotofont);
        font-size: 1.5rem;
        line-height: 2.75rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
    }

    .signin-from-2fa-item {
        position: relative;
        width: 100%;
    }

    .signin-form-time {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-family: var(--primary-popfont);
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 400;
        color: #000;
    }

    .signin-form-tip {
        width: 100%;
        font-family: var(--primary-popfont);
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
        color: #1a1a1a;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
    }

}


@media screen and (max-height: 900px) {
    .signin-container {
        padding: 3.75rem 6rem;
        height: calc(100vh - 5rem);
        padding-bottom: 11.25rem;
        min-height: 62.5rem;
        background: #fff;
        border-radius: 2.5rem;
        position: relative;
    }

    .signin-close {
        padding: 3.5rem 3.5rem;
        cursor: pointer;
    }

    .signin-back {
        padding: 3.5rem 3.5rem;
    }

    .signin-form {
        margin-top: 2.5rem;
    }

    .signin-form-title {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .signin-login-form-tool-box {
        margin-top: 1.25rem;

        .remember-wrapper {
            display: flex;
            align-items: center;

            .remember-label {
                margin-left: 1rem;
                font-size: 1.5rem;
            }
        }
    }

    .signin-form-button, .registere-btn {
        margin-top: 2.5rem;
        cursor: pointer;
    }

    .login-google-box {
        margin-top: 2.5rem;
        cursor: pointer;
    }

    .login-apple-box {
        margin-top: 1.25rem;
        cursor: pointer;
    }

    .signin-otherway-box {
        margin-top: 1.25rem;
    }

    .signin-regist-form-tool-box {
        margin-top: 1.25rem;
    }

    .signin-container-login {
        padding-top: 8rem;
        padding-bottom: 8rem;
        height: calc(100vh - 1rem);
        border-radius: 5rem;
    }

    .signin-container-login .signin-close,
    .signin-container-login .signin-back {
        padding: 4rem 6rem 0;
    }

    .signin-content-login .signin-form {
        margin-top: 7rem;
    }

    .signin-content-login .signin-form-button {
        margin-top: 4rem;
    }

    .signin-content-login .signin-empty-box {
        height: 16rem;
    }

    .signin-content-login .login-google-box {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .signin-bg {
        background: #fff;
        display: flex;
        align-items: center;

        .signin-container {
            width: 100vw;
            min-width: 100vw;
            padding-left: 4rem;
            padding-right: 4rem;
            height: 100vh;
            min-height: 100vh;
            background: #fff;
            border-radius: 0;
        }

        .signin-content-regist {
            margin: -2.5rem 0;
        }

        .signin-close {
            padding: 3.5rem 3.5rem;
        }

        .signin-close-icon {
            width: 2.25rem;
            height: 2.25rem;
        }

        .signin-back {
            padding: 3.5rem 3.5rem;
        }

        .signin-back-icon {
            width: 2.25rem;
            height: 2.25rem;
        }

        .signin-form {
            margin-top: 3.75rem;
        }

        .signin-title {
            margin-top: 2.5rem;
            font-size: 3rem;
            line-height: 3.5rem;
        }

        .signin-form-title {
            margin-top: 2.5rem;
        }

        .signin-login-form-tool-box {
            margin-top: 2.5rem;
        }

        .signin-login-form-remember-icon {
            width: 2.5rem;
            height: 2.5rem;
        }

        .signin-form-button, .registere-btn {
            margin-top: 3.75rem;
        }

        .login-google-box {
            margin-top: 1.25rem;
        }

        .login-apple-box {
            margin-top: 2.5rem;
        }

        .signin-otherway-box {
            margin-top: 2.5rem;
        }

        .signin-regist-form-tool-box {
            margin-top: 2.5rem;
        }

        .signin-regist-form-tool-item-icon {
            width: 2.5rem;
            height: 2.5rem;
        }

        .signin-container-login {
            padding-top: 10rem;
            padding-bottom: 10rem;
            height: 100vh;
        }

        .signin-container-login .signin-close,
        .signin-container-login .signin-back {
            padding: 3.5rem 3.5rem 0;
        }

        .signin-content-login .signin-title {
            margin-top: 0;
        }

        .signin-content-login .signin-form {
            margin-top: 6.25rem;
        }

        .signin-content-login .signin-form-button {
            margin-top: 6.25rem;
        }

        .signin-content-login .signin-empty-box {
            height: 15rem;
        }

        .signin-content-login .signin-line-text {
            margin-left: 2rem;
            margin-right: 2rem;
        }

        .signin-content-login .login-google-box {
            margin-top: 2.5rem;
        }

        .signin-content-login .signin-login-form-resetpwd {
            font-size: 1.5rem;
        }
    }
}
