.layout-vertical .best-items-item {
  width: calc((100% - 5.5rem) / 3);
}
@media screen and (max-width: 768px) {
  .layout-vertical .best-items-item {
    width: calc((100% - 1.25rem) / 2);
  }
  .layout-horizontal .item-button-box {
    position: unset;
    margin-top: 1rem;
  }
  .layout-horizontal .best-items-item-icon {
    height: 17rem;
  }
}
