.star-bg {
  width: max-content;
  position: relative;
  font-size: 2rem;
}
.stars-outer {
  width: 18.125rem;
  height: 3.625rem;
  display: flex;
  position: relative;
  color: #ccc;
  background: url(../image/star-2.png) repeat-x;
}
.stars-inner {
  width: 18.125rem;
  height: 3.625rem;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  background: url(../image/star.png) repeat-x;
  /* 这里控制填充比例 */
  width: 0%;
}
@media screen and (max-width: 768px) {
  .stars-outer {
    width: 3.625rem;
    height: 3.625rem;
  }
  .stars-inner {
    width: 3.625rem;
    height: 3.625rem;
  }
}
