
.star-bg {
  width: max-content;
  position: relative;
  font-size: 1.2rem;
}
.stars-outer {
  display: flex;
  position: relative;
  color: #ccc; /* 灰色星星 */
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: gold; /* 金色星星 */
  width: 0%; /* 这里控制填充比例 */
}

.stars-outer::before,
.stars-inner::before {
  content: "★★★★★";
}