.star-bg {
  width: max-content;
  position: relative;
  font-size: 2rem;
}

.stars-outer {
  display: flex;
  position: relative;
  color: #ccc;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #FD8E2D;
  /* 这里控制填充比例 */
  width: 0%;
}

.stars-outer::before,
.stars-inner::before {
  content: "★★★★★";
}

@media screen and (max-width: 768px) {

  .stars-outer::before,
  .stars-inner::before {
    content: "★";
  }
}