.store-item {
    border: #F0F0F3 solid 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    background: white;
    overflow: hidden;
    position: relative;
    display: flex;
}

.layout-horizontal .store-item {
    width: 100%;
    flex-direction: column;
}

.layout-vertical .store-item {
    flex-direction: column;
}

.layout-horizontal .store-item,
.layout-vertical .store-item {
    padding: 30px 30px;
    border-radius: 40px;
}

@media screen and (min-width: 1441px) {
    .layout-vertical .store-item {
        width: 521px;
    }
}

@media screen and (max-width: 1440px) {
    .layout-vertical .store-item {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (max-width: 900px) {
    .layout-vertical .store-item {
        width: 521px;
    }
}

@media screen and (max-width: 768px) {

    .layout-horizontal .store-item,
    .layout-vertical .store-item {
        padding: 10px 10px;
        border-radius: 10px;
    }

    .layout-vertical .store-item {
        width: calc((100% - 10px) / 2);
    }
}

.layout-horizontal .store-item .item-like {
    right: 30px;
    top: 39px;
}

.layout-vertical .store-item .item-like {
    right: 39px;
    top: 39px;
}

@media screen and (max-width: 768px) {

    .layout-horizontal .store-item .item-like {
        right: 10px;
        top: 11px;
    }

    .layout-vertical .store-item .item-like {
        right: 20px;
        top: 20px;
    }
}

.store-item-user-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.layout-horizontal .store-item-user-box {
    padding-right: 46px;
}

.layout-vertical .store-item-user-box {
    padding-right: 46px;
}

.store-item-icon {
    min-width: 120px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.store-item-name-box {
    flex: 1;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.layout-vertical .store-item-name-box {
    gap: 8px;
}

.layout-horizontal .store-item-name-box {
    gap: 8px;
}

.item-desc-box {
    max-height: 48px;
    overflow: hidden;
}

.item-desc {
    max-height: 48px;
}

.layout-vertical .store-item .item-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    --webkit-box-orient: horizontal;
    --webkit-line-clamp: 1;
    max-height: 40px;
    height: 40px;
}

@media screen and (max-width: 768px) {

    .layout-horizontal .store-item-user-box {
        gap: 10px;
        padding-right: 0px;
    }

    .layout-vertical .store-item-user-box {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 0px;
    }

    .store-item-icon {
        min-width: 60px;
        width: 60px;
        height: 60px;
        min-height: 60px;
    }

    .layout-vertical .store-item-name-box {
        flex: unset;
        width: 100%;
        gap: 2px;
    }

    .layout-horizontal .store-item-name-box {
        flex: 1;
        gap: 0px;
    }

    .layout-horizontal .store-item .item-title-box {
        padding-right: 30px;
    }

    .layout-horizontal .item-title {
        font-size: 20px;
        line-height: 26px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .layout-vertical .store-item .item-title {
        font-size: 20px;
        line-height: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .layout-vertical .store-item .item-title {
        max-height: 30px;
        height: 30px;
    }

    .item-desc-box {
        max-height: 36px;
    }

    .item-desc {
        max-height: 36px;
    }
}

.store-item-content {
    display: flex;
}

.store-item-content {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.layout-vertical .store-item-content {
    margin-top: 20px;
}

.layout-horizontal .store-item-content {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {

    .layout-horizontal .store-item-content {
        flex-direction: row;
        margin-top: 6px;
    }

    .layout-vertical .store-item-content {
        margin-top: 10px;
    }
}

.store-item-detail-box {
    width: 100%;
    height: 90px;
    margin-top: 20px;
}

.store-item-detail {
    height: 90px;
    --webkit-box-orient: vertical;
    --webkit-line-clamp: 2;
    color: #000;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-family: var(--primary-popfont);
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    text-overflow: ellipsis;
}

.store-item-brand-service-box {
    display: flex;
    justify-content: flex-start;
}

.layout-horizontal .store-item-brand-service-box {
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 40px;
}

.layout-vertical .store-item-brand-service-box {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    gap: 6px;
}

@media screen and (max-width: 768px) {
    .store-item-detail-box {
        display: none;
    }

    .layout-horizontal .store-item-brand-service-box {
        margin-top: 0px;
        gap: 10px;
    }

    .layout-vertical .store-item-brand-service-box {
        margin-top: 10px;
        gap: 4px;
    }
}

.layout-horizontal .item-tag-box {
    margin-top: 20px;
}

.layout-vertical .item-tag-box {
    margin-top: 10px;
}


@media screen and (max-width: 768px) {
    .store-item .item-tag-box {
        display: flex;
    }

    .layout-horizontal .item-tag-box {
        margin-top: 6px;
    }

    .layout-vertical .item-tag-box {
        margin-top: 4px;
    }
}