.store-all-card--desktop-vertical {
    width: 65.15625rem;
    height: 57.75rem;
    margin-bottom: 3.75rem;
    padding: 3.75rem;
    grid-template-columns: 15rem minmax(0, 1fr);
    grid-auto-rows: max-content;
    column-gap: 2.5rem;
    align-items: start;
    border-radius: 5rem;
}

.store-all-card--desktop-vertical:nth-of-type(2n + 1) {
    margin-right: -6.15625rem;
}

.store-all-card--desktop-vertical:nth-of-type(2n) {
    margin-right: -9.90625rem;
}

.store-all-card--desktop-vertical > figure {
    grid-column: 1;
    grid-row: 1;
    width: 15rem;
    height: 15rem;
}

.store-all-card--desktop-vertical > figure > img {
    width: 15rem;
    height: 15rem;
    border: 0.125rem solid #F4F4F4;
}

.store-all-card--desktop-vertical > header {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.25rem;
}

.store-all-card--desktop-vertical > header h2 > a {
    height: 3.75rem;
    max-height: 3.75rem;
    font-size: 3.5rem;
    line-height: 3.75rem;
}

.store-all-card--desktop-vertical > header > [data-role="summary"] {
    max-width: 34.375rem;
    max-height: 6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 2rem;
    line-height: 3rem;
}

.store-all-card--desktop-vertical > section {
    display: contents;
}

.store-all-card--desktop-vertical [data-role="rating"] {
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: 2.5rem;
}

.store-all-card--desktop-vertical [data-role="rating"] .item-star-box-pc {
    display: flex;
}

.store-all-card--desktop-vertical [data-role="rating"] .item-star-box-mobile {
    display: none;
}

.store-all-card--desktop-vertical > section > [data-role="detail"] {
    grid-column: 1 / -1;
    grid-row: 3;
    height: 11.25rem;
    max-height: 11.25rem;
    margin-top: 2.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 2.5rem;
    line-height: 3.75rem;
}

.store-all-card--desktop-vertical > section > dl {
    grid-column: 1 / -1;
    grid-row: 4;
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

.store-all-card--desktop-vertical > section > dl > div {
    gap: 0.5rem;
}

.store-all-card--desktop-vertical > section dt,
.store-all-card--desktop-vertical > section dd {
    font-size: 1.75rem;
    line-height: 3rem;
}

.store-all-card--desktop-vertical > nav {
    grid-column: 1 / -1;
    grid-row: 5;
    width: 47.5rem;
    height: 4rem;
    max-height: 4rem;
    margin-top: 0.5rem;
    padding-bottom: 0.125rem;
    gap: 0.75rem;
    flex-wrap: nowrap;
    overflow: visible;
}

.store-all-card--desktop-vertical > nav > a {
    width: 13.125rem;
    height: 4rem;
    padding: 0.625rem 1.125rem;
    border-radius: 2.5rem;
    box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.0156862745);
}

.store-all-card--desktop-vertical > nav > a > span {
    width: 10.875rem;
    font-size: 1.75rem;
    line-height: 2.75rem;
    text-align: center;
}

.store-all-card--desktop-vertical > .icon-aixin {
    top: 3rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
}
