.store-all-card--desktop-horizontal {
  width: 134.0625rem;
  height: 47.875rem;
  margin: 0 0 3.75rem;
  padding: 3.75rem;
  grid-template-columns: 15rem minmax(0, 1fr);
  grid-auto-rows: max-content;
  column-gap: 2.5rem;
  align-items: start;
  border-radius: 5rem;
}
.store-all-card--desktop-horizontal > figure {
  grid-column: 1;
  grid-row: 1;
  width: 15rem;
  height: 15rem;
}
.store-all-card--desktop-horizontal > figure > img {
  width: 15rem;
  height: 15rem;
  border: 0.125rem solid #F4F4F4;
}
.store-all-card--desktop-horizontal > header {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.store-all-card--desktop-horizontal > header h2 > a {
  height: 3.75rem;
  max-height: 3.75rem;
  font-size: 3.5rem;
  line-height: 3.75rem;
}
.store-all-card--desktop-horizontal > header > [data-role="summary"] {
  max-width: 42.569375rem;
  max-height: 6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 2rem;
  line-height: 3rem;
}
.store-all-card--desktop-horizontal > section {
  display: contents;
}
.store-all-card--desktop-horizontal [data-role="rating"] {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  margin-top: 9.125rem;
}
.store-all-card--desktop-horizontal [data-role="rating"] .item-star-box-pc {
  display: flex;
}
.store-all-card--desktop-horizontal [data-role="rating"] .item-star-box-mobile {
  display: none;
}
.store-all-card--desktop-horizontal > section > [data-role="detail"] {
  grid-column: 1 / -1;
  grid-row: 2;
  height: 7.5rem;
  max-height: 7.5rem;
  margin-top: 2.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 2.5rem;
  line-height: 3.75rem;
}
.store-all-card--desktop-horizontal > section > dl {
  grid-column: 1 / -1;
  grid-row: 3;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.store-all-card--desktop-horizontal > section > dl > div {
  gap: 0.5rem;
}
.store-all-card--desktop-horizontal > section dt,
.store-all-card--desktop-horizontal > section dd {
  font-size: 1.75rem;
  line-height: 3rem;
}
.store-all-card--desktop-horizontal > nav {
  grid-column: 1 / -1;
  grid-row: 4;
  height: 4rem;
  min-height: 4rem;
  max-height: 4rem;
  margin-top: 2.5rem;
  gap: 0.75rem;
  flex-wrap: nowrap;
  overflow: visible;
}
.store-all-card--desktop-horizontal > nav > a {
  width: 13.125rem;
  height: 4rem;
  padding: 0.625rem 1.125rem;
  border-radius: 2.5rem;
  box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.0156862745);
}
.store-all-card--desktop-horizontal > nav > a > span {
  width: 10.875rem;
  font-size: 1.75rem;
  line-height: 2.75rem;
  text-align: center;
}
.store-all-card--desktop-horizontal > .icon-aixin {
  top: 4.875rem;
  right: 5rem;
  width: 3rem;
  height: 3rem;
}
