
.store-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 460px;
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
    border: #f0f0f3 solid 1px;
    position: relative;
}
.store-top-box {
    width: 100%;
    display: flex;
    align-items: center;
}
.store-item-icon {
    width: 120px;
    min-width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}
.store-item-like {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 24px;
    height: 24px;
}
.store-top-right-box {
    margin-left: 20px;
    flex: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
.store-item-title {
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.store-item-desc {
    margin-top: 8px;
    width: 100%;
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}
.store-item-star-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.store-item-star-score {
    color: rgba(0, 0, 0, 0.85);
    font-family: var(--primary-robotofont);
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
}
.store-item-star-recommend {
    color: var(--gray-color);
    font-family: var(--primary-robotofont);
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.store-item-content {
    margin-top: 20px;
    width: 100%;
    height: 90px;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 0;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}
.store-item-brand-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.store-item-brand-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.store-item-brand {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.store-item-service-box {
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.store-item-service-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.store-item-service {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.store-item-tag-box {
    width: 100%;
    flex-shrink: 0;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.store-item-tag {
    padding: 4px 8px;
    border-radius: 16px;
    height: 32px;
    border: #d9d9d9 solid 1px;
}
.store-item-tag-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}