.tag-page-header-desc-title-box {
  gap: 0;
}
.tag-page-header-desc-content {
  max-width: 89.5rem;
  font-family: "Inter", var(--primary-popfont);
  line-height: 2.625rem;
}
.page-top-sticky .page-link-box {
  align-items: flex-end;
  border-bottom-color: #c5c5c5;
}
.page-top-sticky .page-filterresult-box {
  font-family: "Inter", var(--primary-popfont);
}
#best-items-item .layout-vertical .item-all-horizontal-item {
  display: none;
}
#best-items-item .layout-horizontal .best-items-item {
  display: none;
}
#store-item .layout-vertical .figma-store-horizontal-item {
  display: none;
}
#store-item .layout-horizontal .figma-best-store-item {
  display: none;
}
#store-item .layout-horizontal .store-all-items-pager .store-item.figma-store-horizontal-item {
  width: 100%;
}
#compaign-item .layout-vertical .figma-compaign-horizontal-item {
  display: none;
}
#compaign-item .layout-horizontal .figma-hot-compaign-item {
  display: none;
}
@media screen and (min-width: 769px) {
  .page-top-sticky .page-header-function-control-box {
    flex: unset;
    gap: 1rem;
  }
  .page-top-sticky .page-filter-layoutcontrol-box {
    width: auto;
  }
  .page-top-sticky .page-filter-layoutcontrol-box .layout-controls-box {
    display: flex;
    width: 40.25rem;
    height: 5rem;
    border: 0.125rem solid #c5c5c5;
    border-radius: 2.5rem;
    overflow: hidden;
    background: #fff;
  }
  .page-top-sticky .page-filter-layoutcontrol-box .layout-switch {
    width: auto;
    height: 5rem;
    padding: 1.25rem 2.5rem 1rem;
    font-family: "Inter", var(--primary-popfont);
    font-size: 1.875rem;
    line-height: 2.625rem;
    font-weight: 500;
    color: #000;
    flex: 0 0 auto;
    white-space: nowrap;
  }
  .page-top-sticky .page-filter-layoutcontrol-box .layout-switch:first-child {
    width: 17.5rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .page-top-sticky .page-filter-layoutcontrol-box .layout-switch:last-child {
    width: 22.75rem;
  }
  .page-top-sticky .page-filter-layoutcontrol-box .layout-switch.active {
    border-radius: 2.5rem;
    color: #fff;
  }
  .page-top-sticky .page-header-function-box .page-sort-box {
    padding-left: 0;
  }
}
.layout-vertical .items-pager {
  gap: 0;
}
#store-item .layout-vertical .items-pager {
  gap: 3.75rem;
}
#store-item .layout-vertical .store-item.figma-best-store-item {
  width: 57.5rem;
}
#compaign-item .layout-vertical .items-pager {
  gap: 2.75rem;
}
@media screen and (max-width: 768px) {
  .tag-page-header-desc-content {
    max-width: 100%;
    line-height: 2.625rem;
  }
  #store-item .layout-vertical .items-pager {
    gap: 1.25rem;
  }
  #store-item .layout-vertical .store-item.figma-best-store-item {
    width: calc((100% - 1.25rem) / 2);
  }
  #compaign-item .layout-vertical .items-pager {
    gap: 1.25rem;
  }
  .item-brand-text,
  .item-service-text {
    display: none;
  }
}
