<div class="store-item figma-best-store-item">
    <!-- @include ./item-like-button.html {"like_class":"icon-aixin","like":"{{like}}","like_icon":"{{like_icon}}","like_alt":"收藏按钮","aria_label":"收藏","aria_pressed":"{{aria_pressed}}"} -->
    <div class="store-item-user-box">
        <img class="store-item-icon" src="image/figma-best-store-avatar.png" />
        <div class="store-item-name-box">
            <a href="store-detail.html?name=store-name" target="_self" class="item-title-box">
                <p class="item-title">Store name</p>
            </a>
            <div class="item-desc-box">
                <p class="item-desc">Connecting Ideas, Empowering Futures</p>
            </div>
        </div>
    </div>
    <div class="store-item-content">
        <!-- @include ./rating-with-count.html {"width":"83%","score":"4.3","recommend":"(200)"} -->
        <div class="store-item-detail-box">
            <p class="store-item-detail">Beatae voluptas ducimus. Suscipit minus voluptas
                aspernatur sit nulla rerum deserunt. Facilis aut</p>
        </div>
        <div class="store-item-brand-service-box">
            <div class="item-brand-box">
                <p class="item-brand-text">Brand：</p>
                <p class="item-brand" style="color: #FF1B20;">Quora</p>
            </div>
            <div class="item-service-box">
                <p class="item-service-text">Service：</p>
                <p class="item-service">Cloud Service</p>
            </div>
        </div>
    </div>
    <div class="item-tag-box">
        <a class="item-tag" href="tag-all.html?type=store&name=store-name" target="_self">
            <span class="item-tag-text">ChangeUser</span>
        </a>
        <a class="item-tag" href="tag-all.html?type=store&name=store-name" target="_self">
            <span class="item-tag-text">ChangeUser</span>
        </a>
        <a class="item-tag" href="tag-all.html?type=store&name=store-name" target="_self">
            <span class="item-tag-text">ChangeUser</span>
        </a>
    </div>
</div>
