<div class="brand-item">
  <div class="brand-item-top-box">
    <div class="brand-item-top-box-icon-wrapper">
      <img src="{{brand_logo}}" alt="{{brand_name}} logo" />
    </div>
    <div class="brand-item-top-text-box">
      <h3><a href="{{brand_link}}" target="_self">{{brand_name}}</a></h3>
      <p>{{brand_desc}}</p>
    </div>
  </div>
  <div class="brand-item-middle-box">
    <p>{{tag_1}}</p>
    <div></div>
    <p>{{tag_2}}</p>
    <div></div>
    <p>{{tag_3}}</p>
  </div>
  <div class="brand-item-bottom-box">
    <div>
      <img src="image/brand-icon-1.png" alt="items" />
      <p>{{count_1}}</p>
    </div>
    <div>
      <img src="image/brand-icon-2.png" alt="stores" />
      <p>{{count_2}}</p>
    </div>
    <div>
      <img src="image/brand-icon-3.png" alt="demands" />
      <p>{{count_3}}</p>
    </div>
    <div>
      <img src="image/brand-icon-4.png" alt="posts" />
      <p>{{count_4}}</p>
    </div>
    <div>
      <img src="image/brand-icon-5.png" alt="faqs" />
      <p>{{count_5}}</p>
    </div>
  </div>
</div>
