<div class="brand-section" id="{{section_id}}">
  <div class="brand-section-title-wrapper">
    <span>{{section_title}}</span>
    <a href="{{view_more_link}}">view more <img src="image/view-more.png" alt=""></a>
  </div>
  <div class="layout-vertical items-container">
    <div class="items-pager items-pager-flex-start" id="items-grid">
      <!-- @include ./brand-hot-item-card.html -->
      <!-- @include ./brand-hot-item-card.html -->
      <!-- @include ./brand-hot-item-card.html -->
      <!-- @include ./brand-hot-item-card.html -->
    </div>
  </div>
</div>
