<div class="faq-item {{faq_item_class}}">
  <div class="faq-header">
    <div class="faq-header-icon-box">
      <img src="{{faq_icon_src}}" />
    </div>
    <div class="faq-header-middle-box">
      <span style="{{faq_brand_style}}">{{faq_brand}}</span>
      <div>{{faq_title}}</div>
    </div>
    <img src="image/more-arrow.png" />
  </div>
  <div class="faq-content" style="{{faq_content_style}}">
    <div>{{faq_content}}</div>
    <div><a href="{{faq_detail_link}}">more</a></div>
  </div>
  <div class="faq-actions">
    <div class="resource-action-group resource-action-like {{like_active_class}}">
      <img src="image/like-count.png" />
      <img src="image/like-active-count.png" />
      <i class="iconfont icon-dianzan icon-is-dianzan"></i>
      <span>{{like_count}}</span>
    </div>
    <div class="resource-action-group resource-action-unlike {{unlike_active_class}}">
      <img src="image/unlike-count.png" />
      <img src="image/unlike-active-count.png" />
      <i class="iconfont icon-dianzan icon-not-dianzan"></i>
      <span>{{unlike_count}}</span>
    </div>
    <div class="faq-action-save {{follow_active_class}}">
      <img src="image/follow-count.png" />
      <img src="image/follow-active-count.png" />
      <span>{{follow_count}}</span>
    </div>
  </div>
</div>
