<div class="brand-section" id="posts">
  <div class="brand-section-title-wrapper">
    <span class="brand-section-title">Adobe - Hot Posts</span>
    <a class="view-more-wrapper" href="post-all.html">view more <img src="image/view-more.png" class="view-more-arrow"
        alt=""></a>
  </div>
  <div class="hot-posts-pager layout-horizontal" id="hot-posts">
    <!-- @include ../index-host-post-item-normal-liked.html -->
    <!-- @include ../index-host-post-item-alt-unliked.html -->
    <!-- @include ../index-host-post-item-red-liked.html -->
    <!-- @include ../index-host-post-item-red-unliked.html -->
  </div>
</div>
