<div class="faq-item">
  <div class="faq-header">
    <div class="faq-header-icon-box">
      <img class="faq-header-icon" src="{{faq_icon_src}}" />
    </div>
    <div class="faq-header-middle-box">
      <span class="faq-header-title-tag" style="{{faq_brand_style}}">{{faq_brand}}</span>
      <div class="faq-header-title">{{faq_title}}</div>
    </div>
    <img class="faq-header-arrow-icon" src="image/more-arrow.png" />
  </div>
  <div class="faq-content" style="display: none;">
    <div>{{faq_content}}</div>
    <div class="view-more-wrapper"><a class="view-more-btn" href="{{faq_detail_link}}">more</a></div>
  </div>
  <div class="faq-actions">
    <div class="resource-action-group resource-action-like {{like_active_class}}">
      <img src="image/like-count.png" class="resource-action-icon resource-action-like-icon cursor-pointer" />
      <i class="iconfont icon-dianzan icon-is-dianzan"></i>
      <span class="resource-action-count">{{like_count}}</span>
    </div>
    <div class="resource-action-group resource-action-unlike {{unlike_active_class}}">
      <img src="image/unlike-count.png" class="resource-action-icon resource-action-unlike-icon cursor-pointer" />
      <i class="iconfont icon-dianzan icon-not-dianzan"></i>
      <span class="resource-action-count">{{unlike_count}}</span>
    </div>
    <div class="faq-action-group">
      <img src="{{follow_icon_src}}" class="faq-action-icon" />
      <span class="faq-action-count">{{follow_count}}</span>
    </div>
  </div>
</div>
