<div class="brand-item">
  <div class="brand-item-top-box">
    <div class="brand-item-top-box-icon-wrapper">
      <img class="brand-item-top-box-icon" src="{{brand_logo}}" alt="{{brand_name}} logo" />
    </div>
    <div class="brand-item-top-text-box">
      <h3 class="brand-item-top-text-box-title"><a href="{{brand_link}}" target="_self">{{brand_name}}</a></h3>
      <p class="brand-item-top-text-box-desc">{{brand_desc}}</p>
    </div>
  </div>
  <div class="brand-item-middle-box">
    <p class="brand-item-middle-box-text">{{tag_1}}</p>
    <div class="brand-item-middle-box-line"></div>
    <p class="brand-item-middle-box-text">{{tag_2}}</p>
    <div class="brand-item-middle-box-line"></div>
    <p class="brand-item-middle-box-text">{{tag_3}}</p>
  </div>
  <div class="brand-item-bottom-box">
    <div class="brand-item-bottom-box-item">
      <img class="brand-item-bottom-box-item-icon" src="image/brand-icon-1.png" alt="items" />
      <p class="brand-item-bottom-box-item-text">{{count_1}}</p>
    </div>
    <div class="brand-item-bottom-box-item">
      <img class="brand-item-bottom-box-item-icon" src="image/brand-icon-2.png" alt="stores" />
      <p class="brand-item-bottom-box-item-text">{{count_2}}</p>
    </div>
    <div class="brand-item-bottom-box-item">
      <img class="brand-item-bottom-box-item-icon" src="image/brand-icon-3.png" alt="demands" />
      <p class="brand-item-bottom-box-item-text">{{count_3}}</p>
    </div>
    <div class="brand-item-bottom-box-item">
      <img class="brand-item-bottom-box-item-icon" src="image/brand-icon-4.png" alt="posts" />
      <p class="brand-item-bottom-box-item-text">{{count_4}}</p>
    </div>
    <div class="brand-item-bottom-box-item">
      <img class="brand-item-bottom-box-item-icon" src="image/brand-icon-5.png" alt="faqs" />
      <p class="brand-item-bottom-box-item-text">{{count_5}}</p>
    </div>
  </div>
</div>
