<div class="brand-section" id="{{section_id}}">
  <div class="brand-section-title-wrapper">
    <span class="brand-section-title">{{section_title}}</span>
    <a class="view-more-wrapper" href="{{view_more_link}}">view more <img src="image/view-more.png" class="view-more-arrow" alt=""></a>
  </div>
  <div class="layout-vertical items-container">
    <div class="items-pager items-pager-flex-start" id="items-grid">
      <!-- @include ./brand-hot-item-card.html -->
      <!-- @include ./brand-hot-item-card.html -->
      <!-- @include ./brand-hot-item-card.html -->
      <!-- @include ./brand-hot-item-card.html -->
    </div>
  </div>
</div>
