<div class="brand-section" id="demands">
  <div class="brand-section-title-wrapper">
    <span class="brand-section-title">Adobe - Hot Demands</span>
    <a class="view-more-wrapper" href="demand-all.html">view more <img src="image/view-more.png" class="view-more-arrow"
        alt=""></a>
  </div>
  <div class="popular-demands-pager layout-vertical" id="popuar-demands">
    <!-- @include ../index-popular-demand-item-main-liked.html -->
    <!-- @include ../index-popular-demand-item-alt-unliked.html -->
    <!-- @include ../index-popular-demand-item-alt-liked.html -->
    <!-- @include ../index-popular-demand-item-alt-liked.html -->
  </div>
</div>
