<div class="brand-item">
  <div class="brand-item-top-box">
    <div class="brand-item-top-box-icon-wrapper">
      <img src="{{brand_logo}}" alt="{{brand_name}} logo" />
    </div>
    <div class="brand-item-top-text-box">
      <h3><a href="{{brand_link}}" target="_self">{{brand_name}}</a></h3>
      <p>{{brand_desc}}</p>
    </div>
  </div>
  <div class="brand-item-middle-box">
    <p>{{tag_1}}</p>
    <div></div>
    <p>{{tag_2}}</p>
    <div></div>
    <p>{{tag_3}}</p>
  </div>
  <div class="brand-item-bottom-box">
    <div title="Item : {{count_1}}">
      <i class="svg-icon svg-icon--brand-stat-item" aria-hidden="true"></i>
      <p>{{count_1}}</p>
    </div>
    <div title="Store : {{count_2}}">
      <i class="svg-icon svg-icon--brand-stat-store" aria-hidden="true"></i>
      <p>{{count_2}}</p>
    </div>
    <div title="Demand : {{count_3}}">
      <i class="svg-icon svg-icon--brand-stat-demand" aria-hidden="true"></i>
      <p>{{count_3}}</p>
    </div>
    <div title="Post : {{count_4}}">
      <i class="svg-icon svg-icon--brand-stat-post" aria-hidden="true"></i>
      <p>{{count_4}}</p>
    </div>
    <div title="FAQ : {{count_5}}">
      <i class="svg-icon svg-icon--brand-stat-faq" aria-hidden="true"></i>
      <p>{{count_5}}</p>
    </div>
  </div>
</div>
