<div class="demand-item demand-all-figma-item">
    <!-- @include ./item-like-button.html {"like_class":"icon-aixin demand-all-figma-like","like":"{{like}}","like_icon":"{{like_icon}}","like_alt":"收藏按钮","aria_label":"收藏","aria_pressed":"{{aria_pressed}}"} -->
    <a href="{{item_link}}" target="_self" class="item-title-box demand-all-figma-title-box">
        <p class="item-title demand-all-figma-title">{{item_title}}</p>
    </a>
    <div class="demand-item-content demand-all-figma-content">
        <div class="demand-item-middle-box demand-all-figma-middle-box">
            <div class="demand-item-row-box demand-all-figma-row-box">
                <div class="item-brand-box demand-item-coloumn-box demand-all-figma-coloumn-box">
                    <p class="item-brand-text">Brand:</p>
                    <p class="item-brand" style="color: {{brand_color}};">{{brand_name}}</p>
                </div>
                <div class="item-service-box demand-item-coloumn-box demand-all-figma-coloumn-box">
                    <p class="item-service-text">Service:</p>
                    <p class="item-service">{{service_name}}</p>
                </div>
            </div>
            <div class="demand-item-row-box demand-all-figma-row-box">
                <div class="item-service-box demand-item-coloumn-box demand-all-figma-coloumn-box">
                    <p class="item-service-text">Quantity:</p>
                    <p class="item-service">{{quantity}}</p>
                </div>
                <div class="item-service-box demand-item-coloumn-box demand-all-figma-coloumn-box">
                    <p class="item-service-text">Total price:</p>
                    <p class="item-service">{{total_price}}</p>
                </div>
            </div>
            <div class="demand-item-row-box demand-all-figma-row-box">
                <div class="item-service-box demand-item-coloumn-box demand-all-figma-coloumn-box demand-item-price-range-box">
                    <p class="item-service-text">Price range:</p>
                    <p class="item-service">{{price_range}}</p>
                </div>
                <div class="item-service-box demand-item-coloumn-box demand-all-figma-coloumn-box demand-all-figma-date-box">
                    <img class="demand-all-figma-date-icon" src="image/date-range.png" alt="Bidding time" />
                    <p class="item-service">{{bidding_time}}</p>
                </div>
            </div>
        </div>

        <div class="item-tag-box demand-all-figma-tag-box">
            <a class="item-tag" href="attribute-all.html?type=demand&name=demand-name&value=demand-value" target="_self">
                <span class="item-tag-text">Waterproof : Fully Waterproof</span>
            </a>
            <a class="item-tag" href="attribute-all.html?type=demand&name=demand-name&value=demand-value" target="_self">
                <span class="item-tag-text">Resolution : 4K</span>
            </a>
            <a class="item-tag" href="attribute-all.html?type=demand&name=demand-name&value=demand-value" target="_self">
                <span class="item-tag-text">Installation : Fixed</span>
            </a>
            <a class="item-tag" href="attribute-all.html?type=demand&name=demand-name&value=demand-value" target="_self">
                <span class="item-tag-text">Device : Universal</span>
            </a>
        </div>

        <div class="demand-item-bidder-box demand-all-figma-bidder-box">
            <span class="demand-item-bidder-text demand-all-figma-bidder-text">Bidder：</span>
            <img class="demand-item-bidder-avatar demand-all-figma-bidder-avatar" src="image/figma-demand-avatar-01.png" alt="Bidder avatar 1" />
            <img class="demand-item-bidder-avatar demand-all-figma-bidder-avatar" src="image/figma-demand-avatar-02.jpg" alt="Bidder avatar 2" />
            <img class="demand-item-bidder-avatar demand-all-figma-bidder-avatar" src="image/figma-demand-avatar-03.png" alt="Bidder avatar 3" />
            <img class="demand-item-bidder-avatar demand-all-figma-bidder-avatar" src="image/figma-demand-avatar-04.png" alt="Bidder avatar 4" />
            <img class="demand-item-bidder-avatar demand-all-figma-bidder-avatar" src="image/figma-demand-avatar-05.png" alt="Bidder avatar 5" />
            <img class="demand-item-bidder-avatar demand-all-figma-bidder-avatar" src="image/figma-demand-avatar-06.jpg" alt="Bidder avatar 6" />
            <img class="demand-item-bidder-avatar demand-all-figma-bidder-avatar" src="image/figma-demand-avatar-07.png" alt="Bidder avatar 7" />
            <img class="demand-item-bidder-avatar demand-all-figma-bidder-avatar" src="image/figma-demand-avatar-08.png" alt="Bidder avatar 8" />
            <img class="demand-item-bidder-avatar demand-all-figma-bidder-avatar" src="image/figma-demand-avatar-09.png" alt="Bidder avatar 9" />
            <img class="demand-item-bidder-avatar demand-all-figma-bidder-avatar" src="image/figma-demand-avatar-10.jpg" alt="Bidder avatar 10" />
            <div class="demand-item-bidder-avatar-more demand-all-figma-bidder-avatar-more">+2</div>
            <div class="item-button-box demand-button {{button_disabled_class}} demand-all-figma-button">{{button_text}}</div>
        </div>
    </div>
</div>
