<div class="header-search-mobile-box">
    <div class="header-search-mobile-box-label">
        <label>items</label>
        <img src="image/more-arrow.png" />
        <div class="header-menu-container">
            <div>
                <ul>
                    <li data-value="items">
                        <h2>items</h2>
                    </li>
                    <li data-value="stories">
                        <h2>stories</h2>
                    </li>
                    <li data-value="demands">
                        <h2>demands</h2>
                    </li>
                    <li data-value="posts">
                        <h2>posts</h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-search-mobile-box-line"></div>
    <span class="header-search-mobile-box-input-box">
        <input class="header-search-mobile-box-input-box-input" type="text"
            placeholder="Search for items, stores, demands..." onkeyup="handleEnterFn(event)" />
        <img class="header-search-mobile-box-input-box-icon" src="image/header-search.png"
            onclick="handleSearchFn(event)" />
    </span>
</div>
