<div class="compaign-item figma-hot-compaign-item">
    <img class="compaign-item-icon" src="image/best-item-cover.png" />
    <!-- @include ./item-like-button.html {"like_class":"icon-aixin","like":"{{like}}","like_icon":"{{like_icon}}","like_alt":"收藏按钮","aria_label":"收藏","aria_pressed":"{{aria_pressed}}"} -->
    <div class="compaign-item-content">
        <a href="compaign-detail.html?name=compaign-name" target="_self" class="item-title-box">
            <h4 class="item-title">Campaigns title</h4>
        </a>
        <div class="compaign-item-middle-box">
            <div class="compaign-item-box">
                <div class="compaign-item-brand-box">
                    <div class="compaign-item-brand-text">Number of items: </div>
                    <div class="compaign-item-brand">14</div>
                </div>
                <div class="compaign-item-brand-box">
                    <div class="compaign-item-brand-text">Sales: </div>
                    <div class="compaign-item-brand">5633</div>
                </div>
            </div>
            <div class="compaign-item-box">
                <div class="compaign-item-brand-box">
                    <div class="compaign-item-brand-text">Orders: </div>
                    <div class="compaign-item-brand">122</div>
                </div>
                <div class="compaign-item-brand-box">
                    <div class="compaign-item-brand-text">Favorites: </div>
                    <div class="compaign-item-brand">155</div>
                </div>
            </div>
        </div>
        <div class="compaign-item-products-box">
            <div class="compaign-item-products-text">Products: </div>
            <p class="compaign-item-products">Handmade Granite Cheese (56)，Rustic Fresh
                Computer (62)，Rustic Fresh Towels (69)</p>
        </div>
        {{item_tags_block}}
    </div>
</div>
