<div class="best-items-item figma-best-item">
    <img class="best-items-item-icon" src="image/best-item-cover.png" />
    <!-- @include ./item-like-button.html {"like_class":"icon-aixin","like":"{{like}}","like_icon":"{{like_icon}}","like_alt":"收藏按钮","aria_label":"收藏","aria_pressed":"{{aria_pressed}}"} -->
    <div class="best-items-item-content">
        <div class="item-title-box">
            <div class="item-mark" style="{{mark_style}}">{{mark_text}}</div>
            <a href="{{item_link}}" target="_self" class="item-title">{{item_title}}</a>
        </div>
        <div class="best-items-item-middle-box">
            <div class="best-items-item-price-stock-box">
                <div class="item-price-box">
                    <p class="item-price-text">Price：</p>
                    <p class="item-price">$325.00</p>
                </div>
                <div class="item-stock-box">
                    <p class="item-stock-text">In stock：</p>
                    <img class="item-stock-icon" src="image/stock.png" />
                    <p class="item-stock">52</p>
                </div>
            </div>
            <!-- @include ./rating-with-count.html {"width":"{{rating_width}}","score":"{{rating_score}}","recommend":"{{rating_recommend}}"} -->
            <div class="item-brand-box">
                <p class="item-brand-text">Brand：</p>
                <p class="item-brand" style="color: {{brand_color}};">{{brand_name}}</p>
            </div>
            <div class="item-service-box">
                <p class="item-service-text">Service：</p>
                <p class="item-service">{{service_name}}</p>
            </div>
            <div class="item-tag-box">
                {{item_tags}}
            </div>
        </div>
        <div class="item-button-box {{item_button_class}}">
            BUY NOW
        </div>
    </div>
</div>
