<div class="page-sort-box">
    <img class="page-sort-icon" data-value="" src="image/sort.png" />
    <div class="sort-container">
        <div class="sort-triangle"></div>
        <div class="sort-selector">
            <div class="sort-list">
                <div class="sort-item" data-value="">
                    <div class="title">all</div>
                </div>
                <div class="sort-item" data-value="price">
                    <div class="title">sort by price</div>
                </div>
                <div class="sort-item" data-value="rating">
                    <div class="title">sort by rating</div>
                </div>
                <div class="sort-item" data-value="stock">
                    <div class="title">sort by stock</div>
                </div>
                <div class="sort-item" data-value="sales">
                    <div class="title">sort by sales</div>
                </div>
            </div>
        </div>
    </div>
</div>
