<div class="resource-item">
    <div class="resource-header">
        <a href="{{item_link}}">{{item_title}}</a>
        <span>{{item_date}}</span>
    </div>
    <div class="resource-body">
        <span>{{item_content}}</span>
        <div class="resource-actions">
            <div class="resource-action-group" data-action="view">
                <img src="{{view_icon}}" />
                <span>{{view_count}}</span>
            </div>
            <div class="{{like_group_class}}" data-action="like">
                <img src="{{like_icon}}" />
                <img src="{{like_active_icon}}" />
                <span>{{like_count}}</span>
            </div>
            <div class="{{unlike_group_class}}" data-action="unlike">
                <img src="{{unlike_icon}}" />
                <img src="{{unlike_active_icon}}" />
                <span>{{unlike_count}}</span>
            </div>
            <div class="resource-action-group" data-action="follow">
                <img src="{{follow_icon}}" />
                <span>{{follow_count}}</span>
            </div>
        </div>
    </div>
</div>
