<div class="resource-item">
    <div class="resource-header">
        <a href="{{item_link}}" class="resource-title">{{item_title}}</a>
        <span class="resource-date">{{item_date}}</span>
    </div>
    <div class="resource-body">
        <span class="resource-content">{{item_content}}</span>
        <div class="resource-actions">
            <div class="resource-action-group">
                <img src="{{view_icon}}" class="resource-action-icon" />
                <span class="resource-action-count">{{view_count}}</span>
            </div>
            <div class="{{like_group_class}}">
                <img src="{{like_icon}}"
                    class="resource-action-icon resource-action-icon-default resource-action-like-icon cursor-pointer" />
                <img src="{{like_active_icon}}"
                    class="resource-action-icon resource-action-icon-active resource-action-like-icon cursor-pointer" />
                <span class="resource-action-count">{{like_count}}</span>
            </div>
            <div class="{{unlike_group_class}}">
                <img src="{{unlike_icon}}"
                    class="resource-action-icon resource-action-icon-default resource-action-unlike-icon cursor-pointer" />
                <img src="{{unlike_active_icon}}"
                    class="resource-action-icon resource-action-icon-active resource-action-unlike-icon cursor-pointer" />
                <span class="resource-action-count">{{unlike_count}}</span>
            </div>
            <div class="resource-action-group">
                <img src="{{follow_icon}}" class="resource-action-icon" />
                <span class="resource-action-count">{{follow_count}}</span>
            </div>
        </div>
    </div>
</div>
