        <div class="flex-column article-content list-container list-container-page-scoll">
    <!-- 主标题 -->
    <section id="section-0" class="flex-column post-detail-section content-section">
        <span class="section-title">·Ut doloremque cupiditate aut et labore laboriosam.</span>
        <div class="section-content">
            <p>Quo quis itaque ipsa ut voluptas non illo saepe eius. Omnis quam dolore est deserunt a rerum
                enim nemo. Ut et quod a sint ratione quia eos odit sit. Saepe et velit earum. Rem temporibus
                quasi fuga aut corporis eveniet. Et velit sunt facilis. Non ut suscipit consectetur eos sunt
                alias distinctio et. Non soluta aut. Voluptatem et consequatur nesciunt. Est perferendis
                quas dolor corporis cupiditate sint omnis. Iusto rerum sed distinctio quis error.
                Repudiandae aperiam iure ipsa veniam porro officiis ut nam.</p>
        </div>
    </section>

    <!-- 内容章节 -->
    <section id="section-1" class="flex-column post-detail-section content-section">
        <span class="section-title">Perspiciatis ut cum eius ut sed ratione sed beatae rerum.</span>
        <div class="section-content">
            <p>Reprehenderit unde doloribus voluptatem veritatis hic. Omnis dolor dolorum. Perspiciatis ut
                est doloribus fuga sint. Quia blanditiis architecto fugit perspiciatis eveniet totam. Et
                eveniet inventore ducimus. Blanditiis vitae quod non cum ut voluptatem architecto.</p>
        </div>
    </section>

    <section id="section-2" class="flex-column post-detail-section content-section">
        <span class="section-title">Provident eligendi quo hic magni.</span>
        <div class="section-content">
            <p>Et eveniet inventore ducimus. Blanditiis vitae quod non cum ut voluptatem architecto. Fugit
                perspiciatis eveniet totam consectetur sunt accusamus. Omnis quam dolore est deserunt a
                rerum enim nemo.</p>
        </div>
    </section>

    <section id="section-3" class="flex-column post-detail-section content-section">
        <span class="section-title">Qui ab ea aliquid quo laboriosam asperiores asperiores porro architecto.
        </span>
        <div class="section-content">
            <p>Ut et quod a sint ratione quia eos odit sit. Saepe et velit earum. Rem temporibus quasi fuga
                aut corporis eveniet. Et velit sunt facilis. Non ut suscipit consectetur eos sunt alias
                distinctio et.</p>
        </div>
    </section>

    <section id="section-4" class="flex-column post-detail-section content-section">
        <span class="section-title">Provident eligendi quo hic magni.</span>
        <div class="section-content">
            <p>Non soluta aut. Voluptatem et consequatur nesciunt. Est perferendis quas dolor corporis
                cupiditate sint omnis. Iusto rerum sed distinctio quis error. Repudiandae aperiam iure ipsa
                veniam porro officiis ut nam.</p>
        </div>
    </section>

    <section id="section-5" class="flex-column post-detail-section content-section">
        <span class="section-title">Qui ab ea aliquid quo laboriosam asperiores asperiores porro architecto.
        </span>
        <div class="section-content">
            <p>Reprehenderit unde doloribus voluptatem veritatis hic. Omnis dolor dolorum. Perspiciatis ut
                est doloribus fuga sint. Quia blanditiis architecto fugit perspiciatis eveniet totam.</p>
            <image class="article-image" src="https://dummyimage.com/540x360" />
        </div>
    </section>

    <!-- 更多内容章节 -->
    <section id="section-6" class="flex-column post-detail-section content-section">
        <span class="section-title">Provident eligendi quo hic magni.</span>
        <div class="section-content">
            <p>Et eveniet inventore ducimus. Blanditiis vitae quod non cum ut voluptatem architecto. Fugit
                perspiciatis eveniet totam consectetur sunt accusamus.</p>
        </div>
    </section>

    <section id="section-7" class="flex-column post-detail-section content-section">
        <span class="section-title">Qui ab ea aliquid quo laboriosam asperiores asperiores porro architecto.
        </span>
        <div class="section-content">
            <p>Omnis quam dolore est deserunt a rerum enim nemo. Ut et quod a sint ratione quia eos odit
                sit. Saepe et velit earum. Rem temporibus quasi fuga aut corporis eveniet.</p>
        </div>
    </section>

    <section id="section-8" class="flex-column post-detail-section content-section">
        <span class="section-title">Provident eligendi quo hic magni.</span>
        <div class="section-content">
            <p>Et velit sunt facilis. Non ut suscipit consectetur eos sunt alias distinctio et. Non soluta
                aut. Voluptatem et consequatur nesciunt.</p>
        </div>
    </section>

    <section id="section-9" class="flex-column post-detail-section content-section">
        <span class="section-title">Qui ab ea aliquid quo laboriosam asperiores asperiores porro architecto.
        </span>
        <div class="section-content">
            <p>Est perferendis quas dolor corporis cupiditate sint omnis. Iusto rerum sed distinctio quis
                error. Repudiandae aperiam iure ipsa veniam porro officiis ut nam.</p>
        </div>
    </section>
    <div class="helpful-section-wrapper">
        <span class="text">Helpful? </span>
        <div class="resource-action-group resource-action-like">
            <span class="resource-action-label">Yes</span>
            <img src="image/like-count.png"
                class="resource-action-icon resource-action-like-icon cursor-pointer" />
            <i class="iconfont icon-dianzan icon-is-dianzan"></i>
        </div>
        <div class="resource-action-group resource-action-unlike">
            <span class="resource-action-label">No</span>
            <img src="image/unlike-count.png"
                class="resource-action-icon resource-action-unlike-icon cursor-pointer" />
            <i class="iconfont icon-dianzan icon-not-dianzan"></i>
        </div>
    </div>
    <!-- 分享组件 -->
    <div class="share-section post-detail-section" id="Share">
        <span class="share-label">Share</span>
        <div class="share-icons">
            <img class="share-icon facebook" src="image/detailpage/twitter.png" />
            <img class="share-icon twitter" src="image/detailpage/icon-x.png" />
            <img class="share-icon link" src="image/detailpage/icon-in.png" />
        </div>
    </div>
</div>
<div class="flex-column relate-items-section post-detail-section" id="otherpage">
    <span class="reviews-title other-pages-title">Other Pages</span>
    <!-- Best Items -->
    <div class="post-detail-pager">
        <div class="carousel-container" id="best-items">
            <div class="carousel-track">
                <!-- clone slides for infinite loop 1*4 = 8 items -->
                <div class="carousel-slide best-items-pager layout-vertical">
                    <div class="resource-page-item">
    <img class="resource-image" src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header item-title-box">
        <span class="item-title">Labore natus magni et et est.</span>
    </div>
    <div class="summary-section">
        <p class="fixed-text">Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                    <div class="resource-page-item">
    <img class="resource-image" src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header item-title-box">
        <span class="item-title">Labore natus magni et et est.</span>
    </div>
    <div class="summary-section">
        <p class="fixed-text">Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                    <div class="resource-page-item">
    <img class="resource-image" src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header item-title-box">
        <span class="item-title">Labore natus magni et et est.</span>
    </div>
    <div class="summary-section">
        <p class="fixed-text">Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                    <div class="resource-page-item">
    <img class="resource-image" src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header item-title-box">
        <span class="item-title">Labore natus magni et et est.</span>
    </div>
    <div class="summary-section">
        <p class="fixed-text">Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                </div>
                <div class="carousel-slide best-items-pager layout-vertical">
                    <div class="resource-page-item">
    <img class="resource-image" src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header item-title-box">
        <span class="item-title">Labore natus magni et et est.</span>
    </div>
    <div class="summary-section">
        <p class="fixed-text">Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                    <div class="resource-page-item">
    <img class="resource-image" src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header item-title-box">
        <span class="item-title">Labore natus magni et et est.</span>
    </div>
    <div class="summary-section">
        <p class="fixed-text">Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                    <div class="resource-page-item">
    <img class="resource-image" src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header item-title-box">
        <span class="item-title">Labore natus magni et et est.</span>
    </div>
    <div class="summary-section">
        <p class="fixed-text">Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                    <div class="resource-page-item">
    <img class="resource-image" src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header item-title-box">
        <span class="item-title">Labore natus magni et et est.</span>
    </div>
    <div class="summary-section">
        <p class="fixed-text">Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                </div>
            </div>
            <div class="carousel-indicators home-section-indicators">
                <div class="carousel-indicator home-section-indicator active"></div>
                <div class="carousel-indicator home-section-indicator"></div>
            </div>
        </div>
    </div>
</div>
