        <div class="flex-column article-content list-container list-container-page-scoll">
    <!-- 主标题 -->
    <section id="section-0" class="flex-column post-detail-section content-section">
        <span>·Ut doloremque cupiditate aut et labore laboriosam.</span>
        <div>
            <p>Quo quis itaque ipsa ut voluptas non illo saepe eius. Omnis quam dolore est deserunt a rerum
                enim nemo. Ut et quod a sint ratione quia eos odit sit. Saepe et velit earum. Rem temporibus
                quasi fuga aut corporis eveniet. Et velit sunt facilis. Non ut suscipit consectetur eos sunt
                alias distinctio et. Non soluta aut. Voluptatem et consequatur nesciunt. Est perferendis
                quas dolor corporis cupiditate sint omnis. Iusto rerum sed distinctio quis error.
                Repudiandae aperiam iure ipsa veniam porro officiis ut nam.</p>
        </div>
    </section>

    <!-- 内容章节 -->
    <section id="section-1" class="flex-column post-detail-section content-section">
        <span>Perspiciatis ut cum eius ut sed ratione sed beatae rerum.</span>
        <div>
            <p>Reprehenderit unde doloribus voluptatem veritatis hic. Omnis dolor dolorum. Perspiciatis ut
                est doloribus fuga sint. Quia blanditiis architecto fugit perspiciatis eveniet totam. Et
                eveniet inventore ducimus. Blanditiis vitae quod non cum ut voluptatem architecto.</p>
        </div>
    </section>

    <section id="section-2" class="flex-column post-detail-section content-section">
        <span>Provident eligendi quo hic magni.</span>
        <div>
            <p>Et eveniet inventore ducimus. Blanditiis vitae quod non cum ut voluptatem architecto. Fugit
                perspiciatis eveniet totam consectetur sunt accusamus. Omnis quam dolore est deserunt a
                rerum enim nemo.</p>
        </div>
    </section>

    <section id="section-3" class="flex-column post-detail-section content-section">
        <span>Qui ab ea aliquid quo laboriosam asperiores asperiores porro architecto.
        </span>
        <div>
            <p>Ut et quod a sint ratione quia eos odit sit. Saepe et velit earum. Rem temporibus quasi fuga
                aut corporis eveniet. Et velit sunt facilis. Non ut suscipit consectetur eos sunt alias
                distinctio et.</p>
        </div>
    </section>

    <section id="section-4" class="flex-column post-detail-section content-section">
        <span>Provident eligendi quo hic magni.</span>
        <div>
            <p>Non soluta aut. Voluptatem et consequatur nesciunt. Est perferendis quas dolor corporis
                cupiditate sint omnis. Iusto rerum sed distinctio quis error. Repudiandae aperiam iure ipsa
                veniam porro officiis ut nam.</p>
        </div>
    </section>

    <section id="section-5" class="flex-column post-detail-section content-section">
        <span>Qui ab ea aliquid quo laboriosam asperiores asperiores porro architecto.
        </span>
        <div>
            <p>Reprehenderit unde doloribus voluptatem veritatis hic. Omnis dolor dolorum. Perspiciatis ut
                est doloribus fuga sint. Quia blanditiis architecto fugit perspiciatis eveniet totam.</p>
            <image src="https://dummyimage.com/540x360" />
        </div>
    </section>

    <!-- 更多内容章节 -->
    <section id="section-6" class="flex-column post-detail-section content-section">
        <span>Provident eligendi quo hic magni.</span>
        <div>
            <p>Et eveniet inventore ducimus. Blanditiis vitae quod non cum ut voluptatem architecto. Fugit
                perspiciatis eveniet totam consectetur sunt accusamus.</p>
        </div>
    </section>

    <section id="section-7" class="flex-column post-detail-section content-section">
        <span>Qui ab ea aliquid quo laboriosam asperiores asperiores porro architecto.
        </span>
        <div>
            <p>Omnis quam dolore est deserunt a rerum enim nemo. Ut et quod a sint ratione quia eos odit
                sit. Saepe et velit earum. Rem temporibus quasi fuga aut corporis eveniet.</p>
        </div>
    </section>

    <section id="section-8" class="flex-column post-detail-section content-section">
        <span>Provident eligendi quo hic magni.</span>
        <div>
            <p>Et velit sunt facilis. Non ut suscipit consectetur eos sunt alias distinctio et. Non soluta
                aut. Voluptatem et consequatur nesciunt.</p>
        </div>
    </section>

    <section id="section-9" class="flex-column post-detail-section content-section">
        <span>Qui ab ea aliquid quo laboriosam asperiores asperiores porro architecto.
        </span>
        <div>
            <p>Est perferendis quas dolor corporis cupiditate sint omnis. Iusto rerum sed distinctio quis
                error. Repudiandae aperiam iure ipsa veniam porro officiis ut nam.</p>
        </div>
    </section>
    <div class="helpful-section-wrapper">
        <span>Helpful? </span>
        <div class="resource-action-group" data-action="like">
            <span>Yes</span>
            <img src="image/like-count.png" />
            <i class="iconfont icon-dianzan icon-is-dianzan"></i>
        </div>
        <div class="resource-action-group" data-action="unlike">
            <span>No</span>
            <img src="image/unlike-count.png" />
            <i class="iconfont icon-dianzan icon-not-dianzan"></i>
        </div>
    </div>
    <!-- 分享组件 -->
    <div class="share-section post-detail-section" id="Share">
        <span>Share</span>
        <div>
            <img src="image/detailpage/twitter.png" />
            <img src="image/detailpage/icon-x.png" />
            <img src="image/detailpage/icon-in.png" />
        </div>
    </div>
</div>
<div class="flex-column relate-items-section post-detail-section" id="otherpage">
    <span>Other Pages</span>
    <!-- Best Items -->
    <div class="post-detail-pager">
        <div class="carousel-container" id="best-items">
            <div class="carousel-track">
                <!-- clone slides for infinite loop 1*4 = 8 items -->
                <div class="carousel-slide best-items-pager layout-vertical">
                    <div class="resource-page-item">
    <img src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header">
        <span>Labore natus magni et et est.</span>
    </div>
    <div>
        <p>Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                    <div class="resource-page-item">
    <img src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header">
        <span>Labore natus magni et et est.</span>
    </div>
    <div>
        <p>Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                    <div class="resource-page-item">
    <img src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header">
        <span>Labore natus magni et et est.</span>
    </div>
    <div>
        <p>Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                    <div class="resource-page-item">
    <img src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header">
        <span>Labore natus magni et et est.</span>
    </div>
    <div>
        <p>Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                </div>
                <div class="carousel-slide best-items-pager layout-vertical">
                    <div class="resource-page-item">
    <img src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header">
        <span>Labore natus magni et et est.</span>
    </div>
    <div>
        <p>Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                    <div class="resource-page-item">
    <img src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header">
        <span>Labore natus magni et et est.</span>
    </div>
    <div>
        <p>Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                    <div class="resource-page-item">
    <img src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header">
        <span>Labore natus magni et et est.</span>
    </div>
    <div>
        <p>Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                    <div class="resource-page-item">
    <img src="image/detailpage/resource-other-page-card.jpg" alt="Other page cover" />
    <div class="resource-header">
        <span>Labore natus magni et et est.</span>
    </div>
    <div>
        <p>Voluptatem soluta possimus dolores perferendis repellendus enim. Aut vitae veniam voluptatibus quas quis ab consequatur occaecati sapiente. Eveniet maiores occaecati quia veniam ut.</p>
    </div>
</div>

                </div>
            </div>
            <div class="carousel-indicators home-section-indicators">
                <div class="carousel-indicator home-section-indicator active"></div>
                <div class="carousel-indicator home-section-indicator"></div>
            </div>
        </div>
    </div>
</div>
