<div class="search-card {{card_class}}">
  <div class="item-title-wrapper">
    <div class="item-title">{{item_title}}</div>
    <!-- @include ./item-like-button.html {"like_class":"{{like_class}}","like":"{{like}}","like_icon":"{{like_icon}}","like_alt":"{{like_alt}}","aria_label":"{{aria_label}}","aria_pressed":"{{aria_pressed}}"} -->
  </div>
  <div class="search-card-content">
    <div class="card-content">
      <div class="search-demand-meta-row search-demand-meta-row-top">
        <div class="item-brand-box">
          <p class="item-brand-text">{{brand_label}}</p>
          <p class="item-brand" style="color: {{brand_color}};">{{brand_value}}</p>
        </div>
        <div class="item-service-box">
          <p class="item-service-text">{{service_label}}</p>
          <p class="item-service">{{service_value}}</p>
        </div>
        <div class="item-service-box">
          <p class="item-service-text">{{quantity_label}}</p>
          <p class="item-service">{{quantity_value}}</p>
        </div>
        <div class="item-stock-box">
          <p class="item-stock-text">{{total_price_label}}</p>
          <p class="item-stock">{{total_price_value}}</p>
        </div>
      </div>
      <div class="search-demand-meta-row search-demand-meta-row-bottom">
        <div class="item-stock-box">
          <p class="item-stock-text">{{price_range_label}}</p>
          <p class="item-stock">{{price_range_value}}</p>
        </div>
        <div class="item-stock-box search-demand-date-box">
          <img src="image/date-range.png" class="date-range" alt="">
          <p class="item-stock">{{date_range_value}}</p>
        </div>
      </div>
      <div class="item-tag-box">
        {{item_tags}}
      </div>
      <div class="bidder-info-wrapper">
        <span class="bidder-label">{{bidder_label}}</span>
        {{bidders_html}}
      </div>
    </div>
    <div class="buy-btn item-buy-btn">{{buy_text}}</div>
  </div>
  <div class="status-badge status-badge1" style="{{status_badge_style}}">
    <p>{{status_text}}</p>
  </div>
</div>
