<header>
            <div class="header-menu-box">
                <img class="header-menu" src="image/home-menu.png" />
            </div>
            <div class="header-box-wrapper">
                <!-- <div class="header-empty"></div> -->
                <a class="a-link-logo" href="index.html" target="_self">
                    <img class="header-logo" id="header-logo" alt="FastResp" src="image/logo.png" />
                </a>
                <!-- <div class="header-empty"></div> -->
                <!-- header search -->
                <div class="header-search-box">
                    <!-- header search more -->
                    <div class="header-search-box-label">
                        <label class="header-search-box-label-text">items</label>
                        <img class="header-search-box-label-icon" src="image/header-search-arrow.png" />
                        <div class="header-menu-container">
                            <div class="header-menu-selector">
                                <ul class="header-menu-list">
                                    <li class="header-menu-item" data-value="items">
                                        <h2 class="title">items</h2>
                                    </li>
                                    <li class="header-menu-item" data-value="stories">
                                        <h2 class="title">stories</h2>
                                    </li>
                                    <li class="header-menu-item" data-value="demands">
                                        <h2 class="title">demands</h2>
                                    </li>
                                    <li class="header-menu-item" data-value="posts">
                                        <h2 class="title">posts</h2>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- header search input -->
                    <span class="header-search-box-input-box">
                        <input class="header-search-box-input-box-input" type="text"
                            placeholder="Search for items, stores, demands..." onkeyup="handleEnterFn(event)" />
                        <img class="header-search-box-input-box-icon" alt="search button" src="image/header-search.png"
                            onclick="handleSearchFn(event)" />
                    </span>
                </div>
                <!-- header items -->
                <nav class="header-items">
                    <div class="header-items-label">
                        <a class="header-items-label-text" href="item-all.html" target="_self">Items</a>
                    </div>
                    <div class="header-items-label">
                        <a class="header-items-label-text" href="demand-all.html" target="_self">Demands</a>
                    </div>
                    <div class="header-items-label header-items-label-resource">
                        <div class="header-items-label-text">Resources</div>
                        <img src="image/header-items-arrow.png" class="header-items-label-icon" />
                        <div class="header-menu-container">
                            <div class="header-menu-selector">
                                <ul class="header-menu-list">
                                    <li class="header-menu-item" data-value="Adobe">
                                        <a class="title" href="resource-all.html?name=Adobe" target="_self">Adobe</a>
                                    </li>
                                    <li class="header-menu-item" data-value="Facebook">
                                        <a class="title" href="resource-all.html?name=Facebook"
                                            target="_self">Facebook</a>
                                    </li>
                                    <li class="header-menu-item" data-value="Google">
                                        <a class="title" href="resource-all.html?name=Google"
                                            target="_self">Google</a>
                                    </li>
                                    <li class="header-menu-item" data-value="Github">
                                        <a class="title" href="resource-all.html?name=Github" target="_self">Github</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header-items-label header-items-label-post">
                        <p class="header-items-label-text">Posts</p>
                        <img src="image/header-items-arrow.png" class="header-items-label-icon" />
                        <div class="header-menu-container">
                            <div class="header-menu-selector">
                                <div class="header-menu-list">
                                    <a class="header-menu-item" data-value="Blog" href="post-all.html?name=Blog"
                                        target="_self">
                                        <div class="title">Blog</div>
                                        <div class="content">Explore the latest articles, insights, and expertopinions
                                            on
                                            various
                                            topics.</div>
                                    </a>
                                    <a class="header-menu-item" data-value="News" href="post-all.html?name=News"
                                        target="_self">
                                        <div class="title">News</div>
                                        <div class="content">Explore the latest articles, insights, and expertopinions
                                            on
                                            various
                                            topics.</div>
                                    </a>
                                    <a class="header-menu-item" data-value="Google" href="post-all.html?name=Google"
                                        target="_self">
                                        <div class="title">Google</div>
                                        <div class="content">Explore the latest articles, insights, and expertopinions
                                            on
                                            various
                                            topics.</div>
                                    </a>
                                    <a class="header-menu-item" data-value="Github" href="post-all.html?name=Github"
                                        target="_self">
                                        <div class="title">Github</div>
                                        <div class="content">Explore the latest articles, insights, and expertopinions
                                            on
                                            various
                                            topics.</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- header become seller -->
                    <div class="header-items-label">
                        <a class="header-seller-text" target="_self" href="become-seller.html">Become a seller</a>
                    </div>
                </nav>
            </div>

            <div class="header-user-info-box">
                <!-- header sign in -->
                <div class="header-signin" id="header-signin">
                    <span class="header-signin-text">SIgn in</span>
                </div>
                <!-- header join -->
                <div class="header-join" id="header-join">
                    <span class="header-join-text">join</span>
                </div>
                <!-- header user -->
                <div class="header-user-box" id="header-user">
                    <div class="item item-money">
                        <i class="iconfont icon-jinbi1"></i>
                        <div class="us-money-box">
                            <span>US$661.00</span>
                            <i class="iconfont icon-sanjiaoxing_shang"></i>
                        </div>
                    </div>
                    <div class="item item-notice">
                        <i class="iconfont icon-youjian"></i>
                        <span class="badge">20</span>
                    </div>
                    <div class="item item-avatar header-avatar">
                        <!-- 头像图片 -->
                        <img src="https://dummyimage.com/32x32" class="header-user-icon" alt="头像图片">
                        <!-- 无头像图片就取用户名第一个字 -->
                        <div class="header-user-avatar-box">E</div>
                    </div>
                </div>
            </div>
        </header>
