<footer class="common-footer-wrapper">
    <div class="footer-content">
        <div class="footer-item-content footer-item-content-open">
            <div class="footer-item-title-box">
                <strong>About</strong>
                <span></span>
            </div>
            <div class="footer-item-desc-box">
                <a href="brand-service.html">About us</a>
                <a href="blog.html">Careers</a>
                <a href="system-post-detail.html">Our impact</a>
                <a href="faq-detail.html">Contact us</a>
                <a href="system-post-detail.html">Trust, safety & security</a>
            </div>
        </div>
        <div class="footer-item-content">
            <div class="footer-item-title-box">
                <strong>For Buyer</strong>
                <span></span>
            </div>
            <div class="footer-item-desc-box">
                <a href="attribute-all.html">Any Hire</a>
                <a href="faq-detail.html">how to hire</a>
                <a href="tag-all.html">Hire worldwide</a>
                <a href="system-post-detail.html">Direct Contracts</a>
                <a href="brand-service.html">Talent Marketplace</a>
            </div>
        </div>
        <div class="footer-item-content">
            <div class="footer-item-title-box">
                <strong>For Seller</strong>
                <span></span>
            </div>
            <div class="footer-item-desc-box">
                <a href="faq-detail.html">How to find work</a>
                <a href="system-post-detail.html">Direct Contracts</a>
                <a href="tag-all.html">Find freelance jobs worldwide</a>
                <a href="blog.html">Win work with ads</a>
                <a href="attribute-all.html">Exclusive resources with Freelancer Plus</a>
            </div>
        </div>
        <div class="footer-item-content">
            <div class="footer-item-title-box">
                <strong>Resources</strong>
                <span></span>
            </div>
            <div class="footer-item-desc-box">
                <a href="faq-detail.html">Help & support</a>
                <a href="blog.html">Success stories</a>
                <a href="system-post-detail.html">Resources</a>
            </div>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="bottom-copy-right-content">
        <img src="image/logo.png" alt="">
        <div class="left-part-wrapper">
            <span>Follow us:</span>
            <i class="iconfont icon-facebook1"></i>
            <i class="iconfont icon-logo2"></i>
            <i class="iconfont icon-instagram"></i>
        </div>
        <div class="right-part-wrapper">
            <div>Copyright ©2025 Produced by fastresp</div>
            <span><span class="language-btn">Arabic</span> <span class="gmt-btn">GMT+8</span><span
                    class="currency-btn">₼ AZN</span></span>
        </div>
    </div>
</footer>
