<div class="cookies-tips-wrapper">
    <div class="cookies-tips-content">
        <div class="text">We use cookies to enhance your experience, analyze site usage, and deliver personalized
            content. By continuing to use this site, you consent to our use of cookies as described in our <a
                class="cookie-href" href="javascript:;">Cookie Policy</a>.</div>
        <div class="btns-wrapper">
            <div class="accept-btn cookies-accept-btn">Accept All</div>
            <div class="customize-btn cookies-customize-btn">Customize</div>
        </div>
    </div>
    <div class="cookies-feature-wrapper">
        <div class="cookies-feature-content-wrapper">
            <div class="cookies-feature-title">Cookie Preferences</div>
            <div class="cookies-feature-list">
                <div class="cookies-feature-item">
                    <input type="checkbox" id="cookiesFeature1" disabled checked name="hobbies" value="">
                    <label for="cookiesFeature1" class="cookies-feature-label">
                        <span>Essential Cookies (Required for site functionality)</span>
                    </label>
                </div>
                <div class="cookies-feature-item">
                    <input type="checkbox" id="cookiesFeature2" name="hobbies" value="">
                    <label for="cookiesFeature2" class="cookies-feature-label">
                        <span>Analytics Cookies (Help us improve the site)</span>
                    </label>
                </div>
                <div class="cookies-feature-item">
                    <input type="checkbox" id="cookiesFeature3" name="hobbies" value="">
                    <label for="cookiesFeature3" class="cookies-feature-label">
                        <span>Marketing Cookies (Personalized ads and content)</span>
                    </label>
                </div>
            </div>
            <div class="cookies-feature-save-btn">
                <div class="feature-accept-btn">Save Preferences</div>
            </div>
        </div>
    </div>
</div>
