<footer class="common-footer-wrapper">
    <div class="footer-content">
        <div class="footer-item-content">
            <div class="footer-item-title-box">
                <strong class="footer-item-title">About</strong>
                <img class="footer-item-title-icon" src="image/foot_toggle_arrow.png"
                    style="transform: rotate(180deg);" />
            </div>
            <div class="footer-item-desc-box">
                <a class="footer-item-text">About us</a>
                <a class="footer-item-text">Careers</a>
                <a class="footer-item-text">Our impact</a>
                <a class="footer-item-text">Contact us</a>
                <a class="footer-item-text">Trust, safety & security</a>
            </div>
        </div>
        <div class="footer-item-content">
            <div class="footer-item-title-box">
                <strong class="footer-item-title">For Buyer</strong>
                <img class="footer-item-title-icon" src="image/foot_toggle_arrow.png"
                    style="transform: rotate(180deg);" />
            </div>
            <div class="footer-item-desc-box">
                <a class="footer-item-text">Any Hire</a>
                <a class="footer-item-text">how to hire</a>
                <a class="footer-item-text">Hire worldwide</a>
                <a class="footer-item-text">Direct Contracts</a>
                <a class="footer-item-text">Talent Marketplace</a>
            </div>
        </div>
        <div class="footer-item-content">
            <div class="footer-item-title-box">
                <strong class="footer-item-title">For Seller</strong>
                <img class="footer-item-title-icon" src="image/foot_toggle_arrow.png"
                    style="transform: rotate(180deg);" />
            </div>
            <div class="footer-item-desc-box">
                <a class="footer-item-text">How to find work</a>
                <a class="footer-item-text">Direct Contracts</a>
                <a class="footer-item-text">Find freelance jobs worldwide</a>
                <a class="footer-item-text">Win work with ads</a>
                <a class="footer-item-text">Exclusive resources with Freelancer Plus</a>
            </div>
        </div>
        <div class="footer-item-content">
            <div class="footer-item-title-box">
                <strong class="footer-item-title">Resources</strong>
                <img class="footer-item-title-icon" src="image/foot_toggle_arrow.png"
                    style="transform: rotate(180deg);" />
            </div>
            <div class="footer-item-desc-box">
                <a class="footer-item-text">Help & support</a>
                <a class="footer-item-text">Success stories</a>
                <a class="footer-item-text">Resources</a>
            </div>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="bottom-copy-right-content">
        <img src="image/logo.png" class="footer-logo" alt="">
        <div class="left-part-wrapper">
            <span class="follow-us-text">Follow us:</span>
            <i class="iconfont icon-facebook1"></i>
            <i class="iconfont icon-logo2"></i>
            <i class="iconfont icon-instagram"></i>
        </div>
        <div class="right-part-wrapper">
            <div class="copy-right">Copyright ©2025 Produced by fastresp</div>
            <span class="item-gmt"><span class="language-btn">Arabic</span> <span class="gmt-btn">GMT+8</span><span
                    class="currency-btn">₼ AZN</span></span>
        </div>
    </div>
</footer>
