<div class="item-detail-review-item">
  <div class="page-section item-detail-review-card">
    <div class="flex-column item-detail-review-box">
      <div class="flex-row item-detail-review-user-box">
        <img class="item-detail-review-user-avatar" src="{{review_user_avatar}}" />
        <div class="flex-column item-detail-review-user-name-box">
          <span class="item-detail-review-user-name">{{review_user_name}}</span>
          <span class="item-detail-review-user-time">{{review_user_time}}</span>
        </div>
        <div class="flex-row item-detail-review-user-status-box">
          <img class="item-detail-review-user-status-icon" src="{{review_status_icon}}" />
          <span class="item-detail-review-user-status-text">{{review_status_text}}</span>
        </div>
      </div>
      <span class="item-detail-review-content">{{review_content}}</span>
      <!-- @include ./rating-score-only.html {"width":"{{rating_width}}","score":"{{rating_score}}"} -->
      <div class="flex-row item-detail-review-info-box">
        <div class="flex-column item-detail-review-info-item">
          <span class="item-detail-review-info-title">{{review_price}}</span>
          <span class="item-detail-review-info-desc">Price</span>
        </div>
        <div class="item-detail-review-info-line"></div>
        <div class="flex-column item-detail-review-info-item">
          <span class="item-detail-review-info-title">{{review_quantity}}</span>
          <span class="item-detail-review-info-desc">Quantity</span>
        </div>
        <div class="item-detail-review-info-line"></div>
        <div class="flex-column item-detail-review-info-item icon">
          <img class="item-detail-review-info-icon" src="{{review_info_icon}}" />
        </div>
      </div>
    </div>
    <div class="item-detail-review-line"></div>
    <div class="flex-column item-detail-reiviewer-box">
      <div class="flex-row item-detail-reviewer-user-box">
        <img class="item-detail-reviewer-user-icon" src="{{reviewer_avatar}}" />
        <span class="item-detail-reviewer-user-name">{{reviewer_name}}</span>
        <div class="item-detail-reviewer-user-empty"></div>
        <img class="item-detail-reviewer-arrow" src="image/detailpage/arrow-down.png" style="{{reviewer_arrow_style}}" />
      </div>
      <span class="item-detail-reviewer-content" style="{{reviewer_content_style}}">{{reviewer_content}}</span>
    </div>
  </div>
  <div class="flex-row item-detail-review-tool-box">
    <span class="item-detail-review-tool-text">Helpful?</span>
    <div class="flex-row item-detail-review-tool-item {{helpful_yes_class}}" id="review-like">
      <img class="item-detail-review-tool-icon item-detail-review-tool-icon-yes" src="{{helpful_yes_icon}}" />
      <i class="iconfont icon-dianzan item-detail-review-tool-icon-yes"></i>
      <span class="item-detail-review-tool-text">Yes</span>
    </div>
    <div class="flex-row item-detail-review-tool-item {{helpful_no_class}}" id="review-unlike">
      <img class="item-detail-review-tool-icon item-detail-review-tool-icon-no" src="{{helpful_no_icon}}" />
      <i class="iconfont icon-dianzan icon-not-dianzan item-detail-review-tool-icon-no"></i>
      <span class="item-detail-review-tool-text">No</span>
    </div>
  </div>
</div>
