
.compaign-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 337px;
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
    border: #f0f0f3 solid 1px;
}
.compaign-item-icon {
    width: 100%;
    aspect-ratio: 297/210;
    border-radius: 30px;
    overflow: hidden;
}
.compaign-item-like {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 24px;
    height: 24px;
}
.compaign-item-title-box {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.compaign-item-title {
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.compaign-item-number-box {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.compaign-item-number-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.compaign-item-number {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.compaign-item-sale-box {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.compaign-item-sale-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.compaign-item-sale {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.compaign-item-order-box {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.compaign-item-order-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.compaign-item-order {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.compaign-item-favorite-box {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.compaign-item-favorite-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.compaign-item-favorite {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.compaign-item-products-box {
    margin-top: 5px;
    flex: 1;
    flex-shrink: 1;
}
.compaign-item-products-text {
    display: initial;
    margin: 0;
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.compaign-item-products {
    display: initial;
    margin: 0;
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}
.compaign-item-tag-box {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.compaign-item-tag {
    padding: 4px 8px;
    border-radius: 16px;
    height: 32px;
    border: #d9d9d9 solid 1px;
}
.compaign-item-tag-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}