
.best-items-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 337px;
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
    border: #f0f0f3 solid 1px;
}
.best-items-item-icon {
    width: 100%;
    aspect-ratio: 297/210;
    border-radius: 30px;
    overflow: hidden;
}
.best-items-item-like {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 24px;
    height: 24px;
}
.best-items-item-title-box {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.best-items-item-title {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.best-items-item-mark {
    padding: 4px 8px;
    border-radius: 0;
    border-bottom-right-radius: 8px;
    color: #fff;
    font-family: var(--primary-popfont);
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

.best-items-item-price-box {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.best-items-item-price-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.best-items-item-price {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.best-items-item-stock-box {
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.best-items-item-stock-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.best-items-item-stock {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.best-items-item-star-box {
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.best-items-item-star-score {
    color: rgba(0, 0, 0, 0.85);
    font-family: var(--primary-robotofont);
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
}
.best-items-item-star-recommend {
    color: var(--gray-color);
    font-family: var(--primary-robotofont);
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.best-items-item-brand-box {
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.best-items-item-brand-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.best-items-item-brand {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.best-items-item-service-box {
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.best-items-item-service-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.best-items-item-service {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.best-items-item-tag-box {
    width: 100%;
    flex: 1;
    flex-grow: 0;
    flex-shrink: 1;
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.best-items-item-tag {
    padding: 4px 8px;
    border-radius: 16px;
    height: 32px;
    border: #d9d9d9 solid 1px;
}
.best-items-item-tag-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.best-items-item-empty-box {
    flex: 1;
    flex-shrink: 1;
}
.best-items-item-button-box {
    margin-top: 10px;
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.85);
    font-family: var(--primary-robotofont);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.best-items-item-button-box-highlight {
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 0.85);
}