.post-item {
    position: relative;
    display: flex;
    gap: 30px;
    padding: 40px 40px 40px 40px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
    border: #f0f0f3 solid 1px;
}
.post-item-like {
    position: absolute;
    right: 62px;
    top: 48px;
    width: 24px;
    height: 24px;
}
.post-item-icon {
    width: 430px;
    min-width: 430px;
    max-width: 430px;
    aspect-ratio: 430/390;
    overflow: hidden;
}
.post-item-right-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.post-item-title-box {
    margin-right: 133px;
    width: 586px;
    height: 80px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}
.post-item-title {
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}
.post-item-user-box {
    display: flex;
    align-items: center;
}
.post-item-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.post-item-user {
    margin-left: 10px;
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-item-desc-box {
    height: 76px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}
.post-item-desc {
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
}
.post-item-brand-box {
    display: flex;
    align-items: center;
}
.post-item-brand-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.post-item-brand {
    margin-left: 10px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-item-kind-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}
.post-item-kind-text {
    margin-right: 4px;
    color: #000;
    font-family: var(--primary-popfont);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.post-item-tag {
    padding: 4px 8px;
    border-radius: 16px;
    height: 32px;
    border: #d9d9d9 solid 1px;
}
.post-item-tag-text {
    color: var(--gray-color);
    font-family: var(--primary-popfont);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}